﻿@model List<MKF.Web.Models.TipoParceriaViewModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";

    <link href="~/Content/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Administrativo</a>
        </li>
        <li class="active">Tipo Parceria</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Consultar Tipo Parceria
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "TipoParceria", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-info">
                            <i class="ace-icon fa fa-search"></i>Buscar
                        </button>

                        <a href="@Url.Action("Create", "TipoParceria")" class="btn btn-info" data-original-title="Novo">
                            <i class="ace-icon fa fa-check bigger-110"></i> Novo
                        </a>
                    </div>
                </div>

                if (Model != null)
                {
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> Nome </th>
                                <th> Status  </th>
                                <th> Ações </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.Nome </td>
                                    <td>
                                        @if (item.Status == 0)
                                        {
                                            <span class="label label-sm label-success"> Ativo </span>
                                        }
                                        else
                                        {
                                            <span class="label label-sm label-danger"> Inativo </span>
                                        }
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <a href="@Url.Action("Edit", "TipoParceria", new { @id = item.Id, @url = Url.Action("Create", "TipoParceria") })" class="blue editar" data-original-title="Editar">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                            <a href="#" id="@item.Id" data-url="@Url.Action("Delete", "TipoParceria")" data-control="TipoParceria" class="red excluir" data-original-title="Excluir">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>
<script src="~/Contents/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/Contents/components/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Contents/components/_mod/datatables/jquery.dataTables.bootstrap.js"></script>

<script>
    $(document).ready(function () {

        $('#dynamic-table').dataTable({
            destroy: true,
            searching: false,
            ordering: false,
            "bJQueryUI": true,
            "oLanguage": {
                "sProcessing": "Processando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Não foram encontrados resultados",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "sInfoFiltered": "",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Seguinte",
                    "sLast": "Último"
                }
            }
        });
    });
</script>
<script src="~/Contents/assets/js/DeleteItem.js"></script>