﻿@model MKF.Web.Models.EventoModels
<div id="dadosEvento">
    <div class="form-group">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Url)
        @Html.HiddenFor(m => m.IdEndereco)
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Nome)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Edicao)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Edicao, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Edicao, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Descricao)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Descricao, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.DataInicio)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.DataInicio, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DataInicio, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.DataFim)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.DataFim, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DataFim, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Telefone)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control fone" })
            @Html.ValidationMessageFor(m => m.Telefone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Celular)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.Celular, new { @class = "form-control celular" })
            @Html.ValidationMessageFor(m => m.Celular, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Facebook)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Facebook, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Twitter)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Twitter, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Instagram)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Instagram, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Imagem)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            <input type='file' id="Imagem" />
            <img id="blah" src="#" alt="your image" height="100" width="100" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        $(".fone").inputmask("(99) 9999-9999", {
            autoUnmask: true
        });

        $(".celular").inputmask("(99) 99999-9999", {
            autoUnmask: true
        });

        jQuery.datetimepicker.setLocale('pt-BR');
        $('#DataInicio').datetimepicker({
            timepicker: true,
            format: 'd/m/Y H:i',
            step: 10
        });

        $('#DataFim').datetimepicker({
            timepicker: true,
            format: 'd/m/Y H:i',
            step: 10
        });

        $("#blah").hide();

        $("#Imagem").change(function () {
            readURL(this);
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);

            $("#blah").show();
        }
    }
</script>