﻿@model MKF.Web.Models.Comum.EnderecoModels

<div id="dadosEnderecoEvento">
    <div class="form-group">
        @Html.HiddenFor(e => e.Tipo)
        @Html.HiddenFor(e => e.Id)
        <div class="control-label col-md-3">
            @Html.LabelFor(e => e.Cep)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(e => e.Cep, new { @class = "form-control cep" })
            @Html.ValidationMessageFor(e => e.Cep, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(e => e.Logradouro)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(e => e.Logradouro, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Logradouro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(e => e.Numero)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(e => e.Numero, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Numero, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(e => e.Complemento)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(e => e.Complemento, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Complemento, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(e => e.Bairro)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(e => e.Bairro, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Bairro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(e => e.Cidade)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(e => e.Cidade, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Cidade, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(e => e.Estado)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.DropDownListFor(e => e.Estado, MKF.Web.Infra.Funcoes.Ufs(string.Empty), "Selecione", new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Estado, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.cep').inputmask('99999-999', {
        autoUnmask: true
    });
</script>