﻿@model MKF.Web.Models.Comum.UsuarioModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Administrativo</a>
        </li>
        <li class="active">Usuário</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Cadastrar Usuário
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12">
            @{using (Html.BeginForm("Create", "Usuario", FormMethod.Post, new { @class = "form-horizontal", @id = "basic_validate" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.DadosPessoais.IdEmpresa)
                    @Html.HiddenFor(m => m.DadosPessoais.Id)
                    @Html.HiddenFor(m => m.DadosPessoais.Tipo)
                    @Html.HiddenFor(m => m.TipoAcesso)
                    @Html.HiddenFor(m => m.CodigoAcesso)
                    @Html.HiddenFor(m => m.IdPessoa)
                    @Html.HiddenFor(m => m.Url)
                    @Html.HiddenFor(m => m.Senha)
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nome Completo <span class="text-danger"> * </span></label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.DadosPessoais.Nome, new { @class = "col-xs-10 col-sm-5", @autocomplete = "off", @placeholder = "Nome Completo" })
                            @Html.ValidationMessageFor(m => m.DadosPessoais.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> CPF <span class="text-danger"> * </span></label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.DadosPessoais.Cpf, new { @class = "col-xs-10 col-sm-3", @autocomplete = "off", @placeholder = "CPF" })
                            @Html.ValidationMessageFor(m => m.DadosPessoais.Cpf, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Usuário <span class="text-danger"> * </span></label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.User, new { @class = "col-xs-10 col-sm-5", @autocomplete = "off", @placeholder = "Usuário" })
                            @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @if (!Model.Id.HasValue)
                        {
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Senha <span class="text-danger"> * </span></label>
                        }
                        else
                        {
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Senha </label>
                        }

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Password, new { @class = "col-xs-10 col-sm-5", @autocomplete = "off", @placeholder = "Senha", @type = "password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Status <span class="text-danger"> * </span></label>

                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.Status, MKF.Web.Infra.Funcoes.StatusList(), "Selecione", new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="@Url.Action("Index", "Usuario")" class="btn btn-info" data-original-title="Novo">
                                <i class="ace-icon fa fa-reply bigger-110"></i> Voltar
                            </a>

                            <button type="button" class="btn btn-success" id="btnSalvar">
                                <i class="ace-icon fa fa-check"></i> Salvar
                            </button>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var urlIndex = '@Url.Action("Index", "Usuario")';
    var urlCreate = '@Url.Action("Create", "Usuario")';
</script>

<script src="~/Contents/assets/pages/Mensagem.js"></script>
<script src="~/Contents/assets/pages/Usuario/AdmUsuario.js"></script>