﻿@model MKF.Web.Models.ModeloViewModels
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">Autorização de imagem</h4>
                <span class="widget-toolbar">
                    <a href="#" data-action="collapse" id="printAuto">
                        <i class="ace-icon fa fa-print"></i>
                    </a>
                </span>
            </div>
            <div class="widget-body" style="height:400px; overflow:auto">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8">
                            <!-- #section:elements.form -->
                            <div class="form-group autoriz" id="autorizacao">
                                <div class="col-sm-12">
                                    @Html.Raw(HttpUtility.HtmlDecode(Model.Autorizacao.Dados))
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <span class="help-inline col-xs-12 col-sm-7">
            <label class="middle">
                <input class="ace" type="checkbox" id="idautorizacao" />
                <span class="lbl" style="font-size:15pt;"> Li e estou de acordo com a autorização acima</span>
            </label>
        </span>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#printAuto").click(function (e) {
            e.preventDefault();

            var conteudo = $(".autoriz").html();
            tela_impressao = window.open('about:blank');

            tela_impressao.document.write(conteudo);
            tela_impressao.window.print();
            tela_impressao.window.close();
        });
    });
</script>