﻿@model MKF.Web.Models.SeletivaViewModels
<div id="dadosSeletiva">
    <div class="form-group">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Url)
        @Html.HiddenFor(m => m.IdEndereco)
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.IdEvento)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.IdEvento, MKF.Web.Infra.Funcoes.EventosList(), "Selecione", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IdEvento, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Nome)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Descricao)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Descricao, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.DataInicio)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.DataInicio, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DataInicio, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.DataFim)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.DataFim, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DataFim, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Valor)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.Valor, new { @class = "form-control money" })
            @Html.ValidationMessageFor(m => m.Valor, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.QtdInscricaoHorario)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.QtdInscricaoHorario, new { @class = "form-control numeros" })
            @Html.ValidationMessageFor(m => m.QtdInscricaoHorario, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            <label>Imagem</label>
        </div>
        <div class="col-md-4">
            <input type='file' id="files" />
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.IdRegulamento)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.IdRegulamento, MKF.Web.Infra.Funcoes.RegulamentosList(), "Selecione", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IdRegulamento, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        jQuery.datetimepicker.setLocale('pt-BR');
        $('#DataInicio').datetimepicker({
            timepicker: true,
            format: 'd/m/Y H:i',
            step: 10
        });

        $('#DataFim').datetimepicker({
            timepicker: true,
            format: 'd/m/Y H:i',
            step: 10
        });

        $("#blah").hide();

        $("#Imagem").change(function () {
            readURL(this);
        });

        $(".money").inputmask('decimal', {
            alias: 'decimal',
            'groupSeparator': '.',
            'autoGroup': true,
            'digits': 2,
            'digitsOptional': false,
            'prefix': ' ',
            'placeholder': '0',
            'showMaskOnHover': false,
            'rightAlign': false,
            'showMaskOnFocus': false,
            radixPoint: ","
        });

        $('.numeros').keyup(function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

        if (window.File && window.FileList && window.FileReader) {
            $("#files").on("change", function (e) {
                var files = e.target.files,
                  filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {
                        var file = e.target;
                        $("<br/><span class=\"pip\">" +
                          "<img height=\"50%\" width=\"50%\" class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                          "<br/><input type=\"button\" value=\"Remover\" class=\"btn btn-outline red remove\">" +
                          "</span>").insertAfter("#files");
                        $(".remove").click(function () {
                            $(this).parent(".pip").remove();
                        });
                    });
                    fileReader.readAsDataURL(f);
                }
            });
        } else {
            alert("Your browser doesn't support to File API")
        }
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);

            $("#blah").show();
        }
    }
</script>