﻿@model MKF.Web.Models.ModeloViewModels

<style>
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
</style>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="form-horizontal" id="formcrianca">
            @Html.HiddenFor(m => m.IdEvento)
            @Html.HiddenFor(m => m.IdSeletiva)
            @Html.HiddenFor(m => m.ValorSeletiva)
            @Html.HiddenFor(m => m.Url)
            @Html.HiddenFor(m => m.Crianca.Id)
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Se você já fez sua inscrição, consulte o status aqui</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Inscricao, new { @class = "col-xs-10 col-sm-6", @placeholder = "Inscrição", @maxlength = "20" })<button class="btn btn-success getInscricao">Buscar</button>
                    </div>
                </div>
                <div class="form-group imgCrianca">
                    <form enctype="multipart/form-data">
                        <label class="col-sm-3 control-label no-padding-right"></label>
                        <div class="col-sm-9">
                            <h2 class="red">Escolha uma imagem de Rosto e outra de corpo inteiro</h2>

                            @*<input multiple="" type="file" id="files" />*@

                            <div class="upload-btn-wrapper">
                                <button class="btn btn-info">Carregar primeira imagem</button>
                                <br />
                                <input type="file" name="myfile" id="files" accept="image/jpeg, image/png" />
                            </div>
                            <div class="upload-btn-wrapper">
                                <button class="btn btn-info">Carregar segunda imagem</button>
                                <br />
                                <input type="file" name="myfile2" id="file2" accept="image/jpeg, image/png" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Rg, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Crianca.Rg, new { @class = "col-xs-10 col-sm-6", @placeholder = "RG", @maxlength = "20" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Cpf, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Crianca.Cpf, new { @class = "col-xs-10 col-sm-6 Cpf", @placeholder = "CPF", @maxlength = "14" })
                    </div>
                </div>
                <!-- #section:elements.form -->
                <div class="form-group">
                    @Html.LabelFor(m => m.SeletivaNome, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.SeletivaNome, new { @class = "col-xs-10 col-sm-8", @placeholder = "Nome", @disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.HorarioDesfile, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.HorarioDesfile, MKF.Web.Infra.Funcoes.HorarioApresentacaoList(Model.DataInicioSeletiva, Model.DataFimSeletiva, Model.IntervaloApresentacao, Model.IdSeletiva.Value, Model.IdEvento.Value, "I"), "Selecione", new { @class = "col-xs-10 col-sm-8" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Nome, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Crianca.Nome, new { @class = "col-xs-10 col-sm-8 required", @placeholder = "Nome completo", @maxlength = "100" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.DataNascimento, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.Crianca.DataNascimento, new { @class = "col-xs-10 col-sm-5 date", @placeholder = "Data de nascimento", @OnBlur = "calcularIdade(this.value);" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Idade, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-2">
                        @Html.TextBoxFor(m => m.Idade, new { @class = "col-xs-10 col-sm-5", @placeholder = "Idade", @maxlength = "2", @Readonly = true })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Sexo, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.Crianca.Sexo, MKF.Web.Infra.Funcoes.SexoList(), "Selecione", new { @class = "col-xs-10 col-sm-8" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Instagram, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Crianca.Instagram, new { @class = "col-xs-10 col-sm-8", @placeholder = "Instagram", @maxlength = "50" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Email, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Crianca.Email, new { @class = "col-xs-10 col-sm-8", @placeholder = "E-mail", @maxlength = "100" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Nacionalidade, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Crianca.Nacionalidade, new { @class = "col-xs-10 col-sm-8", @placeholder = "Nacionalidade", @maxlength = "100" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Endereco.Cep, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Crianca.Endereco.Cep, new { @class = "col-xs-10 col-sm-3 cepCri", @placeholder = "Cep" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Endereco.Logradouro, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Crianca.Endereco.Logradouro, new { @class = "col-xs-10 col-sm-8", @placeholder = "Logradouro", @maxlength = "100" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Endereco.Numero, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Crianca.Endereco.Numero, new { @class = "col-xs-10 col-sm-5", @placeholder = "Numero", @maxlength = "10" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Endereco.Complemento, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Crianca.Endereco.Complemento, new { @class = "col-xs-10 col-sm-8", @placeholder = "Complemento", @maxlength = "40" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Endereco.Bairro, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Crianca.Endereco.Bairro, new { @class = "col-xs-10 col-sm-8", @placeholder = "Bairro", @maxlength = "100" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Endereco.Cidade, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Crianca.Endereco.Cidade, new { @class = "col-xs-10 col-sm-8", @placeholder = "Cidade", @maxlength = "100" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Crianca.Endereco.Estado, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.Crianca.Endereco.Estado, MKF.Web.Infra.Funcoes.Ufs(""), "Selecione", new { @class = "col-xs-10 col-sm-3" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="my-modal-m" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="widget-box widget-color-blue">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title smaller">Situação da inscrição!</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="my-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Situação</label>
                                    <div class="col-sm-9">
                                        @Html.TextBox("StatusInscricao", "", new { @class = "col-xs-10 col-sm-8", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Forma de pagamento</label>
                                    <div class="col-sm-9">
                                        @Html.TextBox("FormaPagamento", "", new { @class = "col-xs-10 col-sm-8", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Status pagamento</label>
                                    <div class="col-sm-9">
                                        @Html.TextBox("StatusPagamento", "", new { @class = "col-xs-10 col-sm-8", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Cód. PagSeguro</label>
                                    <div class="col-sm-9">
                                        @Html.TextBox("CodPagSeguro", "", new { @class = "col-xs-10 col-sm-12", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-info pull-right concluir">
                        <i class="ace-icon fa fa-times"></i>
                        Concluir cadastro
                    </button>
                    <button class="btn btn-sm btn-danger pull-right closeM">
                        <i class="ace-icon fa fa-times"></i>
                        Close
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script src="~/Content/assets/components/jquery.maskedinput/dist/jquery.maskedinput.js"></script>
<script src="~/Content/assets/components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/components/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js"></script>
<script type="text/javascript">
    jQuery(function ($) {

        $('.concluir').hide();

        $('.date-picker').datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR'
        });

        $('#Idade').keyup(function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

        $('.Cpf').mask('999.999.999-99');

        $('.cepCri').mask('99999-999');
        $('.date').mask('99/99/9999');


        //$("#Crianca_DataNascimento").on("change", function (e) {
        //
        //    $("#Crianca_Idade").val(idade(this.val()));
        //});

        if (window.File && window.FileList && window.FileReader) {
            $("#files").on("change", function (e) {

                var files = e.target.files,
                  filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {

                        var file = e.target;
                        $("<div class=\"col-md-6 center bordered\" style=\"border:4px solid\"><span class=\"pip\">" +
                          "<img height=\"40%\" width=\"40%\" class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                          "<br /><input type=\"button\" value=\"Remover\" class=\"btn btn-danger remove\">" +
                          "</span></div>").insertAfter("#files");

                        $(".remove").click(function () {
                            $(this).closest("div").remove();
                        });
                    });
                    fileReader.readAsDataURL(f);
                }
            });

            $("#file2").on("change", function (e) {

                var files = e.target.files,
                    filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {

                        var file = e.target;
                        $("<div class=\"col-md-6 center bordered\" style=\"border:4px solid\"><span class=\"pip\">" +
                            "<img height=\"40%\" width=\"40%\" class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                            "<br /><input type=\"button\" value=\"Remover\" class=\"btn btn-danger remove\">" +
                            "</span></div>").insertAfter("#file2");

                        $(".remove").click(function () {
                            $(this).closest("div").remove();
                        });
                    });
                    fileReader.readAsDataURL(f);
                }
            });
        }
        else {
            alert("Your browser doesn't support to File API")
        }

        $('#id-input-file-3').ace_file_input({
            style: 'well',
            btn_choose: 'Clique para escolher',
            btn_change: null,
            no_icon: 'ace-icon fa fa-cloud-upload',
            droppable: true,
            thumbnail: 'fit' //'small'//large | fit
            //,icon_remove:null//set null, to hide remove/reset button
            /**,before_change:function(files, dropped) {
                //Check an example below
                //or examples/file-upload.html
                return true;
            }*/
            /**,before_remove : function() {
                return true;
            }*/
                    ,
            preview_error: function (filename, error_code) {
                //name of the file that failed
                //error_code values
                //1 = 'FILE_LOAD_FAILED',
                //2 = 'IMAGE_LOAD_FAILED',
                //3 = 'THUMBNAIL_FAILED'
                //alert(error_code);
            }

        }).on('change', function () {
            //console.log($(this).data('ace_input_files'));
            //console.log($(this).data('ace_input_method'));
        });

        $(document).on('click', '.getInscricao', function (e) {

            $("#loading").show();
            var item = $("#Inscricao").val();
            var itemSel = $("#IdSeletiva").val();
            var itemEvel = $("#IdEvento").val();

            var data = {
                inscricao: item,
                idEvento: itemEvel,
                idSeletiva: itemSel
            };

            var actionUrl = '@Url.Action("BuscarInscricao", "Inscricao")';
            $.getJSON(actionUrl, data, displayData);
        });

        $(document).on('click', '.closeM', function (e) {
            $("#my-modal-m").modal('hide');
        });

        $(document).on('change', '.cepCri', function (e) {

            e.preventDefault();

            $("#loading").show();

            var url = "https://viacep.com.br/ws/" + $(this).val() + "/json/";
            var item = $(this).data("id");
            $.ajax({
                url: url,
                //data: JSON.stringify(jsonObjEndereco),
                cache: false,
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.erro) {
                        $("#formcrianca").find('input[type=text],select').each(function () {

                            switch ($(this).attr("name")) {
                                case "Crianca.Endereco.Logradouro":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                case "Crianca.Endereco.Bairro":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                case "Crianca.Endereco.Cidade":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                case "Crianca.Endereco.Estado":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                default:
                            }
                        });
                    }
                    else {
                        $("#formcrianca").find('input[type=text],select').each(function () {

                            switch ($(this).attr("name")) {
                                case "Crianca.Endereco.Logradouro":
                                    $(this).val(data.logradouro);
                                    if (data.logradouro != "")
                                        $(this).prop('disabled', true);
                                    break;
                                case "Crianca.Endereco.Bairro":
                                    $(this).val(data.bairro);
                                    if (data.bairro != "")
                                        $(this).prop('disabled', true);
                                    break;
                                case "Crianca.Endereco.Cidade":
                                    $(this).val(data.localidade);
                                    if (data.localidade != "")
                                        $(this).prop('disabled', true);
                                    break;
                                case "Crianca.Endereco.Estado":
                                    $(this).val(data.uf);
                                    $(this).prop('disabled', true);
                                    break;
                                default:
                            }
                        });
                    }

                    $("#loading").hide();
                },
                error: function (response) {
                    $("#formcrianca").find('input[type=text],select').each(function () {

                        switch ($(this).attr("name")) {
                            case "Crianca.Endereco.Logradouro":
                                $(this).val("");
                                $(this).prop('disabled', false);
                                break;
                            case "Crianca.Endereco.Bairro":
                                $(this).val("");
                                $(this).prop('disabled', false);
                                break;
                            case "Crianca.Endereco.Cidade":
                                $(this).val("");
                                $(this).prop('disabled', false);
                                break;
                            case "Crianca.Endereco.Estado":
                                $(this).val("");
                                $(this).prop('disabled', false);
                                break;
                            default:
                        }
                    });

                    $("#loading").hide();
                }
            })
        })
    });

    function displayData(response) {

        if (response != null) {
            $("#loading").hide();

            $("#StatusInscricao").val(response.Inscricao);
            $("#FormaPagamento").val(response.Pagamento);
            $("#StatusPagamento").val(response.StatusPagamento);
            $("#CodPagSeguro").val(response.CodigoPagSeguro);

            if (response.Inscricao == "Cadastro incompleto")
                $('.concluir').show();

            $("#my-modal-m").modal('show');


        }
    }

    function calcularIdade(dateString) {
        if (dateString == '' || !isValidDate(dateString)) {
            $("#Crianca_DataNascimento").val("");
            return;
        }

        var today = new Date();
        var splitedDate = dateString.split('/');

        // O ANO INFORMADO DEVE SER MENOR QUE O ANO ATUAL
        if (parseInt(splitedDate[2]) >= today.getFullYear()) {
            $("#Crianca_DataNascimento").val("");
            $(".my-body").html("<div>Data inválida.</div>")
            $("#my-modal").modal('show');
            return;
        }

        var dateAmercianFormat = splitedDate[1] + "/" + splitedDate[0] + "/" + splitedDate[2];

        var birthDate = new Date(dateAmercianFormat);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }

        if (age < 3 || age > 16) {
            $("#Crianca_DataNascimento").val("");
            $(".my-body").html("<div>Só é permitido o cadastro de crianças de 3 a 16 anos. Por favor verifique o regulamento.</div>")
            $("#my-modal").modal('show');
            return;
        }

        age = age.toString().length == 1 ? "0" + age : age;
        $("#Idade").val(age);

        return age;
    }

    // Expect input as d/m/y
    function isValidDate(s) {
        var bits = s.split('/');
        var d = new Date(bits[2], bits[1] - 1, bits[0]);
        return d && (d.getMonth() + 1) == bits[1];
    }

    function idade(valor) {
        var d = new Date;
        ano_atual = d.getFullYear();
        mes_atual = d.getMonth() + 1;
        dia_atual = d.getDate();

        ano_aniversario = +ano_aniversario;
        mes_aniversario = +mes_aniversario;
        dia_aniversario = +dia_aniversario;

        quantos_anos = ano_atual - ano_aniversario;

        if (mes_atual < mes_aniversario || mes_atual == mes_aniversario && dia_atual < dia_aniversario) {
            quantos_anos--;
        }

        return quantos_anos < 0 ? 0 : quantos_anos;
    }
</script>
