﻿@model MKF.Web.Models.Comum.EnderecoModels

<div id="dadosEnderecoSeletiva">
    @Html.HiddenFor(m => m.Tipo)
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.LocalSeletiva)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.LocalSeletiva, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Cep)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Cep, new { @class = "form-control cep" })
            @Html.ValidationMessageFor(m => m.Cep, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Logradouro)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Logradouro, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Logradouro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Numero)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Numero, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Numero, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Complemento)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Complemento, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Complemento, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Bairro)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Bairro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Cidade)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Cidade, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Estado)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.Estado, MKF.Web.Infra.Funcoes.Ufs(Model.Estado), "Selecione", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Estado, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.cep').inputmask('99999-999', {
        autoUnmask: true
    });
</script>