﻿<div id="dadosJuradosSeletiva">
    <div class="form-body">
        <div class="form-group">
            @Html.Hidden("JuradosId")
            <div class="control-label col-md-3">
                <label>Jurados</label><span class="required"> * </span>
            </div>
            <div class="col-md-4">
                @Html.DropDownList("my_multi_select1", MKF.Web.Infra.Funcoes.JuradosList(), new { @class = "multi-select", @multiple = "multiple", @name = "my_multi_select1[]" })
                @Html.ValidationMessage("IdJuradoError", "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
