﻿@model MKF.Web.Models.ModeloViewModels

<div class="row">
    @Html.HiddenFor(m => m.Manequim.Id)
    @Html.HiddenFor(m => m.Manequim.IdModelo)
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="form-horizontal">
            <!-- #section:elements.form -->
            <div class="form-group">
                @Html.LabelFor(m => m.NomeArtistico, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.NomeArtistico, new { @class = "col-xs-10 col-sm-8", @placeholder = "Nome Artistico" })
                    @Html.ValidationMessageFor(m => m.NomeArtistico, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Manequim.Tamanho, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.Manequim.Tamanho, new { @class = "col-xs-10 col-sm-3 numeros", @placeholder = "Manequim", @Maxlength = 3, @OnBlur = "leadingZeros(this);" })
                    @Html.ValidationMessageFor(m => m.Manequim.Tamanho, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Manequim.Altura, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.Manequim.Altura, new { @class = "col-xs-10 col-sm-3 decimal", @placeholder = "Altura" })
                    @Html.ValidationMessageFor(m => m.Manequim.Altura, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Manequim.Peso, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.Manequim.Peso, new { @class = "col-xs-10 col-sm-3 decimal", @placeholder = "Peso" })
                    @Html.ValidationMessageFor(m => m.Manequim.Peso, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Manequim.Calcado, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.Manequim.Calcado, new { @class = "col-xs-10 col-sm-3 numeros", @placeholder = "Calçado" })
                    @Html.ValidationMessageFor(m => m.Manequim.Calcado, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Manequim.CorPele, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.Manequim.CorPele, new { @class = "col-xs-10 col-sm-6", @placeholder = "Cor da pele" })
                    @Html.ValidationMessageFor(m => m.Manequim.CorPele, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Manequim.CorOlho, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.Manequim.CorOlho, new { @class = "col-xs-10 col-sm-6", @placeholder = "Cor dos olhos" })
                    @Html.ValidationMessageFor(m => m.Manequim.CorOlho, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Manequim.CorCabelo, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.Manequim.CorCabelo, new { @class = "col-xs-10 col-sm-6", @placeholder = "Cor de cabelo" })
                    @Html.ValidationMessageFor(m => m.Manequim.CorCabelo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Manequim.Agenciado, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-9">
                    <span class="help-inline col-xs-12 col-sm-12">
                        <label class="middle">
                            <input class="ace" type="checkbox" id="Manequim_Agenciado" />
                            <span class="lbl">   Se a criança for agenciada por mais de uma agência, favor incluí-las no campo abaixo separando-as por ";"!</span>
                        </label>
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Manequim.Agencia, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Manequim.Agencia, new { @class = "col-xs-10 col-sm-8", @placeholder = "Agência", @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.Manequim.Agencia, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Manequim.Resumo, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Manequim.Resumo, new { @class = "col-xs-10 col-sm-8", @placeholder = "Resumo" })
                    @Html.ValidationMessageFor(m => m.Manequim.Resumo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/components/jquery.maskedinput/dist/jquery.maskedinput.js"></script>
<script src="~/Content/assets/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jquery.maskMoney.js"></script>
<script type="text/javascript">
    jQuery(function ($) {

        $(".decimal").maskMoney({ decimal: "," });

        $('.numeros').keyup(function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

        $('.Cpf').mask('999.999.999-99');

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true
        });

        $(document).on('change', '#Manequim_Agenciado', function (e) {

            if (this.checked)
                $("#Manequim_Agencia").prop('disabled', false);
            else
                $("#Manequim_Agencia").prop('disabled', true);
        });
    });

    function leadingZeros(input) {
        if (!isNaN(input.value) && input.value.length === 1) {
            input.value = '0' + input.value;
        }
    };

</script>
