﻿@model MKF.Web.Models.Comum.UsuarioModels

<div id="dadosUsuario">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DadosPessoais.IdEmpresa)
    @Html.HiddenFor(m => m.DadosPessoais.Id)
    @Html.HiddenFor(m => m.DadosPessoais.Tipo)
    @Html.HiddenFor(m => m.TipoAcesso)
    @Html.HiddenFor(m => m.CodigoAcesso)
    @Html.HiddenFor(m => m.IdPessoa)
    @Html.HiddenFor(m => m.Url)
    @Html.HiddenFor(m => m.Senha)
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.DadosPessoais.Nome)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.DadosPessoais.Nome, new { @class = "form-control", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.DadosPessoais.Nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.DadosPessoais.Cpf)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.DadosPessoais.Cpf, new { @class = "form-control cpf", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.DadosPessoais.Cpf, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.User)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.User, new { @class = "form-control", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Password)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @autocomplete = "off", @type = "password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Status)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.Status, MKF.Web.Infra.Funcoes.StatusList(), "Selecione", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        $(".cpf").inputmask("999.999.999-99", {
            autoUnmask: true
        });
    });
</script>