﻿@model MKF.Web.Models.PagamentoViewModels
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="form-horizontal" id="formcrianca">
            @Html.HiddenFor(m => m.IdSeletiva)
            @Html.HiddenFor(m => m.IdPessoa)
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> Responsável 1 </label>

                <div class="col-sm-9">
                    <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle">
                            <input class="ace" type="checkbox" id="idResp1" />
                            <span class="lbl" id="respId1"></span>
                        </label>
                    </span>
                </div>
            </div>
            <div class="form-group" id="resp2Div">
                <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> Responsável 2 </label>

                <div class="col-sm-9">
                    <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle">
                            <input class="ace" type="checkbox" id="idResp2" />
                            <span class="lbl" id="respId2"></span>
                        </label>
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ValorPagamento, new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.ValorPagamento, new { @class = "col-xs-10 col-sm-6", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                <div class="well well-lg">
                    <h4 class="blue">Pagamento</h4>
                    <p>Ao clicar no botão avançar, você será redirecionado para a tela da PagSeguro. Assim que o pagamento for confirmado, será enviado um e-mail informando a aprovação ou não do pagamento.</p>
                    <p>Confirmando o pagamento será enviado um e-mail a todos os cadastrados, confirmando a inscrição juntamente com horário de apresentação da criança.</p>
                    <p class="text-danger"><strong>Não esqueça de levar o termo de autorização de imagem impresso e assinado pelos responsáveis</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {

        $(".divradio input[name='radio']").click(function () {
            $("#IdPessoa").val($('input:radio[name=radio]:checked').val());
        });
    });
</script>