﻿@model MKF.Web.Models.ModeloViewModels

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="col-sm-6">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Responsável 1</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="form-horizontal resp1">
                            <!-- #section:elements.form -->
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Parentesco, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(m => m.Responsavel1.Parentesco, MKF.Web.Infra.Funcoes.ParentescoList(), "Selecione", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Nome, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Nome, new { @class = "col-xs-10 col-sm-12", @placeholder = "Nome", @maxlength = "100" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Rg, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Rg, new { @class = "col-xs-10 col-sm-5", @placeholder = "RG" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Cpf, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Cpf, new { @class = "col-xs-10 col-sm-5 cpf", @placeholder = "CPF" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Email, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Email, new { @class = "col-xs-10 col-sm-12", @placeholder = "E-mail", @maxlength = "100" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Celular, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Celular, new { @class = "col-xs-10 col-sm-5 celular", @placeholder = "Celular" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Telefone, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Telefone, new { @class = "col-xs-10 col-sm-5 fone", @placeholder = "Telefone" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Nacionalidade, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Nacionalidade, new { @class = "col-xs-10 col-sm-8", @placeholder = "Nacionalidade" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Endereco.Cep, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Endereco.Cep, new { @class = "col-xs-10 col-sm-5 cep", @placeholder = "Cep", @data_id = "resp1" })<button class="btn btn-success copiarResp1">Copiar Cep Criança<i class="ace-icon fa fa-home"></i></button>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Endereco.Logradouro, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Endereco.Logradouro, new { @class = "col-xs-10 col-sm-12", @placeholder = "Logradouro", @maxlength = "100" })
                                    @Html.ValidationMessageFor(m => m.Responsavel1.Endereco.Logradouro, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Endereco.Numero, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Endereco.Numero, new { @class = "col-xs-10 col-sm-12", @placeholder = "Numero", @maxlength = "10" })
                                    @Html.ValidationMessageFor(m => m.Responsavel1.Endereco.Numero, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Endereco.Complemento, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Endereco.Complemento, new { @class = "col-xs-10 col-sm-12", @placeholder = "Complemento", @maxlength = "40" })
                                    @Html.ValidationMessageFor(m => m.Responsavel1.Endereco.Complemento, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Endereco.Bairro, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Endereco.Bairro, new { @class = "col-xs-10 col-sm-12", @placeholder = "Bairro", @maxlength = "100" })
                                    @Html.ValidationMessageFor(m => m.Responsavel1.Endereco.Bairro, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Endereco.Cidade, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel1.Endereco.Cidade, new { @class = "col-xs-10 col-sm-12", @placeholder = "Cidade", @maxlength = "100" })
                                    @Html.ValidationMessageFor(m => m.Responsavel1.Endereco.Cidade, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel1.Endereco.Estado, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(m => m.Responsavel1.Endereco.Estado, MKF.Web.Infra.Funcoes.Ufs(Model.Responsavel1.Endereco.Estado), "Selecione", new { @class = "col-xs-10 col-sm-4" })
                                    @Html.ValidationMessageFor(m => m.Responsavel1.Endereco.Estado, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Responsável 2</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="form-horizontal resp2">
                            <!-- #section:elements.form -->
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Parentesco, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(m => m.Responsavel2.Parentesco, MKF.Web.Infra.Funcoes.ParentescoList(), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Parentesco, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Nome, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Nome, new { @class = "col-xs-10 col-sm-12", @placeholder = "Nome" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Nome, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Rg, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Rg, new { @class = "col-xs-10 col-sm-5", @placeholder = "RG" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Cpf, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Cpf, new { @class = "col-xs-10 col-sm-5 cpf", @placeholder = "CPF" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Cpf, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Email, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Email, new { @class = "col-xs-10 col-sm-12", @placeholder = "E-mail" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Celular, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Celular, new { @class = "col-xs-10 col-sm-5 celular", @placeholder = "Celular" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Celular, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Telefone, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Telefone, new { @class = "col-xs-10 col-sm-5 fone", @placeholder = "Telefone" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Telefone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Nacionalidade, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Nacionalidade, new { @class = "col-xs-10 col-sm-8", @placeholder = "Nacionalidade" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Nacionalidade, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Endereco.Cep, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Endereco.Cep, new { @class = "col-xs-10 col-sm-5 cep", @placeholder = "Cep", @data_id = "resp2" })<button class="btn btn-success copiarResp2">Copiar Cep Criança<i class="ace-icon fa fa-home"></i></button>
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Endereco.Cep, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Endereco.Logradouro, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Endereco.Logradouro, new { @class = "col-xs-10 col-sm-12", @placeholder = "Logradouro", @maxlength = "100" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Endereco.Logradouro, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Endereco.Numero, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Endereco.Numero, new { @class = "col-xs-10 col-sm-12", @placeholder = "Numero", @maxlength = "10" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Endereco.Numero, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Endereco.Complemento, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Endereco.Complemento, new { @class = "col-xs-10 col-sm-12", @placeholder = "Complemento", @maxlength = "40" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Endereco.Complemento, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Endereco.Bairro, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Endereco.Bairro, new { @class = "col-xs-10 col-sm-12", @placeholder = "Bairro", @maxlength = "100" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Endereco.Bairro, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Endereco.Cidade, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Responsavel2.Endereco.Cidade, new { @class = "col-xs-10 col-sm-12", @placeholder = "Cidade", @maxlength = "100" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Endereco.Cidade, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Responsavel2.Endereco.Estado, new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(m => m.Responsavel2.Endereco.Estado, MKF.Web.Infra.Funcoes.Ufs(Model.Responsavel2.Endereco.Estado), "Selecione", new { @class = "col-xs-10 col-sm-3" })
                                    @Html.ValidationMessageFor(m => m.Responsavel2.Endereco.Estado, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/components/jquery.maskedinput/dist/jquery.maskedinput.js"></script>
<script src="~/Content/assets/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    jQuery(function ($) {

        $(document).on('click', '.copiarResp1', function (e) {
            $("#Responsavel1_Endereco_Cep").val($("#Crianca_Endereco_Cep").val());
            $("#Responsavel1_Endereco_Logradouro").val($("#Crianca_Endereco_Logradouro").val());
            $("#Responsavel1_Endereco_Numero").val($("#Crianca_Endereco_Numero").val());
            $("#Responsavel1_Endereco_Complemento").val($("#Crianca_Endereco_Complemento").val());
            $("#Responsavel1_Endereco_Bairro").val($("#Crianca_Endereco_Bairro").val());
            $("#Responsavel1_Endereco_Cidade").val($("#Crianca_Endereco_Cidade").val());
            $("#Responsavel1_Endereco_Cep").val($("#Crianca_Endereco_Cep").val());
            $("#Responsavel1_Endereco_Estado").val($("#Crianca_Endereco_Estado").val());
        });

        $(document).on('click', '.copiarResp2', function (e) {
            $("#Responsavel2_Endereco_Cep").val($("#Crianca_Endereco_Cep").val());
            $("#Responsavel2_Endereco_Logradouro").val($("#Crianca_Endereco_Logradouro").val());
            $("#Responsavel2_Endereco_Numero").val($("#Crianca_Endereco_Numero").val());
            $("#Responsavel2_Endereco_Complemento").val($("#Crianca_Endereco_Complemento").val());
            $("#Responsavel2_Endereco_Bairro").val($("#Crianca_Endereco_Bairro").val());
            $("#Responsavel2_Endereco_Cidade").val($("#Crianca_Endereco_Cidade").val());
            $("#Responsavel2_Endereco_Cep").val($("#Crianca_Endereco_Cep").val());
            $("#Responsavel2_Endereco_Estado").val($("#Crianca_Endereco_Estado").val());
        });

        $('.Cpf').mask('999.999.999-99');

        $('.celular').mask('(99) 99999-9999');
        $('.fone').mask('(99) 9999-9999');

        //$('.cep').mask('99999-999');

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true
        })

        $(document).on('change', '.cep', function (e) {
            e.preventDefault();
            $("#loading").show();
            var url = "https://viacep.com.br/ws/" + $(this).val() + "/json/";
            var item = $(this).data("id");
            $.ajax({
                url: url,
                //data: JSON.stringify(jsonObjEndereco),
                cache: false,
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    
                    if (data.erro) {

                        if (item == 'resp1') {
                            $("." + item).find('input[type=text],select').each(function () {
                                
                                switch ($(this).attr("name")) {
                                    case "Responsavel1.Endereco.Logradouro":
                                        $(this).val("");
                                        $(this).prop('disabled', false);
                                        break;
                                    case "Responsavel1.Endereco.Bairro":
                                        $(this).val("");
                                        $(this).prop('disabled', false);
                                        break;
                                    case "Responsavel1.Endereco.Cidade":
                                        $(this).val("");
                                        $(this).prop('disabled', false);
                                        break;
                                    case "Responsavel1.Endereco.Estado":
                                        $(this).val("");
                                        $(this).prop('disabled', false);
                                        break;
                                    default:
                                }
                            });
                        }
                        else {
                            $("." + item).find('input[type=text],select').each(function () {
                                
                                switch ($(this).attr("name")) {
                                    case "Responsavel2.Endereco.Logradouro":
                                        $(this).val("");
                                        $(this).prop('disabled', false);
                                        break;
                                    case "Responsavel2.Endereco.Bairro":
                                        $(this).val("");
                                        $(this).prop('disabled', false);
                                        break;
                                    case "Responsavel2.Endereco.Cidade":
                                        $(this).val("");
                                        $(this).prop('disabled', false);
                                        break;
                                    case "Responsavel2.Endereco.Estado":
                                        $(this).val("");
                                        $(this).prop('disabled', false);
                                        break;
                                    default:
                                }
                            });
                        }
                    }
                    else {
                        if (item == 'resp1') {
                            $("." + item).find('input[type=text],select').each(function () {
                                
                                switch ($(this).attr("name")) {
                                    case "Responsavel1.Endereco.Logradouro":
                                        $(this).val(data.logradouro);
                                        if (data.logradouro != "")
                                            $(this).prop('disabled', true);
                                        break;
                                    case "Responsavel1.Endereco.Bairro":
                                        $(this).val(data.bairro);
                                        if (data.bairro != "")
                                            $(this).prop('disabled', true);
                                        break;
                                    case "Responsavel1.Endereco.Cidade":
                                        $(this).val(data.localidade);
                                        if (data.localidade != "")
                                            $(this).prop('disabled', true);
                                        break;
                                    case "Responsavel1.Endereco.Estado":
                                        $(this).val(data.uf);
                                        $(this).prop('disabled', true);
                                        break;
                                    default:
                                }
                            });
                        }
                        else {
                            $("." + item).find('input[type=text],select').each(function () {
                                
                                switch ($(this).attr("name")) {
                                    case "Responsavel2.Endereco.Logradouro":
                                        $(this).val(data.logradouro);
                                        if (data.logradouro != "")
                                            $(this).prop('disabled', true);
                                        break;
                                    case "Responsavel2.Endereco.Bairro":
                                        $(this).val(data.bairro);
                                        if (data.bairro != "")
                                            $(this).prop('disabled', true);
                                        break;
                                    case "Responsavel2.Endereco.Cidade":
                                        $(this).val(data.localidade);
                                        if (data.localidade != "")
                                            $(this).prop('disabled', true);
                                        break;
                                    case "Responsavel2.Endereco.Estado":
                                        $(this).val(data.uf);
                                        $(this).prop('disabled', true);
                                        break;
                                    default:
                                }
                            });
                        }
                    }
                    $("#loading").hide();
                },
                error: function (response) {
                    if (item == 'resp1') {
                        $("." + item).find('input[type=text],select').each(function () {
                            
                            switch ($(this).attr("name")) {
                                case "Responsavel1.Endereco.Logradouro":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                case "Responsavel1.Endereco.Bairro":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                case "Responsavel1.Endereco.Cidade":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                case "Responsavel1.Endereco.Estado":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                default:
                            }
                        });
                    }
                    else {
                        $("." + item).find('input[type=text],select').each(function () {
                            
                            switch ($(this).attr("name")) {
                                case "Responsavel2.Endereco.Logradouro":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                case "Responsavel2.Endereco.Bairro":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                case "Responsavel2.Endereco.Cidade":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                case "Responsavel2.Endereco.Estado":
                                    $(this).val("");
                                    $(this).prop('disabled', false);
                                    break;
                                default:
                            }
                        });
                    }

                    $("#loading").hide();
                }
            })
        })
    })
</script>
