﻿
<input type="hidden" id="itemRemover" />
<input type="hidden" id="urlDelete" />
<input type="hidden" id="controller" />

<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Exclusão de registro</h4>
            </div>
            <div class="modal-body">
                <p> Deseja excluir o registro selecionado? </p>
            </div>
            <div class="modal-footer">
                <a id="btnExcluir" data-dismiss="modal" class="btn green" href="#">Sim</a>
                <a data-dismiss="modal" class="btn dark btn-outline" href="#">Não</a>
            </div>
        </div>
    </div>
</div>