﻿<ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <li class="sidebar-toggler-wrapper hide">
        <div class="sidebar-toggler">
            <span></span>
        </div>
    </li>
    <li class="nav-item start active open">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item start active open">
                <a href="index.html" class="nav-link ">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Eventos</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="dashboard_2.html" class="nav-link ">
                    <i class="icon-bulb"></i>
                    <span class="title">Vendas</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="dashboard_3.html" class="nav-link ">
                    <i class="icon-graph"></i>
                    <span class="title">Lojistas</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">Administrativo</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "Usuario")" class="nav-link ">
                    <span class="title">Usuários</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "Lojista")" class="nav-link ">
                    <span class="title">Empresas</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "Jurados")" class="nav-link ">
                    <span class="title">Jurados</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "TipoParceria")" class="nav-link ">
                    <span class="title">Tipos de Parcerias</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "TipoPatrocinio")" class="nav-link ">
                    <span class="title">Tipos de Patrocinios</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-puzzle"></i>
            <span class="title">Eventos</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "Evento")" class="nav-link ">
                    <span class="title">Evento</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-puzzle"></i>
            <span class="title">Seletivas</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "Seletiva")" class="nav-link ">
                    <span class="title">Seletiva</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-puzzle"></i>
            <span class="title">Financeiro</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="components_date_time_pickers.html" class="nav-link ">
                    <span class="title">Despesas</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="components_date_time_pickers.html" class="nav-link ">
                    <span class="title">Creditos</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-puzzle"></i>
            <span class="title">Relatórios</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="components_date_time_pickers.html" class="nav-link ">
                    <span class="title">Finanças</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="components_date_time_pickers.html" class="nav-link ">
                    <span class="title">Vendas</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-puzzle"></i>
            <span class="title">Regulamentos</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "Regulamento")" class="nav-link ">
                    <span class="title">Regulamnento</span>
                </a>
            </li>
        </ul>
    </li>
</ul>