﻿
@{
    ViewBag.Title = "Aprovados";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Seletiva</a>
        </li>
        <li class="active">Aprovados seletiva</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Aprovados na seletiva
        </h1>
    </div><!-- /.page-header -->
    <div class="row" id="print">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title" id="idTotalReg"></h4>
                <span class="widget-toolbar">
                    <a href='@Url.Action("ExportarAprovadosSeletiva", "Relatorio", new { idSeletiva = ViewBag.IdSeletiva})'>
                        <img src="~/Imagens/doc_excel_table.png" />
                    </a>
                </span>
                <span class="widget-toolbar">
                    <a href="#" data-action="collapse" id="printPdf">
                        <i class="ace-icon fa fa-print large"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <!-- #section:pages/search.well -->
                    <div class="search-area well well-sm">
                        <div class="search-filter-header bg-primary">
                            <h5 class="smaller no-margin-bottom">
                                <i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Refine sua Busca
                            </h5>
                        </div>

                        <div class="space-10"></div>

                        <div class="row">
                            <div class="radio">
                                <label>
                                    <input name="form-field-radio" id="kids1" type="radio" class="ace" />
                                    <span class="lbl"> KIDS 1</span>
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input name="form-field-radio" id="kids2" type="radio" class="ace" />
                                    <span class="lbl"> KIDS 2</span>
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input name="form-field-radio" id="kids3" type="radio" class="ace" />
                                    <span class="lbl"> KIDS 3</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input name="form-field-radio" id="teen" type="radio" class="ace" />
                                    <span class="lbl"> TEEN</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input name="form-field-radio" id="todos" type="radio" class="ace" />
                                    <span class="lbl"> TODOS</span>
                                </label>
                            </div>
                            @*<div class="col-xs-12 col-sm-12">
                                    @Html.DropDownList("Sexo", MKF.Web.Infra.Funcoes.SexoList(), "Sexo", new { @class = "col-xs-12 col-sm-11 col-md-12" })
                                </div>*@
                        </div>
                        <!-- /section:plugins/jquery.slider -->
                        <div class="hr hr-dotted hr-24"></div>

                        <div class="text-center">
                            <button type="button" id="btnBuscar" class="btn btn-default btn-round btn-white">
                                <i class="ace-icon fa fa-refresh green"></i>
                                Buscar
                            </button>
                        </div>

                        <div class="space-4"></div>
                    </div>

                    <!-- /section:pages/search.well -->
                </div>
                <div class="col-xs-12 col-sm-10" id="dvLista">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(function ($) {

        $("#printPdf").click(function (e) {
            debugger;
            e.preventDefault();
            $("#loading").show();
            var idadeMin = 0;
            var idadeMax = 16;
            var idSeletiva = @ViewBag.IdSeletiva;
            //var sexo = $("#Sexo").val() == '' ? null : $("#Sexo").val();

            if ($("#kids1")[0].checked) {
                idadeMin = 3;
                idadeMax = 5;
            }
            else if ($("#kids2")[0].checked) {
                idadeMin = 6;
                idadeMax = 8;
            }
            else if ($("#kids3")[0].checked) {
                idadeMin = 9;
                idadeMax = 12;
            }
            else if ($("#teen")[0].checked) {
                idadeMin = 13;
                idadeMax = 16;
            }
            else if ($("#todos")[0].checked) {
                idadeMin = 0;
                idadeMax = 16;
            }
            else {
                $("#loading").hide();
                Alerta("Informe uma categoria para consulta.");
                return;
            }

            var url = '@Url.Action("GerarPdfAprovados", "Relatorio", new { id = ViewBag.IdSeletiva })' + "," + idadeMin + "," + idadeMax;

            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                success: function (e) {

                    if (e.fileName != "") {
                        debugger;
                        //use window.location.href for redirect to download action for download the file
                        window.location.href = "@Url.RouteUrl(new
                        { Controller = "Relatorio", Action = "Download"})/?file=" + e.fileName;
                    }
                    $("#loading").hide();
                },
                error: function (data) {
                    debugger;
                    $("#loading").hide();
                    alert(data);
                }
            });
        });

        $("#printAuto").click(function (e) {

            e.preventDefault();
            $("#loading").show();
            PrintMe();
            $("#loading").hide();
        });

        $("#btnBuscar").click(function (e) {

            e.preventDefault();
            $("#loading").show();
            var idadeMin = 0;
            var idadeMax = 16;
            var idSeletiva = @ViewBag.IdSeletiva;

            if ($("#kids1")[0].checked) {
                idadeMin = 3;
                idadeMax = 5;
            }
            else if ($("#kids2")[0].checked) {
                idadeMin = 6;
                idadeMax = 8;
            }
            else if ($("#kids3")[0].checked) {
                idadeMin = 9;
                idadeMax = 12;
            }
            else if ($("#teen")[0].checked) {
                idadeMin = 13;
                idadeMax = 16;
            }
            else if ($("#todos")[0].checked) {
                idadeMin = 0;
                idadeMax = 16;
            }
            else {
                $("#loading").hide();
                Alerta("Informe uma categoria para consulta.");
                return;
            }

            var con = idSeletiva + "/" + idadeMin + "/" + idadeMax;
            var urlCompleta = "http://www.minasfashionkids.com.br/Api/api/Relatorio/Buscar/AprovadosSeletiva/" + con;
            //var urlCompleta = "http://localhost/MKF.Api/api/Relatorio/Buscar/AprovadosSeletiva/" + con;

            $.ajax({
                url: urlCompleta,
                cache: false,
                type: 'GET',
                success: function (data) {

                    $("#dvLista").html('');

                    if (data.length == 0) {

                        $("#idTotalReg").html("Total: " + data.length);
                        var div1 = "<div class=\"media search-media\">Nenhum registro encontrado! </div>";

                        $("#dvLista").append(div1);
                        $("#loading").hide();
                    }
                    else {
                        $("#idTotalReg").html("Total: " + data.length);
                        jQuery.each(data, function (i, item) {
                            email = "não enviado";
                            id = item.Id;
                            var div = "<div class=\"media search-media\">" +
                                            "<div class=\"media-left\">"+
                                                "<img class=\"media-object\" src=\"" + item.UrlImagem + "\" style=\"width:72px\" /> "+
                                            "</div>" +

                                      "<div class=\"media-body\">" +
                                            "<div>" +
                                                "<h4 class=\"media-heading\"> "+
                                                    "<span class=\"blue\">" + item.Nome + " - " + item.NomeArtistico + "</span>" +
                                                "</h4>" +
                                            "</div>" +
                                            "<p>Responsável 1: "+ item.Resp1 + "</p>" +
                                            "<p>Responsável 2: " + item.Resp2 + "</p>" +
                                            "<p>Cor da pele: " + item.CorPele + "</p>" +
                                            "<p>Cor dos olhos: " + item.CorOlho + "</p>" +
                                            "<p>Cor do cabelo: " + item.CorCabelo + "</p>";
                            if (item.Agenciado == 1)
                            {
                                div += "<p>Agência: " + item.Agencia + "</p>";
                            }

                            div += "<p>Resumo: " + item.Resumo + "</p>" +

                                            "<div class=\"search-actions text-center\">" +
                                                "<div class=\"row\">" +
                                                    "<span class=\"text-info\">Idade</span>" +
                                                    "<span class=\"blue\">" + item.Idade + "</span>" +
                                                "</div>" +

                                                "<div class=\"row\">" +
                                                    "<span class=\"text-info\">Tamanho</span>" +
                                                    "<span class=\"blue\">" + item.Tamanho + "</span>" +
                                                "</div>" +

                                                "<div class=\"row\">" +
                                                    "<span class=\"text-info\">Altura</span>" +
                                                    "<span class=\"blue\">"+ item.Altura + "</span>" +
                                                "</div>" +

                                                "<div class=\"row\">"+
                                                    "<span class=\"text-info\">Peso</span>" +
                                                    "<span class=\"blue\">"+ item.Peso + "</span>" +
                                                "</div>";

                            "<div class=\"row\">" +
                                "<span class=\"text-info\">Calçado</span>" +
                                "<span class=\"blue\">" + item.Calcado + "</span>" +
                            "</div>" +
                        "</div>" +

                "</div>" +
               "</div>";

                            $("#dvLista").append(div);
                        });

                        $("#loading").hide();
                    }
                },
                error: function (response) {
                    $("#loading").hide();
                    alert(JSON.stringify(response.errors));
                }
            });
        });

    });

    function PrintMe() {
        var disp_setting = "toolbar=yes,location=no,";
        disp_setting += "directories=yes,menubar=yes,";
        disp_setting += "scrollbars=yes,width=650, height=600, left=100, top=25";
        var content_vlue = document.getElementById("print").innerHTML;
        var docprint = window.open("", "", disp_setting);
        docprint.document.open();
        docprint.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"');
        docprint.document.write('"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">');
        docprint.document.write('<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">');
        docprint.document.write('<head><title>My Title</title>');
        docprint.document.write('<style type="text/css">body{ margin:0px;');
        docprint.document.write('font-family:verdana,Arial;color:#000;');
        docprint.document.write('font-family:Verdana, Geneva, sans-serif; font-size:12px;}');
        docprint.document.write('a{color:#000;text-decoration:none;} </style>');
        docprint.document.write('</head><body onLoad="self.print()"><center>');
        docprint.document.write(content_vlue);
        docprint.document.write('</center></body></html>');
        docprint.document.close();
        docprint.focus();
    }
</script>
<script src="~/Contents/assets/pages/Mensagem.js"></script>