﻿
@{
            ViewBag.Title = "EscolherAprovados";
            Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
            int idSeletiva = ViewBag.IdSeletiva;

    <style>
        #itensSeletiva, #itensAprovados {
            float: left;
            /*width: 100px;
        height: 35px;
        margin: 10px;
        padding: 10px;*/
            min-height: 600px;
            /*border: 1px solid black;*/
        }

        .move {
            cursor: move;
        }
    </style>
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Seletiva</a>
        </li>
        <li class="active">Aprovar Crianças</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Aprovar crianças da seletiva @ViewBag.NomeSeletiva
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12">
            <div class="row search-page" id="search-page-1">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <!-- #section:pages/search.well -->
                            <div class="search-area well well-sm">
                                <div class="search-filter-header bg-primary">
                                    <h5 class="smaller no-margin-bottom">
                                        <i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Refine sua Busca
                                    </h5>
                                </div>

                                <div class="space-10"></div>
                                @Html.Hidden("IdSeletiva", idSeletiva)
                                <div class="row">
                                    <div class="radio">
                                        <label>
                                            <input name="form-field-radio" id="kids1" type="radio" class="ace" />
                                            <span class="lbl"> KIDS 1</span>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input name="form-field-radio" id="kids2" type="radio" class="ace" />
                                            <span class="lbl"> KIDS 2</span>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input name="form-field-radio" id="kids3" type="radio" class="ace" />
                                            <span class="lbl"> KIDS 3</span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="form-field-radio" id="teen" type="radio" class="ace" />
                                            <span class="lbl"> TEEN</span>
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        @Html.DropDownList("Sexo", MKF.Web.Infra.Funcoes.SexoList(), "Sexo", new { @class = "col-xs-12 col-sm-11 col-md-12" })
                                    </div>
                                </div>

                                <div class="hr hr-dotted"></div>

                                <!-- /section:plugins/jquery.slider -->
                                <div class="hr hr-dotted hr-24"></div>

                                <div class="text-center">
                                    <a href="#" class="btn btn-sm btn-block btn-white" id="btnBuscar">
                                        <i class="ace-icon fa fa-refresh green"></i>
                                        <span class="bigger-110">Buscar</span>
                                    </a>
                                    @*<button type="button" id="btnBuscar" class="btn btn-default btn-round btn-white">
                                        <i class="ace-icon fa fa-refresh green"></i>
                                        Buscar
                                    </button>*@
                                    <a href="@Url.Action("Index", "Seletiva")" class="btn btn-sm btn-block btn-white">
                                        <i class="ace-icon fa fa-reply bigger-110 blue"></i>
                                        <span class="bigger-110">Voltar</span>
                                    </a>
                                </div>

                                <div class="space-4"></div>
                            </div>

                            <!-- /section:pages/search.well -->
                        </div>

                        <div class="col-xs-12 col-sm-10">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="media-heading">
                                        <span class="blue" id="totalSeletiva"></span>
                                    </h4>
                                </div>
                                <div class="col-sm-6">
                                    <div class="widget-box">
                                        <div class="widget-header widget-header-flat">
                                            <h4 class="widget-title">Avaliadas</h4>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div class="row">
                                                    <div class="col-xs-12" id="itensSeletiva" ondrop="drop(event)" ondragover="allowDrop(event)">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="widget-box">
                                        <div class="widget-header widget-header-flat">
                                            <h4 class="widget-title">Aprovadas</h4>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div class="row">
                                                    <div class="col-sm-12" id="itensAprovados" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {

        /* initialize the external events
            -----------------------------------------------------------------*/

        $('#external-events div.external-event').each(function () {

            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end
            var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
            };

            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });
        });

        $("#btnBuscar").click(function (e) {

            e.preventDefault();
            $("#loading").show();
            var idadeMin = 0;
            var idadeMax = 16;
            var color = "";
            var email = "";
            var id = 0;
            debugger;
            var seletiva = $("#IdSeletiva").val();
            var nomeCrianca = "null";
            var nomeResp1 = "null";
            var nomeResp2 = "null";
            var inscricao = "null";
            var tamanho = "null";
            var altura = "0";
            var peso = "0";
            var calcado = "0";
            var cabelo = "null";
            var sexo = $("#Sexo").val() == '' ? null : $("#Sexo").val();

            if ($("#kids1")[0].checked) {
                idadeMin = 3;
                idadeMax = 5;
            }
            else if ($("#kids2")[0].checked) {
                idadeMin = 6;
                idadeMax = 8;
            }
            else if ($("#kids3")[0].checked) {
                idadeMin = 9;
                idadeMax = 12;
            }
            else if ($("#teen")[0].checked) {
                idadeMin = 13;
                idadeMax = 16;
            }
            else {
                $("#loading").hide();
                Alerta("Informe uma categoria para consulta.");
                return;
            }

            var con = nomeCrianca + "/" + nomeResp1 + "/" + nomeResp2 + "/" + seletiva + "/" + inscricao + "/" + idadeMin + "/" + idadeMax + "/" + tamanho + "/" + altura + "/" + peso + "/" + calcado + "/" + cabelo + "/" + sexo;
            var urlCompleta = "http://www.minasfashionkids.com.br/Api/api/Inscricao/Seletiva/Avaliadas/" + con;
            //var urlCompleta = "http://localhost/MKF.Api/api/Inscricao/Seletiva/Avaliadas/" + con;

            $.ajax({
                url: urlCompleta,
                cache: false,
                type: 'GET',
                success: function (data) {

                    $("#itensSeletiva").html('');
                    $("#itensAprovados").html('');
                    if (data.length == 0) {

                        $("#totalSeletiva").html("Total: " + data.length);
                        var div1 = "<div class=\"media search-media\">Nenhum registro encontrado! </div>";

                        $("#itensSeletiva").append(div1);
                        $("#loading").hide();
                    }
                    else {
                        $("#totalSeletiva").html("Total: " + data.length);
                        jQuery.each(data, function (i, item) {
                            email = "não enviado";
                            id = item.Id;
                            var div = "<div class=\"media search-media move\" draggable=\"true\" ondragstart=\"drag(event)\" id=\"" + item.Id + "\"> " +
                                            "<div class=\"media-left\"> " +
                                                "<a href=\"#\">" +
                                                    "<img style=\"width: 72px;\" class=\"media-object\" src=\"" + item.UrlImagem + "\" />" +
                                                "</a>" +
                                            "</div>" +

                                            "<div class=\"media-body\">" +
                                                "<div>" +
                                                    "<h4 class=\"media-heading\">" +
                                                        "<a href=\"#\" class=\"blue\">" + item.Nome + "</a>" +
                                                    "</h4>" +
                                                "</div>";
                            //"<p> Inscrição: " + item.Inscricao + " | Responsável 1: " + item.Resp1 + " | Responsável 2: " + item.Resp2 + " | Data de nascimento: " + item.DataNascimento + " </p>";
                            //div += "<p> Manequim: " + item.Tamanho + " | Altura: " + item.Altura + " | Peso: " + item.Peso + " | Calçado: " + item.Calcado + " </p>";
                            //div += "<p> Cor da pele: " + item.CorPele + " | Cor do cabelo: " + item.CorCabelo + " | Cor dos olhos: " + item.CorOlho + " </p>";
                            //div += "<p> Agencias: " + item.Agencia + " </p>";
                            //div += "<p> Resumo: " + item.Resumo + " </p>";
                            var sum = 0;
                            for (var i = 0; i < item.Jurados.length; i++) {

                                //div += "<p>Jurado: " + item.Jurados[i].Nome + "</p>";
                                //div += "<p>Itens avaliados:</p>";
                                for (var j = 0; j < item.Jurados[i].Avaliacoes.length; j++) {
                                    //div += item.Jurados[i].Avaliacoes[j].Item + ": " + item.Jurados[i].Avaliacoes[j].Nota + " | ";
                                    sum += item.Jurados[i].Avaliacoes[j].Nota;
                                }
                                //div += "</p>";
                            }

                            var media = (sum / 4) / item.Jurados.length

                            div += "<div class=\"search-actions text-center\"><span class=\"blue bolder bigger-150\">" + item.Idade + "</span> Idade";

                            div += "</br><span class=\"blue bolder bigger-150\">" + media.toFixed(2) + "</span> Média avaliação";

                            div += "</div>" +
                    "</div>" +
                "</div>" +
           "</div>";
                            if (item.StatusModelo == "3") $("#itensAprovados").append(div);
                            else $("#itensSeletiva").append(div);
                            $(".search-media").css("min-height", "140px");
                            $('[data-rel=tooltip]').tooltip();
                        });

                        $("#loading").hide();
                    }
                },
                error: function (response) {
                    $("#loading").hide();
                    alert(JSON.stringify(response.errors));
                }
            });
        });

    });

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        debugger;
        var data = ev.dataTransfer.getData("text");
        if (ev.target.parentNode.id != null && (ev.target.parentNode.id == "itensAprovados" || ev.target.parentNode.id == "itensSeletiva")) {
            ev.target.parentNode.appendChild(document.getElementById(data));

            if (ev.target.parentNode.parentNode.id == "itensAprovados")
                atualizar(data, "3");
            else
                atualizar(data, "1");
        }
        else if (ev.target.parentNode != null && ev.target.parentNode.parentNode != null && (ev.target.parentNode.parentNode.id == "itensAprovados" || ev.target.parentNode.parentNode.id == "itensSeletiva")) {
            ev.target.parentNode.parentNode.appendChild(document.getElementById(data));

            if (ev.target.parentNode.id == "itensAprovados")
                atualizar(data, "3");
            else
                atualizar(data, "1");
        }
        else {
            ev.target.appendChild(document.getElementById(data));

            if (ev.target.id == "itensAprovados")
                atualizar(data, "3");
            else
                atualizar(data, "1");
        }
    }

    function atualizar(modelo, status) {
        $("#loading").show();
        var url = "http://www.minasfashionkids.com.br/Api/api/Modelo/AlterarStatus?idModelo=" + modelo + "&status=" + status;
        //var url = "http://localhost/MKF.Api/api/Modelo/AlterarStatus?idModelo=" + id + "&status=" + 3;
        $.ajax({
            type: "PUT",
            url: url,
            success: function (data) {
                if (data) {

                }
                else
                    Erro("Falha ao alterar o status da criança. Favor contate o administrador do sistema.");

                $("#loading").hide();
            },
            error: function (data) {
                Erro("Falha ao alterar o status da criança. Favor contate o administrador do sistema.");
                $("#loading").hide();
            }
        });
    }
</script>
<script src="~/Contents/assets/pages/Mensagem.js"></script>