﻿@model MKF.Web.Models.ModeloSeletivaModels
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>User Profile Page - Ace Admin</title>

    <meta name="description" content="3 styles with inline editable feature" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Contents/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Contents/components/font-awesome/css/font-awesome.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/Contents/components/_mod/jquery-ui.custom/jquery-ui.custom.css" />
    <link rel="stylesheet" href="~/Contents/components/select2/dist/css/select2.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/Contents/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Contents/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../assets/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/Contents/assets/css/ace-skins.css" />
    <link rel="stylesheet" href="~/Contents/assets/css/ace-rtl.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/Contents/assets/css/ace-ie.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Contents/assets/js/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/Contents/components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="~/Contents/components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <style>
        .img1 {
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;
        }

        .img2 {
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;
        }

        .tda {
            padding: 0px 2px !important;
        }
    </style>
</head>

<body class="no-skin">
    <!-- /section:basics/navbar.layout -->
    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="page-header">
                        <img src="~/Contents/assets/images/MFK.png" width="100" />
                    </div><!-- /.page-header -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-12 center">
                                <h1>Ficha de inscrição</h1>
                            </div>
                            @if (Model.Crianca != null && Model.Crianca.Id > 0)
                            {
                                <div id="user-profile-1" class="user-profile row">
                                    <div class="col-xs-12 col-sm-12 center">
                                        <!-- #section:pages/profile.picture -->
                                        <span class="profile-picture">
                                            <img id="avatar" class="editable img-responsive img2" alt="@Model.Crianca.Nome" src="@Model.UrlImagem" />
                                        </span>
                                        <h4>Nome artistico: @Model.NomeArtistico</h4>
                                    </div>
                                </div>
                            }
                            <div class="col-xs-12">
                                <!-- #section:pages/profile.info -->
                                @if (Model.Crianca != null && Model.Crianca.Id > 0)
                                {
                                    <div class="widget-box transparent">

                                        <div class="widget-header widget-header-strong">
                                            <h4 class="widget-title blue stronger">
                                                <i class="ace-icon fa fa-user blue"></i>
                                                Dados Criança
                                            </h4>
                                        </div>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="tda" colspan="3"><p><strong>Nome: </strong> @Model.Crianca.Nome</p></td>
                                                    <td class="tda" colspan="2"><p><strong>E-mail: </strong> @Model.Crianca.Email</p></td>
                                                    <td class="tda"><p><strong>Instagran: </strong> @Model.Crianca.Instagram</p></td>

                                                </tr>
                                                <tr>
                                                    <td class="tda"><p><strong>RG:</strong> @Model.Crianca.Rg</p></td>
                                                    <td class="tda"><p><strong>CPF:</strong> @Model.Crianca.Cpf</p></td>
                                                    <td class="tda"><p><strong>Nascimento:</strong> @Model.Crianca.DataNascimento.Value.ToString("dd/MM/yyyy")</p></td>
                                                    <td class="tda"><p><strong>Idade:</strong> @Model.Idade</p></td>
                                                    <td class="tda"><p><strong>Sexo:</strong> @MKF.Web.Infra.Util.RetornarSexo(Model.Crianca.Sexo)</p></td>
                                                    <td class="tda"><p><strong>Nacionalidade:</strong> @Model.Crianca.Nacionalidade</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda" colspan="2"><p><strong>Manequim:</strong> @Model.Manequim.Tamanho</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Altura:</strong> @Model.Manequim.Altura</p></td>
                                                    <td class="tda"><p><strong>Peso:</strong> @Model.Manequim.Peso</p></td>
                                                    <td class="tda"><p><strong>Calçado:</strong> @Model.Manequim.Calcado</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda" colspan="2"><p><strong>Cor pele:</strong> @Model.Manequim.CorPele</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Cor cabelo:</strong> @Model.Manequim.CorCabelo</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Cor olho:</strong> @Model.Manequim.CorOlho</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda" colspan="6"><p><strong>Agências:</strong> @Model.Manequim.Agencia</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda" colspan="6"><p><strong>Informações adicionais:</strong> @Model.Manequim.Resumo</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda"><p><strong>Cep:</strong> @(Model.Crianca.Endereco == null ? string.Empty : Model.Crianca.Endereco.Cep)</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Logradouro:</strong> @(Model.Crianca.Endereco == null ? string.Empty : Model.Crianca.Endereco.Logradouro)</p></td>
                                                    <td class="tda"><p><strong>Numero:</strong> @(Model.Crianca.Endereco == null ? string.Empty : Model.Crianca.Endereco.Numero)</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Complemento:</strong> @(Model.Crianca.Endereco == null ? string.Empty : Model.Crianca.Endereco.Complemento)</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda" colspan="2"><p><strong>Bairro:</strong> @(Model.Crianca.Endereco == null ? string.Empty : Model.Crianca.Endereco.Bairro)</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Cidade:</strong> @(Model.Crianca.Endereco == null ? string.Empty : Model.Crianca.Endereco.Cidade)</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Estado:</strong> @(Model.Crianca.Endereco == null ? string.Empty : Model.Crianca.Endereco.Estado)</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                @if (Model.Responsavel1 != null)
                                {
                                    <div class="widget-box transparent">
                                        <div class="widget-header widget-header-strong">
                                            <h4 class="widget-title blue stronger">
                                                <i class="ace-icon fa fa-users"></i>
                                                Dados Responsável 1
                                            </h4>
                                        </div>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="tda" colspan="3"><p><strong>Nome:</strong> @Model.Responsavel1.Nome</p></td>
                                                    <td class="tda" colspan="3"><p><strong>E-mail:</strong> @Model.Responsavel1.Email</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda"><p><strong>Parentesco:</strong> @Model.Responsavel1.Parentesco</p></td>
                                                    <td class="tda"><p><strong>RG:</strong> @Model.Responsavel1.Rg</p></td>
                                                    <td class="tda"><p><strong>CPF:</strong> @Model.Responsavel1.Cpf</p></td>
                                                    <td class="tda"><p><strong>Nacionalidade:</strong> @Model.Responsavel1.Nacionalidade</p></td>
                                                    <td class="tda"><p><strong>Telefone:</strong> @Model.Responsavel1.Telefone</p></td>
                                                    <td class="tda"><p><strong>Celular:</strong> @Model.Responsavel1.Celular</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda"><p><strong>Cep:</strong> @Model.Responsavel1.Endereco.Cep</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Logradouro:</strong> @Model.Responsavel1.Endereco.Logradouro</p></td>
                                                    <td class="tda"><p><strong>Numero:</strong> @Model.Responsavel1.Endereco.Numero</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Complemento:</strong> @Model.Responsavel1.Endereco.Complemento</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda" colspan="2"><p><strong>Bairro:</strong> @Model.Responsavel1.Endereco.Bairro</p></td>
                                                    <td class="tda" colspan="3"><p><strong>Cidade:</strong> @Model.Responsavel1.Endereco.Cidade</p></td>
                                                    <td class="tda"><p><strong>Estado:</strong> @Model.Responsavel1.Endereco.Estado</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                @if (Model.Responsavel2 != null)
                                {
                                    <div class="widget-box transparent">
                                        <div class="widget-header widget-header-strong">
                                            <h4 class="widget-title blue stronger">
                                                <i class="ace-icon fa fa-users"></i>
                                                Dados Responsável 2
                                            </h4>
                                        </div>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="tda" colspan="3"><p><strong>Nome:</strong> @(Model.Responsavel2 == null ? string.Empty : Model.Responsavel2.Nome)</p></td>
                                                    <td class="tda" colspan="3"><p><strong>E-mail:</strong> @(Model.Responsavel2 == null ? string.Empty : Model.Responsavel2.Email)</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda"><p><strong>Parentesco:</strong> @(Model.Responsavel2 == null ? string.Empty : Model.Responsavel2.Parentesco)</p></td>
                                                    <td class="tda"><p><strong>RG:</strong> @(Model.Responsavel2 == null ? string.Empty : Model.Responsavel2.Rg)</p></td>
                                                    <td class="tda"><p><strong>CPF:</strong> @(Model.Responsavel2 == null ? string.Empty : Model.Responsavel2.Cpf)</p></td>
                                                    <td class="tda"><p><strong>Nacionalidade:</strong> @(Model.Responsavel2 == null ? string.Empty : Model.Responsavel2.Nacionalidade)</p></td>
                                                    <td class="tda"><p><strong>Telefone:</strong> @(Model.Responsavel2 == null ? string.Empty : Model.Responsavel2.Telefone)</p></td>
                                                    <td class="tda"><p><strong>Celular:</strong> @(Model.Responsavel2 == null ? string.Empty : Model.Responsavel2.Celular)</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda"><p><strong>Cep:</strong> @(Model.Responsavel2 != null && Model.Responsavel2.Endereco != null ? Model.Responsavel2.Endereco.Cep : string.Empty)</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Logradouro:</strong> @(Model.Responsavel2 != null && Model.Responsavel2.Endereco != null ? Model.Responsavel2.Endereco.Logradouro : string.Empty)</p></td>
                                                    <td class="tda"><p><strong>Numero:</strong> @(Model.Responsavel2 != null && Model.Responsavel2.Endereco != null ? Model.Responsavel2.Endereco.Numero : string.Empty)</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Complemento:</strong> @(Model.Responsavel2 != null && Model.Responsavel2.Endereco != null ? Model.Responsavel2.Endereco.Complemento : string.Empty)</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda" colspan="2"><p><strong>Bairro:</strong> @(Model.Responsavel2 != null && Model.Responsavel2.Endereco != null ? Model.Responsavel2.Endereco.Bairro : string.Empty)</p></td>
                                                    <td class="tda" colspan="3"><p><strong>Cidade:</strong> @(Model.Responsavel2 != null && Model.Responsavel2.Endereco != null ? Model.Responsavel2.Endereco.Cidade : string.Empty)</p></td>
                                                    <td class="tda"><p><strong>Estado:</strong> @(Model.Responsavel2 != null && Model.Responsavel2.Endereco != null ? Model.Responsavel2.Endereco.Estado : string.Empty)</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                @if (Model.Pagamento != null)
                                {
                                    <div class="widget-box transparent">
                                        <div class="widget-header widget-header-strong">
                                            <h4 class="widget-title blue stronger">
                                                <i class="ace-icon fa fa-usd"></i>
                                                Dados pagamento
                                            </h4>
                                        </div>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="tda" colspan="2"><p><strong>Tipo pagamento:</strong> @MKF.Web.Infra.Util.RetornarFormaPagamento(Model.Pagamento.TipoPagamento)</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Status do pagamento:</strong> @MKF.Web.Infra.Util.RetornarStatusPagamento(Model.Pagamento.Status)</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Data do pagamento:</strong> @MKF.Web.Infra.Util.FormatarData(Model.Pagamento.DataPagamento)</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="tda" colspan="2"><p><strong>Código de referência:</strong> @Model.Pagamento.CodigoReferencia</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Notificação PagSeguro:</strong> @Model.Pagamento.CodigoTransacaoPG</p></td>
                                                    <td class="tda" colspan="2"><p><strong>Data confirmação PagSeguro:</strong> @MKF.Web.Infra.Util.FormatarData(Model.Pagamento.DataAlteracao)</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                @if (Model.Crianca != null && Model.Crianca.Imagens != null)
                                {
                                    <div class="widget-box transparent">
                                        <div class="widget-header widget-header-strong">
                                            <h4 class="widget-title blue stronger">
                                                <i class="ace-icon fa fa-file-image-o"></i>
                                                Imagens
                                            </h4>
                                        </div>
                                        <div class="col-xs-12">
                                            <ul class="ace-thumbnails">
                                                @foreach (var item in Model.Crianca.Imagens)
                                                {
                                                    if (item.Tipo == "0" || item.Tipo == "2")
                                                    {
                                                        <li>
                                                            <a href="#" data-rel="colorbox">
                                                                <img class="img1" alt="@item.Id" src="@item.URL" />
                                                                <div class="text">
                                                                    <div class="inner">@item.Nome</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="~/Contents/components/jquery/dist/jquery.js"></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/Contents/components/jquery.1x/dist/jquery.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Contents/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="~/Contents/components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="../components/ExplorerCanvas/excanvas.js"></script>
    <![endif]-->
    <script src="~/Contents/components/_mod/jquery-ui.custom/jquery-ui.custom.js"></script>
    <script src="~/Contents/components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/Contents/components/select2/dist/js/select2.js"></script>

    <!-- ace scripts -->
    <script src="~/Contents/assets/js/src/elements.scroller.js"></script>
    <script src="~/Contents/assets/js/src/ace.js"></script>
    <script src="~/Contents/assets/js/src/ace.basics.js"></script>
    <script src="~/Contents/assets/js/src/ace.scrolltop.js"></script>
    <script src="~/Contents/assets/js/src/ace.ajax-content.js"></script>
    <script src="~/Contents/assets/js/src/ace.touch-drag.js"></script>
    <script src="~/Contents/assets/js/src/ace.sidebar.js"></script>
    <script src="~/Contents/assets/js/src/ace.sidebar-scroll-1.js"></script>
    <script src="~/Contents/assets/js/src/ace.submenu-hover.js"></script>
    <script src="~/Contents/assets/js/src/ace.widget-box.js"></script>
    <script src="~/Contents/assets/js/src/ace.settings.js"></script>
    <script src="~/Contents/assets/js/src/ace.settings-rtl.js"></script>
    <script src="~/Contents/assets/js/src/ace.settings-skin.js"></script>
    <script src="~/Contents/assets/js/src/ace.widget-on-reload.js"></script>
    <!-- the following scripts are used in demo only for onpage help and you don't need them -->
    <link rel="stylesheet" href="~/Contents/assets/css/ace.onpage-help.css" />

    <script type="text/javascript"> ace.vars['base'] = '..'; </script>
    <script src="~/Contents/assets/js/src/elements.onpage-help.js"></script>
    <script src="~/Contents/assets/js/src/ace.onpage-help.js"></script>
</body>
</html>
