﻿
@{
    ViewBag.Title = "FiltrarAprovados";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
    int idSeletiva = ViewBag.IdSeletiva;

    <style>
        .aprovar {
            cursor: pointer;
        }

        .reprovar {
            cursor: pointer;
        }
    </style>
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Relatórios</a>
        </li>
        <li class="active">Resultado Seletiva</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Consultar crianças já avaliadas
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12">
            <div class="row search-page" id="search-page-1">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <!-- #section:pages/search.well -->
                            <div class="search-area well well-sm">
                                <div class="search-filter-header bg-primary">
                                    <h5 class="smaller no-margin-bottom">
                                        <i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Refine sua Busca
                                    </h5>
                                </div>

                                <div class="space-10"></div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="nomeCrianca" placeholder="Nome criança" />
                                    </div>
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="resp1" placeholder="Nome responsável 1" />
                                    </div>
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="resp2" placeholder="Nome responsável 2" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        @Html.DropDownList("Sexo", MKF.Web.Infra.Funcoes.SexoList(), "Sexo", new { @class = "col-xs-12 col-sm-11 col-md-12" })
                                    </div>
                                </div>

                                <div class="hr hr-dotted"></div>

                                <!-- #section:plugins/input.select2 -->
                                <h4 class="blue smaller">
                                    <i class="fa fa-tag light-orange bigger-110"></i>
                                    Inscrição
                                </h4>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="inscricao" placeholder="Numero de inscrição" />
                                    </div>
                                </div>

                                <!-- /section:plugins/input.select2 -->
                                <div class="hr hr-dotted"></div>

                                <!-- #section:plugins/jquery.slider -->
                                <h4 class="blue smaller">
                                    <i class="fa fa-calendar light-green bigger-110"></i>
                                    Idade
                                </h4>

                                <div class="search-filter-element">
                                    <span>Mín.</span>
                                    &nbsp;
                                    <div id="slider-range" class="inline"></div>
                                    &nbsp;
                                    <span>Máx.</span>
                                </div>

                                <div class="hr hr-dotted"></div>

                                <!-- #section:plugins/input.select2 -->
                                <h4 class="blue smaller">
                                    <i class="fa fa-location-arrow light-grey bigger-110"></i>
                                    Manequim
                                </h4>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <input type="text" class="col-xs-12 col-sm-12" id="tamanho" placeholder="Tamanho" />
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <input type="text" class="col-xs-12 col-sm-12" id="altura" placeholder="Altura" />
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <input type="text" class="col-xs-12 col-sm-12" id="peso" placeholder="Peso" />
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <input type="text" class="col-xs-12 col-sm-12" id="calcado" placeholder="Calçado" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <input type="text" class="col-xs-12 col-sm-12" id="cabelo" placeholder="Cor do cabelo" />
                                    </div>
                                </div>

                                <!-- /section:plugins/jquery.slider -->
                                <div class="hr hr-dotted hr-24"></div>

                                <div class="text-center">
                                    <button type="button" id="btnBuscar" class="btn btn-default btn-round btn-white">
                                        <i class="ace-icon fa fa-refresh green"></i>
                                        Buscar
                                    </button>
                                </div>

                                <div class="space-4"></div>
                            </div>

                            <!-- /section:pages/search.well -->
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="media-heading">
                                        <span class="blue" id="totalSeletiva"></span>
                                    </h4>
                                </div>
                                <div class="col-xs-12" id="itensSeletiva">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function ($) {
        var ranger = [0, 16];
        $('[data-rel=tooltip]').tooltip();

        //select2 location element
        $('.select2').css('min-width', '150px').select2({ allowClear: true });

        //jQuery ui distance slider
        $("#slider-range").css('width', '150px').slider({
            range: true,
            min: 0,
            max: 16,
            values: [0, 16],
            slide: function (event, ui) {
                var val = ui.values[$(ui.handle).index() - 1] + "";
                ranger = ui.values;

                if (!ui.handle.firstChild) {
                    $("<div class='tooltip bottom in' style='display:none;left:-6px;top:14px;'><div class='tooltip-arrow'></div><div class='tooltip-inner'></div></div>")
                    .prependTo(ui.handle);
                }
                $(ui.handle.firstChild).show().children().eq(1).text(val);
            }
        }).find('span.ui-slider-handle').on('blur', function () {
            $(this.firstChild).hide();
        });


        //this is for demo only
        $('.thumbnail').on('mouseenter', function () {
            $(this).find('.info-label').addClass('label-primary');
        }).on('mouseleave', function () {
            $(this).find('.info-label').removeClass('label-primary');
        });


        //toggle display format buttons
        $('#toggle-result-format .btn').tooltip({ container: 'body' }).on('click', function (e) {
            $(this).siblings().each(function () {
                $(this).removeClass($(this).attr('data-class')).addClass('btn-grey');
            });
            $(this).removeClass('btn-grey').addClass($(this).attr('data-class'));
        });

        ////////////////////
        //show different search page
        $('#toggle-result-page .btn').on('click', function (e) {
            var target = $(this).find('input[type=radio]');
            var which = parseInt(target.val());
            $('.search-page').parent().addClass('hide');
            $('#search-page-' + which).parent().removeClass('hide');
        });

        $("#btnBuscar").click(function (e) {

            e.preventDefault();
            debugger;
            $("#loading").show();
            var idadeMin = ranger[0];
            var idadeMax = ranger[1];
            var color = "";
            var email = "";
            var id = 0;

            var seletiva = @ViewBag.IdSeletiva;
            var nomeCrianca = $("#nomeCrianca").val() == '' ? "null" : $("#nomeCrianca").val();
            var nomeResp1 = $("#resp1").val() == '' ? "null" : $("#resp1").val();
            var nomeResp2 = $("#resp2").val() == '' ? "null" : $("#resp2").val();
            var inscricao = $("#inscricao").val() == '' ? "null" : $("#inscricao").val();
            var tamanho = $("#tamanho").val() == '' ? "null" : $("#tamanho").val();
            var altura = $("#altura").val() == '' ? "0" : $("#altura").val();
            var peso = $("#peso").val() == '' ? "0" : $("#peso").val();
            var calcado = $("#calcado").val() == '' ? "0" : $("#calcado").val();
            var cabelo = $("#cabelo").val() == '' ? "null" : $("#cabelo").val();
            var sexo = $("#Sexo").val() == '' ? null : $("#Sexo").val();

            var con = nomeCrianca + "/" + nomeResp1 + "/" + nomeResp2 + "/" + seletiva + "/" + inscricao + "/" + idadeMin + "/" + idadeMax + "/" + tamanho + "/" + altura + "/" + peso + "/" + calcado + "/" + cabelo + "/" + sexo;
            var urlCompleta = "http://www.minasfashionkids.com.br/Api/api/Inscricao/Seletiva/Avaliadas/" + con;
            //var urlCompleta = "http://localhost/MKF.Api/api/Inscricao/Seletiva/Avaliadas/" + con;

            $.ajax({
                url: urlCompleta,
                cache: false,
                type: 'GET',
                success: function (data) {

                    $("#itensSeletiva").html('');
                    if (data.length == 0) {

                        $("#totalSeletiva").html("Total: " + data.length);
                        var div1 = "<div class=\"media search-media\">Nenhum registro encontrado! </div>";

                        $("#itensSeletiva").append(div1);
                        $("#loading").hide();
                    }
                    else {
                        $("#totalSeletiva").html("Total: " + data.length);
                        jQuery.each(data, function (i, item) {
                            email = "não enviado";
                            id = item.Id;
                            var div = "<div class=\"media search-media\"> " +
                                            "<div class=\"media-left\"> " +
                                                "<a href=\"#\">" +
                                                    "<img style=\"width: 72px;\" class=\"media-object\" src=\"" + item.UrlImagem + "\" />" +
                                                "</a>" +
                                            "</div>" +

                                            "<div class=\"media-body\">" +
                                                "<div>" +
                                                    "<h4 class=\"media-heading\">" +
                                                        "<a href=\"#\" class=\"blue\">" + item.Nome + "</a>" +
                                                    "</h4>" +
                                                "</div>" +
                                                "<p> Inscrição: " + item.Inscricao + " | Responsável 1: " + item.Resp1 + " | Responsável 2: " + item.Resp2 + " | Data de nascimento: " + item.DataNascimento + " </p>";
                            div += "<p> Manequim: " + item.Tamanho + " | Altura: " + item.Altura + " | Peso: " + item.Peso + " | Calçado: " + item.Calcado + " </p>";
                            div += "<p> Cor da pele: " + item.CorPele + " | Cor do cabelo: " + item.CorCabelo + " | Cor dos olhos: " + item.CorOlho + " </p>";
                            div += "<p> Agencias: " + item.Agencia + " </p>";
                            div += "<p> Resumo: " + item.Resumo + " </p>";
                            var sum = 0;
                            for (var i = 0; i < item.Jurados.length; i++) {

                                div += "<p>Jurado: " + item.Jurados[i].Nome + "</p>";
                                div += "<p>Itens avaliados:</p>";
                                for (var j = 0; j < item.Jurados[i].Avaliacoes.length; j++) {
                                    div += item.Jurados[i].Avaliacoes[j].Item + ": " + item.Jurados[i].Avaliacoes[j].Nota + " | ";
                                    sum += item.Jurados[i].Avaliacoes[j].Nota;
                                }
                                div += "</p>";
                            }

                            var media = (sum / 4) / item.Jurados.length

                            div += "<div class=\"search-actions text-center\"><span class=\"blue bolder bigger-150\">" + item.Idade + "</span> Idade";

                            div += "</br><span class=\"blue bolder bigger-150\">" + media.toFixed(2) + "</span> Média avaliação";

                            @*div += "<div class=\"action-buttons bigger-150\"> " +
                                "<a class=\"aprovar\" style=\"padding: 4px;\" data-rel=\"tooltip\" title=\"Aprovar\" data-id=\"" + item.Id + "\"> " +
                                    "<i class=\"ace-icon fa fa-thumbs-up blue\"></i>" +
                                "</a> " +
                                "<a class=\"reprovar\" style=\"padding: 4px;\" data-rel=\"tooltip\" title=\"Reprovar\" data-id=\"" + item.Id + "\"> " +
                                    "<i class=\"ace-icon fa fa-thumbs-down blue\"></i>" +
                                "</a></div>";

                            //var url = '@Url.Action("EditarSeletiva", "Relatorio")';
                            //url += "/" + item.IdCrianca + "," + item.IdPagamento;
                            if (item.StatusModelo == "3") {
                                div += "<div class=\"action-buttons bigger-125\" id=\"idAprovado\"><span class=\"label label-success label-white middle\">Aprovado</span></div>";
                                div += "<div class=\"action-buttons bigger-125 hide\" id=\"idReprovado\"><span class=\"label label-danger label-white middle\">Reprovado</span></div>";
                            }
                            else if (item.StatusModelo == "4") {
                                div += "<div class=\"action-buttons bigger-125\" id=\"idReprovado\"><span class=\"label label-danger label-white middle\">Reprovado</span></div>";
                                div += "<div class=\"action-buttons bigger-125 hide\" id=\"idAprovado\"><span class=\"label label-success label-white middle\">Aprovado</span></div>";
                            }
                            else {
                                div += "<div class=\"action-buttons bigger-125 hide\" id=\"idAprovado\"><span class=\"label label-success label-white middle\">Aprovado</span></div>";
                                div += "<div class=\"action-buttons bigger-125 hide\" id=\"idReprovado\"><span class=\"label label-danger label-white middle\">Reprovado</span></div>";
                            }*@

                            div += "</div>" +
                        //"<a href=\"" + url + "\" class=\"search-btn-action btn btn-sm btn-block btn-info\" data-rel=\"tooltip\" title=\"Visualizar\">Visualizar</a>" +
                    "</div>" +
                "</div>" +
           "</div>";

                            $("#itensSeletiva").append(div);
                            $(".search-media").css("min-height", "140px");
                            $('[data-rel=tooltip]').tooltip();
                        });

                        //$(".aprovar").click(function (e) {
                        //    e.preventDefault();
                        //    $("#loading").show();
                        //    var id = $(this).attr("data-id")
                        //    var d = this.parentNode;
                        //    var e = d.parentNode;
                        //    var url = "http://www.minasfashionkids.com.br/Api/api/Modelo/AlterarStatus?idModelo=" + id + "&status=" + 3;
                        //    //var url = "http://localhost/MKF.Api/api/Modelo/AlterarStatus?idModelo=" + id + "&status=" + 3;
                        //    $.ajax({
                        //        type: "PUT",
                        //        url: url,
                        //        success: function (data) {
                        //            if (data) {
                        //                $(e).find("#idAprovado").removeClass("hide");
                        //                $(e).find("#idReprovado").addClass("hide");
                        //            }
                        //            else
                        //                Erro("Falha ao alterar o status da criança. Favor contate o administrador do sistema.");

                        //            $("#loading").hide();
                        //        },
                        //        error: function (data) {
                        //            Erro("Falha ao alterar o status da criança. Favor contate o administrador do sistema.");
                        //            $("#loading").hide();
                        //        }
                        //    });
                        //});

                        //$(".reprovar").click(function (e) {
                        //    e.preventDefault();
                        //    $("#loading").show();
                        //    var id = $(this).attr("data-id")
                        //    var d = this.parentNode;
                        //    var e = d.parentNode;
                        //    var url = "http://www.minasfashionkids.com.br/Api/api/Modelo/AlterarStatus?idModelo=" + id + "&status=" + 4;
                        //    //var url = "http://localhost/MKF.Api/api/Modelo/AlterarStatus?idModelo=" + id + "&status=" + 4;
                        //    $.ajax({
                        //        type: "PUT",
                        //        url: url,
                        //        success: function (data) {
                        //            debugger;
                        //            if (data) {
                        //                $(e).find("#idAprovado").addClass("hide");
                        //                $(e).find("#idReprovado").removeClass("hide");
                        //            }
                        //            else
                        //                Erro("Falha ao alterar o status da criança. Favor contate o administrador do sistema.");

                        //            $("#loading").hide();
                        //        },
                        //        error: function (data) {
                        //            Erro("Falha ao alterar o status da criança. Favor contate o administrador do sistema.");
                        //            $("#loading").hide();
                        //        }
                        //    });
                        //});

                        $("#loading").hide();
                    }
                },
                error: function (response) {
                    $("#loading").hide();
                    alert(JSON.stringify(response.errors));
                }
            });
        });
    });
</script>
<script src="~/Contents/assets/pages/Mensagem.js"></script>