﻿@model List<MKF.Web.Models.Relatorios.MapaSeletivaModels>
@{
    ViewBag.Title = "MapaSeletiva";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Seletiva</a>
        </li>
        <li class="active">Mapa da seletiva</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Mapa da seletiva @ViewBag.NomeSeletiva
        </h1>
    </div><!-- /.page-header -->
    <div class="row" id="print">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">Total: @Model.Count()</h4>
                <span class="widget-toolbar">
                    <a href='@Url.Action("ExportarMapaSeletiva", "Relatorio", new { idSeletiva = ViewBag.IdSeletiva })'>
                    <img src="~/Imagens/doc_excel_table.png" />
                    </a>
                </span>
                <span class="widget-toolbar">
                    <a href="#" data-action="collapse" id="printAuto">
                        <i class="ace-icon fa fa-print large"></i>
                    </a>
                </span>
                <span class="widget-toolbar">
                    <a href="@Url.Action("Index", "Seletiva")">
                        <i class="ace-icon fa fa-reply large"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-xs-12">
            @foreach (var item in Model)
            {
                <div class="media search-media">
                    <div class="media-left">
                        <img class="media-object" src="@item.UrlImagem" style="width:72px" />
                    </div>

                    <div class="media-body">
                        <div>
                            <h4 class="media-heading">
                                <span class="blue">@item.Nome - @item.NomeArtistico</span>
                            </h4>
                        </div>
                        <p>Horário apresentação: @item.HorarioDesfile.ToString("dd/MM/yyyy HH:mm")</p>
                        <p>Cor da pele: @item.CorPele</p>
                        <p>Cor dos olhos: @item.CorOlho</p>
                        <p>Cor do cabelo: @item.CorCabelo</p>
                        @if (item.Agenciado == 1)
                        {
                            <p>Agência: @item.Agencia</p>
                        }
                        <p>Resumo: @item.Resumo</p>

                        <!-- #section:pages/search.media.buttons -->
                        <div class="search-actions text-center">
                            <div class="row">
                                <span class="text-info">Idade</span>
                                <span class="blue">@item.Idade</span>
                            </div>

                            <div class="row">
                                <span class="text-info">Tamanho</span>
                                <span class="blue">@item.Tamanho</span>
                            </div>

                            <div class="row">
                                <span class="text-info">Altura</span>
                                <span class="blue">@item.Altura</span>
                            </div>

                            <div class="row">
                                <span class="text-info">Peso</span>
                                <span class="blue">@item.Peso</span>
                            </div>

                            <div class="row">
                                <span class="text-info">Calçado</span>
                                <span class="blue">@item.Calcado</span>
                            </div>
                        </div>

                        <!-- /section:pages/search.media.buttons -->
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    jQuery(function ($) {
        $("#printAuto").click(function (e) {

            e.preventDefault();
            $("#loading").show();
            PrintMe();
            $("#loading").hide();
        });
    });

    function PrintMe() {
        var disp_setting = "toolbar=yes,location=no,";
        disp_setting += "directories=yes,menubar=yes,";
        disp_setting += "scrollbars=yes,width=650, height=600, left=100, top=25";
        var content_vlue = document.getElementById("print").innerHTML;
        var docprint = window.open("", "", disp_setting);
        docprint.document.open();
        docprint.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"');
        docprint.document.write('"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">');
        docprint.document.write('<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">');
        docprint.document.write('<head><title>My Title</title>');
        docprint.document.write('<style type="text/css">body{ margin:0px;');
        docprint.document.write('font-family:verdana,Arial;color:#000;');
        docprint.document.write('font-family:Verdana, Geneva, sans-serif; font-size:12px;}');
        docprint.document.write('a{color:#000;text-decoration:none;} </style>');
        docprint.document.write('</head><body onLoad="self.print()"><center>');
        docprint.document.write(content_vlue);
        docprint.document.write('</center></body></html>');
        docprint.document.close();
        docprint.focus();
    }
</script>