﻿@model List<MKF.Web.Models.ModeloModels>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>User Profile Page - Ace Admin</title>

    <meta name="description" content="3 styles with inline editable feature" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Contents/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Contents/components/font-awesome/css/font-awesome.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/Contents/components/_mod/jquery-ui.custom/jquery-ui.custom.css" />
    <link rel="stylesheet" href="~/Contents/components/select2/dist/css/select2.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/Contents/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Contents/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../assets/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/Contents/assets/css/ace-skins.css" />
    <link rel="stylesheet" href="~/Contents/assets/css/ace-rtl.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/Contents/assets/css/ace-ie.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Contents/assets/js/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/Contents/components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="~/Contents/components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <style>
        .img1 {
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;
        }

        .img2 {
            max-width: 100px;
            max-height: 100px;
            width: auto;
            height: auto;
        }

        .tda {
            padding: 0px 2px !important;
        }
    </style>
</head>

<body class="no-skin">
    <!-- /section:basics/navbar.layout -->
    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="page-header">
                        <img src="~/Contents/assets/images/MFK.png" width="100" />
                    </div><!-- /.page-header -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 center">
                            <h1>Aprovados</h1>
                        </div>
                        <div class="col-xs-12">
                            @foreach (var item in Model)
                            {
                                <div class="media search-media">

                                    <div class="media-left">
                                        <img class="media-object" src="@(@item.Crianca.Imagens != null? item.Crianca.Imagens[0].URL: null)" style="width:72px" />
                                    </div>

                                    <div class="media-body">
                                        <div>
                                            <h4 class="media-heading">
                                                <span class="blue">@item.Crianca.Nome - @item.NomeArtistico</span>
                                            </h4>
                                        </div>
                                        <p><strong>Responsável 1:</strong> @item.Mae.Nome</p>
                                        <p><strong>E-mail:</strong> @item.Mae.Email</p>
                                        <p><strong>Contato:</strong>@item.Mae.Celular</p>
                                        @if (item.Pai != null)
                                        {
                                            <p><strong>Responsável 2:</strong> @item.Pai.Nome</p>
                                            <p><strong>E-mail:</strong> @item.Pai.Email</p>
                                            <p><strong>Contato:</strong>@item.Pai.Celular</p>
                                        }
                                        <p><strong>Cor da pele:</strong> @item.Manequins.CorPele</p>
                                        <p><strong>Cor dos olhos:</strong> @item.Manequins.CorOlho</p>
                                        <p><strong>Cor do cabelo:</strong> @item.Manequins.CorCabelo</p>
                                        @if (item.Manequins.Agenciado)
                                        {
                                            <p><strong>Agência:</strong> @item.Manequins.Agencia</p>
                                        }
                                        <p><strong>Resumo:</strong> @item.Manequins.Resumo</p>

                                        <!-- #section:pages/search.media.buttons -->
                                        <div class="search-actions text-center">
                                            <div class="row">
                                                <span class="text-info"><strong>Idade:</strong></span>
                                                <span class="blue">@MKF.Web.Infra.Util.CalculateIdade(item.Crianca.DataNascimento.Value)</span>
                                            </div>

                                            <div class="row">
                                                <span class="text-info"><strong>Tamanho:</strong></span>
                                                <span class="blue">@item.Manequins.Tamanho</span>
                                            </div>

                                            <div class="row">
                                                <span class="text-info"><strong>Altura:</strong></span>
                                                <span class="blue">@item.Manequins.Altura</span>
                                            </div>

                                            <div class="row">
                                                <span class="text-info"><strong>Peso:</strong></span>
                                                <span class="blue">@item.Manequins.Peso</span>
                                            </div>

                                            <div class="row">
                                                <span class="text-info"><strong>Calçado:</strong></span>
                                                <span class="blue">@item.Manequins.Calcado</span>
                                            </div>
                                        </div>

                                        <!-- /section:pages/search.media.buttons -->
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="~/Contents/components/jquery/dist/jquery.js"></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/Contents/components/jquery.1x/dist/jquery.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Contents/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="~/Contents/components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="../components/ExplorerCanvas/excanvas.js"></script>
    <![endif]-->
    <script src="~/Contents/components/_mod/jquery-ui.custom/jquery-ui.custom.js"></script>
    <script src="~/Contents/components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/Contents/components/select2/dist/js/select2.js"></script>

    <!-- ace scripts -->
    <script src="~/Contents/assets/js/src/elements.scroller.js"></script>
    <script src="~/Contents/assets/js/src/ace.js"></script>
    <script src="~/Contents/assets/js/src/ace.basics.js"></script>
    <script src="~/Contents/assets/js/src/ace.scrolltop.js"></script>
    <script src="~/Contents/assets/js/src/ace.ajax-content.js"></script>
    <script src="~/Contents/assets/js/src/ace.touch-drag.js"></script>
    <script src="~/Contents/assets/js/src/ace.sidebar.js"></script>
    <script src="~/Contents/assets/js/src/ace.sidebar-scroll-1.js"></script>
    <script src="~/Contents/assets/js/src/ace.submenu-hover.js"></script>
    <script src="~/Contents/assets/js/src/ace.widget-box.js"></script>
    <script src="~/Contents/assets/js/src/ace.settings.js"></script>
    <script src="~/Contents/assets/js/src/ace.settings-rtl.js"></script>
    <script src="~/Contents/assets/js/src/ace.settings-skin.js"></script>
    <script src="~/Contents/assets/js/src/ace.widget-on-reload.js"></script>
    <!-- the following scripts are used in demo only for onpage help and you don't need them -->
    <link rel="stylesheet" href="~/Contents/assets/css/ace.onpage-help.css" />

    <script type="text/javascript"> ace.vars['base'] = '..'; </script>
    <script src="~/Contents/assets/js/src/elements.onpage-help.js"></script>
    <script src="~/Contents/assets/js/src/ace.onpage-help.js"></script>
</body>
</html>
