﻿@*@model List<MKF.Web.Models.Relatorios.RelSeletivaViewModels>*@
@{
    ViewBag.Title = "Seletiva";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
    int idSeletiva = ViewBag.IdSeletiva;
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Relatórios</a>
        </li>
        <li class="active">Inscrição Seletiva</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Consultar crianças da Seletiva @ViewBag.NomeSeletiva
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12">
            <div class="row search-page" id="search-page-1">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <!-- #section:pages/search.well -->
                            <div class="search-area well well-sm">
                                <div class="search-filter-header bg-primary">
                                    <h5 class="smaller no-margin-bottom">
                                        <i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Refine sua Busca
                                    </h5>
                                </div>
                                @Html.Hidden("IdSeletiva", idSeletiva)
                                <div class="space-10"></div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="nomeCrianca" placeholder="Nome criança" />
                                    </div>
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="resp1" placeholder="Nome responsável 1" />
                                    </div>
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="resp2" placeholder="Nome responsável 2" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        @Html.DropDownList("Horario", MKF.Web.Infra.Funcoes.HorarioFiltroList(idSeletiva), "Horário Seletiva", new { @class = "col-xs-12 col-sm-11 col-md-12" })
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        @Html.DropDownList("Sexo", MKF.Web.Infra.Funcoes.SexoList(), "Sexo", new { @class = "col-xs-12 col-sm-11 col-md-12" })
                                    </div>
                                </div>

                                @*<div class="hr hr-dotted"></div>

                                    <h4 class="blue smaller">
                                        <i class="fa fa-glass"></i>
                                        Evento
                                    </h4>

                                    <!-- #section:plugins/fuelux.treeview -->
                                    <div class="tree-container">
                                        <ul id="cat-tree"></ul>
                                    </div>*@

                                <!-- /section:plugins/fuelux.treeview -->
                                <div class="hr hr-dotted"></div>

                                <!-- #section:plugins/input.select2 -->
                                <h4 class="blue smaller">
                                    <i class="fa fa-tag light-orange bigger-110"></i>
                                    Inscrição
                                </h4>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="inscricao" placeholder="Numero de inscrição" />
                                    </div>
                                </div>

                                <!-- /section:plugins/input.select2 -->
                                <div class="hr hr-dotted"></div>

                                <!-- #section:plugins/jquery.slider -->
                                <h4 class="blue smaller">
                                    <i class="fa fa-calendar light-green bigger-110"></i>
                                    Idade
                                </h4>

                                <div class="search-filter-element">
                                    <span>Mín.</span>
                                    &nbsp;
                                    <div id="slider-range" class="inline"></div>
                                    &nbsp;
                                    <span>Máx.</span>
                                </div>

                                <div class="hr hr-dotted"></div>

                                <!-- #section:plugins/input.select2 -->
                                <h4 class="blue smaller">
                                    <i class="fa fa-map-marker light-red bigger-110"></i>
                                    Código de referencia
                                </h4>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="codReferencia" placeholder="Código de referência" />
                                    </div>
                                </div>

                                <!-- /section:plugins/jquery.slider -->
                                <div class="hr hr-dotted"></div>

                                <!-- #section:plugins/input.select2 -->
                                <h4 class="blue smaller">
                                    <i class="fa fa-location-arrow light-grey bigger-110"></i>
                                    Status
                                </h4>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        @Html.DropDownList("statusPagamento", MKF.Web.Infra.Funcoes.StatusPagamentoList(), "Selecione", new { @class = "col-xs-12 col-sm-12" })
                                    </div>
                                </div>

                                <!-- /section:plugins/jquery.slider -->
                                <div class="hr hr-dotted"></div>

                                <!-- #section:plugins/input.select2 -->
                                <h4 class="blue smaller">
                                    <i class="fa fa-location-arrow light-grey bigger-110"></i>
                                    Manequim
                                </h4>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <input type="text" class="col-xs-12 col-sm-12" id="tamanho" placeholder="Tamanho" />
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <input type="text" class="col-xs-12 col-sm-12" id="altura" placeholder="Altura" />
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <input type="text" class="col-xs-12 col-sm-12" id="peso" placeholder="Peso" />
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <input type="text" class="col-xs-12 col-sm-12" id="calcado" placeholder="Calçado" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <input type="text" class="col-xs-12 col-sm-12" id="cabelo" placeholder="Cor do cabelo" />
                                    </div>
                                </div>

                                <!-- /section:plugins/jquery.slider -->
                                <div class="hr hr-dotted hr-24"></div>

                                <div class="text-center">
                                    @*<button type="button" id="btnBuscar" class="btn btn-default btn-round btn-white">
                                        <i class="ace-icon fa fa-refresh green"></i>
                                        Buscar
                                    </button>*@
                                    <a href="#" class="btn btn-sm btn-block btn-white" id="btnBuscar">
                                        <i class="ace-icon fa fa-refresh green"></i>
                                        <span class="bigger-110">Buscar</span>
                                    </a>
                                    
                                    <a href="@Url.Action("Index", "Seletiva")" class="btn btn-sm btn-block btn-white">
                                        <i class="ace-icon fa fa-reply bigger-110 blue"></i>
                                        <span class="bigger-110">Voltar</span>
                                    </a>
                                </div>

                                <div class="space-4"></div>
                            </div>

                            <!-- /section:pages/search.well -->
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="media-heading">
                                        <span class="blue" id="totalSeletiva"></span>
                                    </h4>
                                </div>
                                <div class="col-xs-12" id="itensSeletiva">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function ($) {
        var ranger = [0, 16];
        $('[data-rel=tooltip]').tooltip();
        //PreencherSeletivas();

        //select2 location element
        $('.select2').css('min-width', '150px').select2({ allowClear: true });

        //jQuery ui distance slider
        $("#slider-range").css('width', '150px').slider({
            range: true,
            min: 0,
            max: 16,
            values: [0, 16],
            slide: function (event, ui) {
                var val = ui.values[$(ui.handle).index() - 1] + "";
                ranger = ui.values;

                if (!ui.handle.firstChild) {
                    $("<div class='tooltip bottom in' style='display:none;left:-6px;top:14px;'><div class='tooltip-arrow'></div><div class='tooltip-inner'></div></div>")
                    .prependTo(ui.handle);
                }
                $(ui.handle.firstChild).show().children().eq(1).text(val);
            }
        }).find('span.ui-slider-handle').on('blur', function () {
            $(this.firstChild).hide();
        });


        //this is for demo only
        $('.thumbnail').on('mouseenter', function () {
            $(this).find('.info-label').addClass('label-primary');
        }).on('mouseleave', function () {
            $(this).find('.info-label').removeClass('label-primary');
        });


        //toggle display format buttons
        $('#toggle-result-format .btn').tooltip({ container: 'body' }).on('click', function (e) {
            $(this).siblings().each(function () {
                $(this).removeClass($(this).attr('data-class')).addClass('btn-grey');
            });
            $(this).removeClass('btn-grey').addClass($(this).attr('data-class'));
        });

        ////////////////////
        //show different search page
        $('#toggle-result-page .btn').on('click', function (e) {
            var target = $(this).find('input[type=radio]');
            var which = parseInt(target.val());
            $('.search-page').parent().addClass('hide');
            $('#search-page-' + which).parent().removeClass('hide');
        });

        $("#btnBuscar").click(function (e) {
            $("#loading").show();
            e.preventDefault();
            var idadeMin = ranger[0];
            var idadeMax = ranger[1];
            var color = "";
            var email = "";
            var id = 0;

            var seletiva = $("#IdSeletiva").val();
            var nomeCrianca = $("#nomeCrianca").val() == '' ? "null" : $("#nomeCrianca").val();
            var nomeResp1 = $("#resp1").val() == '' ? "null" : $("#resp1").val();
            var nomeResp2 = $("#resp2").val() == '' ? "null" : $("#resp2").val();
            var inscricao = $("#inscricao").val() == '' ? "null" : $("#inscricao").val();
            var codigoRef = $("#codReferencia").val() == '' ? "null" : $("#codReferencia").val();
            var status = $("#statusPagamento").val() == '' ? "null" : $("#statusPagamento").val();
            var tamanho = $("#tamanho").val() == '' ? "null" : $("#tamanho").val();
            var altura = $("#altura").val() == '' ? "0" : $("#altura").val();
            var peso = $("#peso").val() == '' ? "0" : $("#peso").val();
            var calcado = $("#calcado").val() == '' ? "0" : $("#calcado").val();
            var cabelo = $("#cabelo").val() == '' ? "null" : $("#cabelo").val();
            var horario = $("#Horario").val() == '' ? null : formatDate($("#Horario").val());
            var sexo = $("#Sexo").val() == '' ? null : $("#Sexo").val();

            var con = nomeCrianca + "/" + nomeResp1 + "/" + nomeResp2 + "/" + seletiva + "/" + inscricao + "/" + idadeMin + "/" + idadeMax + "/" + codigoRef + "/" + status + "/null/" + tamanho + "/" + altura + "/" + peso + "/" + calcado + "/" + cabelo + "/" + horario + "/" + sexo;
            var urlCompleta = "http://www.minasfashionkids.com.br/Api/api/Relatorio/Buscar/InscricaoSeletiva/" + con;
            //var urlCompleta = "http://localhost/MKF.Api/api/Relatorio/Buscar/InscricaoSeletiva/" + con;

            $.ajax({
                url: urlCompleta,
                cache: false,
                type: 'GET',
                success: function (data) {

                    $("#itensSeletiva").html('');
                    if (data.length == 0) {

                        $("#totalSeletiva").html("Total: " + data.length);
                        var div1 = "<div class=\"media search-media\">Nenhum registro encontrado! </div>";

                        $("#itensSeletiva").append(div1);
                    }
                    else {
                        $("#totalSeletiva").html("Total: " + data.length);
                        jQuery.each(data, function (i, item) {
                            email = "não enviado";
                            id = item.Id;
                            var div = "<div class=\"media search-media\"> " +
                                            "<div class=\"media-left\"> " +
                                                "<a href=\"#\">" +
                                                    "<img style=\"width: 72px;\" class=\"media-object\" src=\"" + item.UrlImagem + "\" />" +
                                                "</a>" +
                                            "</div>" +

                                            "<div class=\"media-body\">" +
                                                "<div>" +
                                                    "<h4 class=\"media-heading\">" +
                                                        "<a href=\"#\" class=\"blue\">" + item.NomeCrianca + "</a>" +
                                                    "</h4>" +
                                                "</div>" +
                                                "<p> Inscrição: " + item.Inscricao + " | Responsável 1: " + item.NomeResp1 + " | Responsável 2: " + item.NomeResp2 + " | Codigo Referência 1: " + item.CodigoReferencia + " </p>" +
                                                "<div class=\"search-actions text-center\"> " +
                                                    "<span class=\"blue bolder bigger-150\">" + item.Idade + "</span> Idade" +
                                                    "<div class=\"action-buttons bigger-125\">";

                            if (item.StatusPagamento == "3" || item.StatusPagamento == "4" || item.StatusPagamento == "8") {
                                div += "<span style=\"padding: 4px;\" data-rel=\"tooltip\" title=\"Transação aprovada\"> " +
                                    "<i class=\"ace-icon fa fa-dollar green\"></i>" +
                                "</span>"

                                color = "green";
                                email = "enviado";
                            }
                            else if (item.StatusPagamento == "1" || item.StatusPagamento == "2") {
                                div += "<span style=\"padding: 4px;\" data-rel=\"tooltip\" title=\"Transação pendente de análise\">" +
                                    "<i class=\"ace-icon fa fa-dollar orange2\"></i>" +
                                "</span>"

                                color = "orange2";
                            }
                            else {
                                div += "<span style=\"padding: 4px;\" data-rel=\"tooltip\" title=\"Transação negada ou cancelada\">" +
                                    "<i class=\"ace-icon fa fa-dollar red\"></i>" +
                                "</span>"

                                color = "red";
                            }

                            if (item.TipoPagamento == "1") {
                                div += "<span style=\"padding: 4px;\" data-rel=\"tooltip\" title=\"Cartão de crédito\">" +
                                    "<i class=\"ace-icon fa fa-credit-card " + color + "\"></i>" +
                                "</span>"
                            }
                            else if (item.TipoPagamento == "2") {
                                div += "<span style=\"padding: 4px;\" data-rel=\"tooltip\" title=\"Boleto bancário\">" +
                                    "<i class=\"ace-icon fa fa-barcode " + color + "\"></i>" +
                                "</span>"
                            }
                            else {
                                div += "<span style=\"padding: 4px;\" data-rel=\"tooltip\" title=\"Outros\">" +
                                    "<i class=\"ace-icon fa fa-dollar " + color + "\"></i>" +
                                "</span>"
                            }

                            div += "<span style=\"padding: 4px;\" data-rel=\"tooltip\" title=\"E-mail " + email + "\">" +
                                       "<i class=\"ace-icon fa fa-envelope " + color + "\"></i>" +
                                   "</span>";

                            var url = '@Url.Action("EditarSeletiva", "Relatorio")';
                            url += "/" + item.IdCrianca + "," + item.IdPagamento;

                            div += "</div>" +
                        "<a href=\"" + url + "\" class=\"search-btn-action btn btn-sm btn-block btn-info\" data-rel=\"tooltip\" title=\"Visualizar\">Visualizar</a>" +
                    "</div>" +
                "</div>" +
           "</div>";

                            $("#itensSeletiva").append(div);

                            $('[data-rel=tooltip]').tooltip();
                        });
                    }
                    $("#loading").hide();
                },
                error: function (response) {
                    $("#loading").hide();
                    alert(JSON.stringify(response.errors));
                }
            });
        });
    });

    function PreencherSeletivas() {
        $.ajax({
            url: "ListarEventos",
            cache: false,
            type: 'GET',
            success: function (data) {
                if (data.Status == "Sucesso") {
                    MontarTreeView(data.Data);
                }
                else
                    $("#dadosSeletiva").html(data);
            },
            error: function (response) {
                alert(JSON.stringify(response.errors));
            }
        });
    }

    function MontarTreeView(dados) {
        var categoryN = {}
        var jsonObjDados = {};
        jQuery.each(dados, function (i, val) {

            jsonObjDados["text"] = val.Nome;

            jsonObjDados["type"] = 'folder';

            categoryN[val.Nome] = jsonObjDados;

            jQuery.each(val.Seletivas, function (n, t) {
                var children = {};
                var item = {};
                var subItem = {};
                item["text"] = t.Nome;
                item["type"] = 'item';
                item["value"] = t.Id;
                subItem[t.Nome] = item;
                children["children"] = subItem;
                categoryN[val.Nome]['additionalParameters'] = children;
            });
        });

        var dataSource1 = function (options, callback) {
            var $data = null
            if (!("text" in options) && !("type" in options)) {
                $data = categoryN;//the root tree
                callback({ data: $data });
                return;
            }
            else if ("type" in options && options.type == "folder") {
                if ("additionalParameters" in options && "children" in options.additionalParameters)
                    $data = options.additionalParameters.children || {};
                else $data = {}//no data
            }

            callback({ data: $data })
        }

        $('#cat-tree').ace_tree({
            dataSource: dataSource1,
            multiSelect: true,
            cacheItems: true,
            'open-icon': 'ace-icon tree-minus',
            'close-icon': 'ace-icon tree-plus',
            'itemSelect': true,
            'folderSelect': false,
            'selected-icon': 'ace-icon fa fa-check',
            'unselected-icon': 'ace-icon fa fa-times',
            loadingHTML: '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>'
        });

        $('.tree-container').ace_scroll({ size: 250, mouseWheelLock: true });
        $('#cat-tree').on('closed.fu.tree disclosedFolder.fu.tree', function () {
            $('.tree-container').ace_scroll('reset').ace_scroll('start');
        });
    }

    function formatDate(date) {

        var dts = date.split("/");

        var dtsa = dts[2].split(" ");

        var year = dtsa[0];
        var month = dts[1].padStart(2, "0");
        var day = dts[0].padStart(2, "0");

        var dtsh = dtsa[1].split(":");
        var hour = dtsh[0].padStart(2, "0");
        var minute = dtsh[1].padStart(2, "0");
        var dt = [year, month, day, hour, minute, "00"].join("");

        return dt;
    }
</script>