﻿@model List<MKF.Web.Models.SeletivaViewModels>
@{
    ViewBag.Title = "SeletivaAprovados";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Relatórios</a>
        </li>
        <li class="active">Aprovados Seletiva</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Seletivas
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SeletivaAprovados", "Relatorio", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                if (Model != null)
                {
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> Nome </th>
                                <th> Evento </th>
                                <th> Data Inicio </th>
                                <th> Data Fim </th>
                                <th> Local  </th>
                                <th> Status  </th>
                                <th> Ações </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.Nome </td>
                                    <td> @item.DadosEvento.Nome </td>
                                    <td>
                                        @(!item.DataInicio.HasValue ? string.Empty : item.DataInicio.Value.ToString("dd/MM/yyyy HH:mm"))
                                    </td>
                                    <td>
                                        @(!item.DataFim.HasValue ? string.Empty : item.DataFim.Value.ToString("dd/MM/yyyy HH:mm"))
                                    </td>
                                    <td>
                                        @item.Local.LocalSeletiva
                                    </td>
                                    <td>
                                        @if (item.Status == 0)
                                        {
                                            <span class="label label-sm label-success"> Ativo </span>
                                        }
                                        else if (item.Status == 1)
                                        {
                                            <span class="label label-sm label-danger"> Inativo </span>
                                        }
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <a href="@Url.Action("Aprovados", "Relatorio", new { @idSeletiva = item.Id })" class="blue tooltip-info editar" data-rel="tooltip" title="Exibir crianças aprovadas">
                                                <i class="ace-icon fa fa-users bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>
<script src="~/Contents/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/Contents/components/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Contents/components/_mod/datatables/jquery.dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('[data-rel=tooltip]').tooltip();
        $('#dynamic-table').dataTable({
            destroy: true,
            searching: false,
            ordering: false,
            "bJQueryUI": true,
            "oLanguage": {
                "sProcessing": "Processando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Não foram encontrados resultados",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "sInfoFiltered": "",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Seguinte",
                    "sLast": "Último"
                }
            }
        });
    });
</script>
<script src="~/Contents/assets/js/DeleteItem.js"></script>
