﻿@using MKF.Web.Infra

<!-- #section:basics/sidebar.mobile.toggle -->
<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
    <span class="sr-only">Toggle sidebar</span>

    <span class="icon-bar"></span>

    <span class="icon-bar"></span>

    <span class="icon-bar"></span>
</button>

<!-- /section:basics/sidebar.mobile.toggle -->
<div class="navbar-header pull-left">
    <!-- #section:basics/navbar.layout.brand -->
    <a href="#" class="navbar-brand">
        <small>
            <img src="~/Contents/assets/images/MFK.png" alt="logo" class="logo-default" style="width: 40%; margin: 0px !important;">
        </small>
    </a>

    <!-- /section:basics/navbar.layout.brand -->
    <!-- #section:basics/navbar.toggle -->
    <!-- /section:basics/navbar.toggle -->
</div>

<!-- #section:basics/navbar.dropdown -->
<div class="navbar-buttons navbar-header pull-right" role="navigation">
    <ul class="nav ace-nav">
        <!-- #section:basics/navbar.user_menu -->
        <li class="light-blue dropdown-modal">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="~/Contents/assets/avatars/avatar2.png" alt="Jason's Photo" />
                <span class="user-info">
                    <small>Welcome,</small>
                    Jason
                </span>

                <i class="ace-icon fa fa-caret-down"></i>
            </a>

            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                    <a href="#">
                        <i class="ace-icon fa fa-cog"></i>
                        Alterar Senha
                    </a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="@Url.Action("Index", "Login", new { Area = "Admin" }) ">
                        <i class="ace-icon fa fa-power-off"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>

        <!-- /section:basics/navbar.user_menu -->
    </ul>
</div>