﻿
<script type="text/javascript">
    try { ace.settings.loadState('sidebar') } catch (e) { }
</script>

<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
        </button>

        <button class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
        </button>

        <!-- #section:basics/sidebar.layout.shortcuts -->
        <button class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
        </button>

        <button class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
        </button>

        <!-- /section:basics/sidebar.layout.shortcuts -->
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text"> Dashboard </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("Index", "Home")">
                    <i class="menu-icon fa fa-desktop"></i>
                    Seletiva
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Administrativo </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("Index", "Usuario")">
                    <i class="menu-icon fa fa-user"></i>
                    Usuários
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="@Url.Action("Index", "Lojista")">
                    <i class="menu-icon fa fa-briefcase"></i>
                    Empresas
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="@Url.Action("Index", "Jurados")">
                    <i class="menu-icon fa fa-users"></i>
                    Jurados
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="@Url.Action("Index", "TipoParceria")">
                    <i class="menu-icon fa fa-coffee"></i>
                    Tipos de Parcerias
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="@Url.Action("Index", "TipoPatrocinio")">
                    <i class="menu-icon fa fa-comments"></i>
                    Tipos de Patrocinios
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="@Url.Action("Index", "Evento")">
            <i class="menu-icon fa fa-glass"></i>
            <span class="menu-text"> Evento </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="@Url.Action("Index", "Seletiva")">
            <i class="menu-icon fa fa-check-square-o"></i>
            <span class="menu-text"> Seletiva </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="@Url.Action("Index", "Regulamento")">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text"> Regulamento </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text"> Relatórios </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("SeletivaAvaliacao", "Relatorio")">
                    <i class="menu-icon fa fa-check-square-o"></i>
                    <span class="menu-text"> Resultado Seletiva </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="@Url.Action("SeletivaAprovados", "Relatorio")">
                    <i class="menu-icon fa fa-check-square-o"></i>
                    <span class="menu-text"> Aprovados Seletiva </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
</ul>