﻿@model MKF.Web.Models.RegulamentoViewModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
    <link href="~/Content/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Regulamento</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Cadastrar Regulamento
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12 col-md-12">
            @{using (Html.BeginForm("Create", "Regulamento", FormMethod.Post, new { @class = "form-horizontal", @id = "basic_validate" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Url)
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="form-field-1"> Tipo <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.DropDownListFor(m => m.Tipo, MKF.Web.Infra.Funcoes.TiposRegulamentosList(), "Selecione", new { @class = "col-xs-12 col-sm-12" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Nome <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "col-xs-12 col-sm-12", @placeholder = "Nome" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Status <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.DropDownListFor(m => m.Status, MKF.Web.Infra.Funcoes.StatusList(), "Selecione", new { @class = "col-xs-12 col-sm-12" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="form-field-1"> Dados <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextAreaFor(m => m.Dados, new { @class = "col-xs-12 col-sm-12", @name = "summernote" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="@Url.Action("Index", "Regulamento")" class="btn btn-info" data-original-title="Novo">
                                <i class="ace-icon fa fa-reply bigger-110"></i> Voltar
                            </a>

                            <button type="button" class="btn btn-success" id="btnSalvar">
                                <i class="ace-icon fa fa-check"></i> Salvar
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<script src="~/Content/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
<script src="~/Content/pages/scripts/components-editors.min.js" type="text/javascript"></script>
<script src="~/Contents/assets/pages/Mensagem.js"></script>
<script src="~/Contents/assets/pages/Regulamento/AdmRegulamento.js"></script>