﻿@model MKF.Web.Models.TipoParceriaViewModels
<div id="dadosTipoParceria">
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Nome)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Status)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.Status, MKF.Web.Infra.Funcoes.StatusList(), "Selecione", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
        </div>
    </div>
</div>