﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Administrativo</a>
        </li>
        <li class="active">Evento</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Dashboard
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="col-sm-8">
                        <div class="widget-box">
                            <div class="widget-header widget-header-flat widget-header-small">
                                <h5 class="widget-title">
                                    <i class="ace-icon fa fa-signal"></i>
                                    Inscrições Seletiva
                                </h5>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <!-- #section:plugins/charts.flotchart -->
                                    <div id="piechart-placeholder"></div>

                                    <!-- /section:plugins/charts.flotchart -->
                                    <div class="hr hr8 hr-double"></div>

                                    <div class="clearfix">
                                        <!-- #section:custom/extra.grid -->
                                        <div class="grid4">
                                            <span class="grey">
                                                <i class="ace-icon fa fa-check-square-o fa-2x green"></i>
                                                &nbsp; Pagas
                                            </span>
                                            <h4 class="bigger pull-right" id="hpagas">R$ 0,00</h4>
                                        </div>

                                        <div class="grid4">
                                            <span class="grey">
                                                <i class="ace-icon fa fa-plus-square-o fa-2x blue"></i>
                                                &nbsp; Em análise
                                            </span>
                                            <h4 class="bigger pull-right" id="hanalise">R$ 0,00</h4>
                                        </div>

                                        <div class="grid4">
                                            <span class="grey">
                                                <i class="ace-icon fa fa-minus-square-o fa-2x orange2"></i>
                                                &nbsp; Aguardando pagamento
                                            </span>
                                            <h4 class="bigger pull-right" id="hagpagamento">R$ 0,00</h4>
                                        </div>

                                        <div class="grid4">
                                            <span class="grey">
                                                <i class="ace-icon fa fa-remove fa-2x red"></i>
                                                &nbsp; Canceladas
                                            </span>
                                            <h4 class="bigger pull-right" id="hcanceladas">R$ 0,00</h4>
                                        </div>

                                        <!-- /section:custom/extra.grid -->
                                    </div>
                                </div><!-- /.widget-main -->
                            </div><!-- /.widget-body -->
                        </div><!-- /.widget-box -->
                    </div><!-- /.col -->
                    <div class="col-sm-4">
                        <div class="widget-box">
                            <div class="widget-header widget-header-flat widget-header-small">
                                <h5 class="widget-title">
                                    <i class="ace-icon fa fa-signal"></i>
                                    Tipos de pagamento
                                </h5>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main no-padding">
                                    <table class="table table-bordered table-striped">
                                        <thead class="thin-border-bottom">
                                            <tr>
                                                <th>
                                                    <i class="ace-icon fa fa-caret-right blue"></i>Tipo
                                                </th>

                                                <th>
                                                    <i class="ace-icon fa fa-caret-right blue"></i>Status
                                                </th>

                                                <th class="hidden-480">
                                                    <i class="ace-icon fa fa-caret-right blue"></i>Total
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody id="tdPagamentos"></tbody>
                                    </table>
                                </div><!-- /.widget-main -->
                            </div><!-- /.widget-body -->
                        </div><!-- /.widget-box -->
                    </div><!-- /.col -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Contents/components/_mod/easypiechart/jquery.easypiechart.js"></script>
<script src="~/Contents/components/jquery.sparkline/index.js"></script>
<script src="~/Contents/components/Flot/jquery.flot.js"></script>
<script src="~/Contents/components/Flot/jquery.flot.pie.js"></script>
<script src="~/Contents/components/Flot/jquery.flot.resize.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/Signalr/hubs"></script>
<script src="~/Scripts/DashBoard/DashSeletiva.js"></script>
<script type="text/javascript">
    //jQuery(function ($) {
    //    $('.easy-pie-chart.percentage').each(function () {
    //        var $box = $(this).closest('.infobox');
    //        var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
    //        var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
    //        var size = parseInt($(this).data('size')) || 50;
    //        $(this).easyPieChart({
    //            barColor: barColor,
    //            trackColor: trackColor,
    //            scaleColor: false,
    //            lineCap: 'butt',
    //            lineWidth: parseInt(size / 10),
    //            animate: ace.vars['old_ie'] ? false : 1000,
    //            size: size
    //        });
    //    })

    //    $('.sparkline').each(function () {
    //        var $box = $(this).closest('.infobox');
    //        var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
    //        $(this).sparkline('html',
    //                         {
    //                             tagValuesAttribute: 'data-values',
    //                             type: 'bar',
    //                             barColor: barColor,
    //                             chartRangeMin: $(this).data('min') || 0
    //                         });
    //    });


    //    //flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
    //    //but sometimes it brings up errors with normal resize event handlers
    //    $.resize.throttleWindow = false;

    //    var placeholder = $('#piechart-placeholder').css({ 'width': '90%', 'min-height': '250px' });
    //    var data = [
    //      { label: "Pagas", data: 38, color: "#68BC31" },
    //      { label: "Em análise", data: 15, color: "#2091CF" },
    //      { label: "Aguardando pagamento", data: 20, color: "#FEB902" },
    //      { label: "Canceladas", data: 54, color: "#DA5430" }
    //    ]
    //    function drawPieChart(placeholder, data, position) {
    //        debugger;
    //        $.plot(placeholder, data, {
    //            series: {
    //                pie: {
    //                    show: true,
    //                    tilt: 0.8,
    //                    highlight: {
    //                        opacity: 0.25
    //                    },
    //                    stroke: {
    //                        color: '#fff',
    //                        width: 2
    //                    },
    //                    startAngle: 2
    //                }
    //            },
    //            legend: {
    //                show: true,
    //                position: position || "ne",
    //                labelBoxBorderColor: null,
    //                margin: [-30, 15]
    //            }
    //          ,
    //            grid: {
    //                hoverable: true,
    //                clickable: true
    //            }
    //        })
    //    }
    //    drawPieChart(placeholder, data);

    //    /**
    //    we saved the drawing function and the data to redraw with different position later when switching to RTL mode dynamically
    //    so that's not needed actually.
    //    */
    //    placeholder.data('chart', data);
    //    placeholder.data('draw', drawPieChart);


    //    //pie chart tooltip example
    //    var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
    //    var previousPoint = null;

    //    placeholder.on('plothover', function (event, pos, item) {
    //        if (item) {
    //            if (previousPoint != item.seriesIndex) {
    //                previousPoint = item.seriesIndex;
    //                var tip = item.series['label'] + " : " + item["datapoint"][1][0][1] + " | " + item.series['percent'].toFixed(2) + '%';
    //                $tooltip.show().children(0).text(tip);
    //            }
    //            $tooltip.css({ top: pos.pageY + 10, left: pos.pageX + 10 });
    //        } else {
    //            $tooltip.hide();
    //            previousPoint = null;
    //        }

    //    });

    //    /////////////////////////////////////
    //    $(document).one('ajaxloadstart.page', function (e) {
    //        $tooltip.remove();
    //    });
    //})
</script>
