﻿@model List<MKF.Web.Models.Comum.PessoaModels>
@{
    int posicao = 0;
}
<div id="dadosResponsavel">
    @foreach (var item in Model)
    {
        posicao++;
        <div class="item_@posicao">
            @Html.HiddenFor(i => item.Tipo)
            @Html.HiddenFor(i => item.Id)
            @Html.HiddenFor(i => item.IdEmpresa)
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Nome)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => item.Nome, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Cpf)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Cpf, new { @class = "form-control Cpf" })
                    @Html.ValidationMessageFor(i => item.Cpf, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Celular)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Celular, new { @class = "form-control celular" })
                    @Html.ValidationMessageFor(i => item.Celular, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.Count() > 1)
            {
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <input id="btnRemoverResponsavel" type="button" value="Remover" class="btn btn-danger btn-remove-resp" data-id="@posicao">
                        </div>
                    </div>
                </div>
            }
            <hr />
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {

        $(".Cpf").inputmask("999.999.999-99", {
            autoUnmask: true
        });

        $(".celular").inputmask("(99) 99999-9999", {
            autoUnmask: true
        });
    });
</script>