﻿@model MKF.Web.Models.TipoPatrocinioViewModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Administrativo</a>
        </li>
        <li class="active">Tipo Parceria</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Cadastrar Tipo de parceria
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12">
            @{using (Html.BeginForm("Create", "TipoPatrocinio", FormMethod.Post, new { @class = "form-horizontal", @id = "basic_validate" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Url)
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Descrição <span class="text-danger"> * </span></label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Nome, new { @class = "col-xs-10 col-sm-5", @autocomplete = "off", @placeholder = "Nome Completo" })
                            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Status <span class="text-danger"> * </span></label>

                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.Status, MKF.Web.Infra.Funcoes.StatusList(), "Selecione", new { @class = "col-xs-10 col-sm-5" })
                            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="@Url.Action("Index", "TipoPatrocinio")" class="btn btn-info" data-original-title="Novo">
                                <i class="ace-icon fa fa-reply bigger-110"></i> Voltar
                            </a>

                            <button type="button" class="btn btn-success" id="btnSalvar">
                                <i class="ace-icon fa fa-check"></i> Salvar
                            </button>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var urlIndex = '@Url.Action("Index", "TipoPatrocinio")';
    var urlCreate = '@Url.Action("Create", "TipoPatrocinio")';
</script>

<script src="~/Contents/assets/pages/Mensagem.js"></script>
<script src="~/Contents/assets/pages/TipoPatrocinio/AdmTipoPatrocinio.js"></script>