﻿@model MKF.Web.Models.ModeloSeletivaModels
@{
    ViewBag.Title = "Avaliar";
    Layout = "~/Areas/Jurados/Views/Shared/_Layout.cshtml";
    int beleza = 0;
    int simpatia = 0;
    int passarela = 0;
    int fotogenia = 0;
    if (Model.Avaliacoes.Count > 0)
    {
        beleza = Model.Avaliacoes.FirstOrDefault(a => a.Item == "Beleza").Nota;
        simpatia = Model.Avaliacoes.FirstOrDefault(a => a.Item == "Simpatia/Espontaneidade").Nota;
        passarela = Model.Avaliacoes.FirstOrDefault(a => a.Item == "Passarela/Desenvoltura").Nota;
        fotogenia = Model.Avaliacoes.FirstOrDefault(a => a.Item == "Fotogenia").Nota;
    }

    <style>
        .circulo {
            width: 50px;
            height: 50px;
            border: 4px solid #6FB3E0;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            text-align: center;
            color: #6FB3E0;
            font: bold 22pt Open Sans;
            float: left;
            margin: 5px;
            cursor: pointer;
        }

        .circulopre {
            width: 50px;
            height: 50px;
            border: 4px solid #6FB3E0;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            text-align: center;
            background-color: #6FB3E0;
            color: #ffffff;
            font: bold 22pt Open Sans;
            float: left;
            margin: 5px;
            cursor: pointer;
        }
    </style>
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Jurados</a>
        </li>

        <li>
            <a href="#">Seletiva</a>
        </li>
        <li class="active">Avaliação</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Avaliação de crianças
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <div id="user-profile-2" class="user-profile">
                @Html.Hidden("IdModelo", Model.Id)
                <div class="row">
                    <div class="col-xs-12 col-sm-3 center">
                        <h4 class="blue">
                            <span class="middle">@Model.NomeArtistico</span>
                            @if (Model.Status == 0)
                            {
                                <span class="label label-success arrowed-in-right">
                                    <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                                    Pendente avaliação
                                </span>
                            }
                            else
                            {
                                <span class="label label-danger arrowed-in-right">
                                    <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                                    Já avaliada
                                </span>
                            }
                        </h4>
                        @foreach (var item in Model.Crianca.Imagens)
                        {
                            <span class="profile-picture">
                                <img class="editable img-responsive" alt="@item.Nome" id="@item.Id" src="@item.URL" width="400" />
                            </span>
                            <div class="space space-4"></div>
                        }
                    </div><!-- /.col -->
                    <div class="col-xs-12 col-sm-9">
                        <h3 class="header blue lighter smaller">
                            <i class="ace-icon fa fa-user smaller-90"></i>
                            Dados Criança
                        </h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="profile-user-info profile-user-info-striped">
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Evento </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="DadosEvento_Nome">@Model.Seletiva.DadosEvento.Nome</span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Seletiva </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Seletiva_Nome">@Model.Seletiva.Nome</span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Apresentação </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="HorarioDesfile">@Model.HorarioDesfile</span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Nome </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Crianca_Nome">@Model.Crianca.Nome</span>
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Responsável 1 </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Responsavel1_Nome">@Model.Responsavel1.Nome</span>
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Responsável 2 </div>
                                        @if (Model.Responsavel2 != null)
                                        {
                                            <div class="profile-info-value">
                                                <span class="editable" id="Responsavel2_Nome">@Model.Responsavel2.Nome</span>
                                            </div>
                                        }
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Nascimento </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="DataNascimento">@Model.Crianca.DataNascimento.Value.ToString("dd/MM/yyyy")</span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Idade </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Idade">@Model.Idade</span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Inscrição </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Inscricao">@Model.Inscricao</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="profile-user-info profile-user-info-striped">
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Manequim </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Manequim_Tamanho">@Model.Manequim.Tamanho</span>
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Altura </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Manequim_Altura">@Model.Manequim.Altura</span>
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Peso </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Manequim_Peso">@Model.Manequim.Peso</span>
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Calçado </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Manequim_Calcado">@Model.Manequim.Calcado</span>
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Cor da pele </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Manequim_CorPele">@Model.Manequim.CorPele</span>
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Cor do cabelo </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Manequim_CorCabelo">@Model.Manequim.CorCabelo</span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Cor do olho </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Manequim_CorOlho">@Model.Manequim.CorOlho</span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Agencias </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Manequim_Agencia">@Model.Manequim.Agencia</span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Informações adicionais </div>

                                        <div class="profile-info-value">
                                            <span class="editable" id="Manequim_Resumo">@Model.Manequim.Resumo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="header blue lighter smaller">
                            <i class="ace-icon fa fa-user smaller-90"></i>
                            Avaliação
                        </h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="profile-user-info profile-user-info-striped avaliar">
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Beleza </div>
                                        <div class="profile-info-value" data-name="Beleza">
                                            <div class="@(beleza == 1 ? "circulopre" : "circulo")">
                                                1
                                            </div>
                                            <div class="@(beleza == 2 ? "circulopre" : "circulo")">
                                                2
                                            </div>
                                            <div class="@(beleza == 3 ? "circulopre" : "circulo")">
                                                3
                                            </div>
                                            <div class="@(beleza == 4 ? "circulopre" : "circulo")">
                                                4
                                            </div>
                                            <div class="@(beleza == 5 ? "circulopre" : "circulo")">
                                                5
                                            </div>
                                            <div class="@(beleza == 6 ? "circulopre" : "circulo")">
                                                6
                                            </div>
                                            <div class="@(beleza == 7 ? "circulopre" : "circulo")">
                                                7
                                            </div>
                                            <div class="@(beleza == 8 ? "circulopre" : "circulo")">
                                                8
                                            </div>
                                            <div class="@(beleza == 9 ? "circulopre" : "circulo")">
                                                9
                                            </div>
                                            <div class="@(beleza == 10 ? "circulopre" : "circulo")">
                                                10
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Simpatia/Espontaneidade </div>
                                        <div class="profile-info-value" data-name="Simpatia/Espontaneidade">
                                            <div class="@(simpatia == 1 ? "circulopre" : "circulo")">
                                                1
                                            </div>
                                            <div class="@(simpatia == 2 ? "circulopre" : "circulo")">
                                                2
                                            </div>
                                            <div class="@(simpatia == 3 ? "circulopre" : "circulo")">
                                                3
                                            </div>
                                            <div class="@(simpatia == 4 ? "circulopre" : "circulo")">
                                                4
                                            </div>
                                            <div class="@(simpatia == 5 ? "circulopre" : "circulo")">
                                                5
                                            </div>
                                            <div class="@(simpatia == 6 ? "circulopre" : "circulo")">
                                                6
                                            </div>
                                            <div class="@(simpatia == 7 ? "circulopre" : "circulo")">
                                                7
                                            </div>
                                            <div class="@(simpatia == 8 ? "circulopre" : "circulo")">
                                                8
                                            </div>
                                            <div class="@(simpatia == 9 ? "circulopre" : "circulo")">
                                                9
                                            </div>
                                            <div class="@(simpatia == 10 ? "circulopre" : "circulo")">
                                                10
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Passarela/Desenvoltura </div>
                                        <div class="profile-info-value" data-name="Passarela/Desenvoltura">
                                            <div class="@(passarela == 1 ? "circulopre" : "circulo")">
                                                1
                                            </div>
                                            <div class="@(passarela == 2 ? "circulopre" : "circulo")">
                                                2
                                            </div>
                                            <div class="@(passarela == 3 ? "circulopre" : "circulo")">
                                                3
                                            </div>
                                            <div class="@(passarela == 4 ? "circulopre" : "circulo")">
                                                4
                                            </div>
                                            <div class="@(passarela == 5 ? "circulopre" : "circulo")">
                                                5
                                            </div>
                                            <div class="@(passarela == 6 ? "circulopre" : "circulo")">
                                                6
                                            </div>
                                            <div class="@(passarela == 7 ? "circulopre" : "circulo")">
                                                7
                                            </div>
                                            <div class="@(passarela == 8 ? "circulopre" : "circulo")">
                                                8
                                            </div>
                                            <div class="@(passarela == 9 ? "circulopre" : "circulo")">
                                                9
                                            </div>
                                            <div class="@(passarela == 10 ? "circulopre" : "circulo")">
                                                10
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Fotogenia </div>
                                        <div class="profile-info-value" data-name="Fotogenia">
                                            <div class="@(fotogenia == 1 ? "circulopre" : "circulo")">
                                                1
                                            </div>
                                            <div class="@(fotogenia == 2 ? "circulopre" : "circulo")">
                                                2
                                            </div>
                                            <div class="@(fotogenia == 3 ? "circulopre" : "circulo")">
                                                3
                                            </div>
                                            <div class="@(fotogenia == 4 ? "circulopre" : "circulo")">
                                                4
                                            </div>
                                            <div class="@(fotogenia == 5 ? "circulopre" : "circulo")">
                                                5
                                            </div>
                                            <div class="@(fotogenia == 6 ? "circulopre" : "circulo")">
                                                6
                                            </div>
                                            <div class="@(fotogenia == 7 ? "circulopre" : "circulo")">
                                                7
                                            </div>
                                            <div class="@(fotogenia == 8 ? "circulopre" : "circulo")">
                                                8
                                            </div>
                                            <div class="@(fotogenia == 9 ? "circulopre" : "circulo")">
                                                9
                                            </div>
                                            <div class="@(fotogenia == 10 ? "circulopre" : "circulo")">
                                                10
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="header blue lighter smaller">
                            <i class="ace-icon fa fa-user smaller-90"></i>
                            Resultado final
                        </h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="profile-user-info profile-user-info-striped avaliar">
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> <h4>Total</h4> </div>

                                        <div class="profile-info-value">
                                            <h1 class="result">@Model.Avaliacao</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.Hidden("Resultado", "")
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="profile-user-info profile-user-info-striped avaliar">
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> <h4>Média Total</h4> </div>

                                        <div class="profile-info-value">
                                            <h1 class="mediaTotal">@Model.MediaAvaliacao</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.Hidden("MediaTotal", Model.MediaAvaliacao)
                        </div>
                        <div class="space-12"></div>
                        <a href="#" class="btn btn-sm btn-block btn-info" id="btnSalvarAvaliacao">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            <span class="bigger-110">Finalizar avaliação</span>
                        </a>
                        <a href="@Url.Action("Modelos", "Seletiva", new { @idSeletiva = Model.Seletiva.Id })" class="btn btn-sm btn-block btn-default">
                            <i class="ace-icon fa fa-reply bigger-110"></i>
                            <span class="bigger-110">Voltar</span>
                        </a>
                    </div>
                </div><!-- /.row -->
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<script src="~/Contents/assets/pages/Comum.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        var dados = [];
        $(".circulo").click(function (e) {
            debugger;

            e.preventDefault();

            var div = this.parentNode;
            var val = this.innerText;
            var soma = 0;
            var reultado = "";

            $(div).find('.circulopre').each(function (item) {
                $(this).removeClass("circulopre").addClass("circulo");
            });

            $(div).find('.circulo').each(function (item) {
                if (this.innerText == val)
                    $(this).removeClass("circulo").addClass("circulopre");
                else
                    $(this).removeClass("circulopre").addClass("circulo");
            });

            $(".avaliar").find(".circulopre").each(function (item) {
                var d = this.parentNode;
                reultado += $(d).attr("data-name") + "-" + this.innerText + ";";
                soma += parseInt(this.innerText)
            });
            var media = (soma / 4);
            $(".mediaTotal").html(media);
            $("#MediaTotal").val(media);
            $(".result").html(soma);
            $("#Resultado").val(reultado);
        });

        $(".circulopre").click(function (e) {
            debugger;

            e.preventDefault();

            var div = this.parentNode;
            var val = this.innerText;
            var soma = 0;
            var reultado = "";

            $(div).find('.circulopre').each(function (item) {
                $(this).removeClass("circulopre").addClass("circulo");
            });

            $(div).find('.circulo').each(function (item) {
                if (this.innerText == val)
                    $(this).removeClass("circulo").addClass("circulopre");
                else
                    $(this).removeClass("circulopre").addClass("circulo");
            });

            $(".avaliar").find(".circulopre").each(function (item) {
                var d = this.parentNode;
                reultado += $(d).attr("data-name") + "-" + this.innerText + ";";
                soma += parseInt(this.innerText)
            });
            var media = (soma / 4);
            $(".mediaTotal").html(media);
            $("#MediaTotal").val(media);
            $(".result").html(soma);
            $("#Resultado").val(reultado);
        });

        $("#btnSalvarAvaliacao").click(function (e) {
            e.preventDefault();
            debugger;
            $("#loading").show();
            var r = $("#Resultado").val().split(';');
            var resultado = $("#Resultado").val();
            var total = $(".result").html();
            var id = $("#IdModelo").val();
            var media = $("#MediaTotal").val();
            var val = "";
            debugger;
            if (r.length == 1 && media != "0") {
                $(".avaliar").find(".circulopre").each(function (item) {
                    var d = this.parentNode;
                    val += $(d).attr("data-name") + "-" + this.innerText + ";";
                });
                resultado = val;
                r = val.split(';');
            }

            if (r.length < 5) {
                Alerta("Favor, necessário dar nota em todos os quesitos antes de finalizar.");
                $("#loading").hide();
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SalvarAvaliacao", "Seletiva")',
                    data: { 'Resultado': resultado, 'Total': total, 'id': id, 'Media': media }, // serializes the form's elements.
                    success: function (data) {
                        debugger;
                        if (data.Status == "Success") Sucesso("Avaliação finalizada com sucesso");
                        else if (data.Status == "Error") Erro(data.Data);
                        else Alerta(data.Data);

                        $("#loading").hide();
                    },
                    error: function (data) {
                        $("#loading").hide();
                    }
                });
            }
        });
    });
</script>
<script src="~/Contents/assets/pages/Mensagem.js"></script>