﻿
@{
    ViewBag.Title = "Modelos";
    Layout = "~/Areas/Jurados/Views/Shared/_Layout.cshtml";
    int idSeletiva = ViewBag.IdSeletiva;
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Seletiva</a>
        </li>

        <li>
            <a href="#">Crianças</a>
        </li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Consultar crianças da Seletiva
        </h1>
    </div><!-- /.page-header -->
    @Html.Hidden("IdSeletiva", idSeletiva)
    @Html.Hidden("IdJurados", MKF.Web.Infra.Util.RecuperarIdPessoa())
    <div class="row">
        <div class="col-md-12">
            <div class="row search-page" id="search-page-1">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <!-- #section:pages/search.well -->
                            <div class="search-area well well-sm">
                                <div class="search-filter-header bg-primary">
                                    <h5 class="smaller no-margin-bottom">
                                        <i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Refine sua Busca
                                    </h5>
                                </div>

                                <div class="space-10"></div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="nomeCrianca" placeholder="Nome criança" />
                                    </div>
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="resp1" placeholder="Nome responsável 1" />
                                    </div>
                                    <div class="col-xs-12 col-sm-11 col-md-12">
                                        <input type="text" class="form-control" id="resp2" placeholder="Nome responsável 2" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        @Html.DropDownList("Horario", MKF.Web.Infra.Funcoes.HorarioFiltroList(idSeletiva), "Horário Seletiva", new { @class = "col-xs-12 col-sm-11 col-md-12" })
                                    </div>
                                </div>

                                <!-- /section:plugins/jquery.slider -->
                                <div class="hr hr-dotted hr-24"></div>

                                <div class="text-center">
                                    <button type="button" id="btnBuscar" class="btn btn-default btn-round btn-white">
                                        <i class="ace-icon fa fa-refresh green"></i>
                                        Buscar
                                    </button>
                                </div>

                                <div class="space-4"></div>
                            </div>

                            <!-- /section:pages/search.well -->
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="media-heading">
                                        <span class="blue" id="totalSeletiva"></span>
                                    </h4>
                                </div>
                                <div class="col-xs-12" id="itensSeletiva">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function ($) {
        var ranger = [0, 16];
        $('[data-rel=tooltip]').tooltip();

        //select2 location element
        $('.select2').css('min-width', '150px').select2({ allowClear: true });

        //jQuery ui distance slider
        $("#slider-range").css('width', '150px').slider({
            range: true,
            min: 0,
            max: 16,
            values: [0, 16],
            slide: function (event, ui) {
                var val = ui.values[$(ui.handle).index() - 1] + "";
                ranger = ui.values;

                if (!ui.handle.firstChild) {
                    $("<div class='tooltip bottom in' style='display:none;left:-6px;top:14px;'><div class='tooltip-arrow'></div><div class='tooltip-inner'></div></div>")
                    .prependTo(ui.handle);
                }
                $(ui.handle.firstChild).show().children().eq(1).text(val);
            }
        }).find('span.ui-slider-handle').on('blur', function () {
            $(this.firstChild).hide();
        });


        //this is for demo only
        $('.thumbnail').on('mouseenter', function () {
            $(this).find('.info-label').addClass('label-primary');
        }).on('mouseleave', function () {
            $(this).find('.info-label').removeClass('label-primary');
        });


        //toggle display format buttons
        $('#toggle-result-format .btn').tooltip({ container: 'body' }).on('click', function (e) {
            $(this).siblings().each(function () {
                $(this).removeClass($(this).attr('data-class')).addClass('btn-grey');
            });
            $(this).removeClass('btn-grey').addClass($(this).attr('data-class'));
        });

        ////////////////////
        //show different search page
        $('#toggle-result-page .btn').on('click', function (e) {
            var target = $(this).find('input[type=radio]');
            var which = parseInt(target.val());
            $('.search-page').parent().addClass('hide');
            $('#search-page-' + which).parent().removeClass('hide');
        });

        $("#btnBuscar").click(function (e) {
            debugger;
            $("#loading").show();
            e.preventDefault();
            var id = 0;

            var seletiva = $("#IdSeletiva").val();
            var nomeCrianca = $("#nomeCrianca").val() == '' ? "null" : $("#nomeCrianca").val();
            var nomeResp1 = $("#resp1").val() == '' ? "null" : $("#resp1").val();
            var nomeResp2 = $("#resp2").val() == '' ? "null" : $("#resp2").val();
            var horario = $("#Horario").val() == '' ? null : formatDate($("#Horario").val());
            var idJurados = $("#IdJurados").val();

            var con = nomeCrianca + "/" + nomeResp1 + "/" + nomeResp2 + "/" + seletiva + "/" + horario + "/" + idJurados;
            var urlCompleta = "http://www.minasfashionkids.com.br/Api/api/Modelo/Seletiva/" + con;
            //var urlCompleta = "http://localhost/MKF.Api/api/Modelo/Seletiva/" + con;

            $.ajax({
                url: urlCompleta,
                cache: false,
                type: 'GET',
                success: function (data) {

                    $("#itensSeletiva").html('');
                    if (data.length == 0) {

                        $("#totalSeletiva").html("Total: " + data.length);
                        var div1 = "<div class=\"media search-media\">Nenhum registro encontrado! </div>";

                        $("#itensSeletiva").append(div1);
                    }
                    else {
                        $("#totalSeletiva").html("Total: " + data.length);
                        jQuery.each(data, function (i, item) {
                            email = "não enviado";
                            id = item.Id;
                            var div = "<div class=\"media search-media\"> " +
                                            "<div class=\"media-left\"> " +
                                                "<a href=\"#\">" +
                                                    "<img style=\"width: 72px;\" class=\"media-object\" src=\"" + item.UrlImagem + "\" />" +
                                                "</a>" +
                                            "</div>" +

                                            "<div class=\"media-body\">" +
                                                "<div>" +
                                                    "<h4 class=\"media-heading\">" +
                                                        "<a href=\"#\" class=\"blue\">" + item.NomeCrianca + "</a>" +
                                                    "</h4>" +
                                                "</div>" +
                                                "<p> Inscrição: " + item.Inscricao + " | Responsável 1: " + item.NomeResp1 + " | Responsável 2: " + item.NomeResp2 + " | Codigo Referência 1: " + item.CodigoReferencia + " </p>" +
                                                "<div class=\"search-actions text-center\"> " +
                                                    "<span class=\"blue bolder bigger-150\">" + item.Idade + "</span> Idade";


                            if (item.Notas == "0")
                                div += "<div class=\"action-buttons bigger-125\"><span class=\"label label-white middle\">Pendente avaliação</span></div>";
                            else {
                                var media = (item.Notas / 4);
                                div += "</br><span class=\"blue bolder bigger-150\">" + media + "</span> Média avaliação";
                                div += "<div class=\"action-buttons bigger-125\"><span class=\"label label-success label-white middle\">Avaliado</span></div>"
                            }

                            var url = '@Url.Action("Avaliar", "Seletiva")';
                            url += "/" + item.IdCrianca + "," + item.IdPagamento;

                            if (item.Notas == "0")
                                div += "<a href=\"" + url + "\" class=\"search-btn-action btn btn-sm btn-block btn-info\" data-rel=\"tooltip\" title=\"Avaliar\">Avaliar</a>";
                            else
                                div += "<a href=\"" + url + "\" class=\"search-btn-action btn btn-sm btn-block btn-info\" data-rel=\"tooltip\" title=\"Reavaliar\">Reavaliar</a>";

                            div += "</div>" +
                "</div>" +
           "</div>";

                            $("#itensSeletiva").append(div);
                            $(".search-media").css("min-height", "140px");
                            $('[data-rel=tooltip]').tooltip();
                        });
                    }
                    $("#loading").hide();
                },
                error: function (response) {
                    $("#loading").hide();
                    alert(JSON.stringify(response.errors));
                }
            });
        });
    });

    function formatDate(date) {

        var dts = date.split("/");

        var dtsa = dts[2].split(" ");

        var year = dtsa[0];
        var month = dts[1].padStart(2, "0");
        var day = dts[0].padStart(2, "0");

        var dtsh = dtsa[1].split(":");
        var hour = dtsh[0].padStart(2, "0");
        var minute = dtsh[1].padStart(2, "0");
        var dt = [year, month, day, hour, minute, "00"].join("");

        return dt;
    }
</script>