﻿@model MKF.Web.Models.Comum.EmpresaViewModels
<div id="dadosLoja">
    @Html.HiddenFor(m => m.Tipo)
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.CNPJ)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control cnpj" })
            @Html.ValidationMessageFor(m => m.CNPJ, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.RazaoSocial)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.RazaoSocial, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RazaoSocial, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.NomeFantasia)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.NomeFantasia, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NomeFantasia, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.RamoAtividade)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.RamoAtividade, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RamoAtividade, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Resumo)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextAreaFor(m => m.Resumo, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Resumo, "", new { @class = "text-danger", rows = 4 })
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".cnpj").inputmask("99.999.999/9999-99", {
            autoUnmask: true
        });
    });
</script>