﻿@model List<MKF.Web.Models.Comum.ImagemViewModels>
@{
    int posicao = 0;
}
<div id="dadosImagem">
    @foreach (var item in Model)
    {
        posicao++;
        <div class="item_@item.Id">
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Nome)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    <input type="file" id="uploadEditorImage" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.URL)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.URL, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => item.URL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Img)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Img, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => item.Img, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.Count() > 1)
            {
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <input id="btnRemoverEndereco" type="button" value="Remover" class="btn btn-danger btn-remove" data-id="@posicao">
                        </div>
                    </div>
                </div>
            }
            <hr />
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("#uploadEditorImage").change(function () {
            var data = new FormData();
            var files = $("#uploadEditorImage").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
            }
            //$.ajax({
            //    url: resolveUrl("~/Admin/HelpSection/AddTextEditorImage/"),
            //    type: "POST",
            //    processData: false,
            //    contentType: false,
            //    data: data,
            //    success: function (response) {
            //        //code after success

            //    },
            //    error: function (er) {
            //        alert(er);
            //    }

            //});
        });
    });
</script>
