﻿@model MKF.Web.Models.Comum.EmpresaModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";

    <style>
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

            .upload-btn-wrapper input[type=file] {
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
    </style>
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Administrativo</a>
        </li>
        <li class="active">Empresas</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Cadastrar Empresa
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12 col-md-12">
            @{using (Html.BeginForm("Create", "Lojista", FormMethod.Post, new { @class = "form-horizontal", @id = "basic_validate" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Responsavel.IdEmpresa)
                    @Html.HiddenFor(m => m.Responsavel.Id)
                    @Html.HiddenFor(m => m.Responsavel.Tipo)
                    @Html.HiddenFor(m => m.Endereco.Id)
                    @Html.HiddenFor(m => m.Endereco.Tipo)
                    @Html.HiddenFor(m => m.Contatos[0].Id)
                    @Html.HiddenFor(m => m.Contatos[1].Id)
                    @Html.HiddenFor(m => m.Contatos[2].Id)
                    @Html.HiddenFor(m => m.Url)
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="form-field-1"> Tipo <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.DropDownListFor(m => m.Tipo, MKF.Web.Infra.Funcoes.TipoEmpresaList(Model.Tipo), "Selecione", new { @class = "col-xs-12 col-sm-12" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> CNPJ <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.CNPJ, new { @class = "col-xs-12 col-sm-12", @placeholder = "CNPJ" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Ramo de atividade <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.RamoAtividade, new { @class = "col-xs-12 col-sm-12", @placeholder = "Ramo de atividade" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="form-field-1"> Razão social <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.RazaoSocial, new { @class = "col-xs-12 col-sm-12", @placeholder = "Razão social" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="form-field-1"> Nome fantasia <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.NomeFantasia, new { @class = "col-xs-12 col-sm-12", @placeholder = "Nome fantasia" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="space-12"></div>*@
                    <h3 class="header blue lighter smaller">
                        <i class="ace-icon fa fa-list-alt smaller-90"></i>
                        Endereço
                    </h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="form-field-1"> Cep <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Endereco.Cep, new { @class = "col-xs-12 col-sm-12 cep", @placeholder = "Cep" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Logradouro <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Endereco.Logradouro, new { @class = "col-xs-12 col-sm-12", @placeholder = "Logradouro" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="form-field-1"> Número <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Endereco.Numero, new { @class = "col-xs-12 col-sm-12", @placeholder = "Número" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Complemento <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Endereco.Complemento, new { @class = "col-xs-12 col-sm-12", @placeholder = "Complemento" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="form-field-1"> Bairro <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Endereco.Bairro, new { @class = "col-xs-12 col-sm-12", @placeholder = "Bairro" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Cidade <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Endereco.Cidade, new { @class = "col-xs-12 col-sm-12", @placeholder = "Cidade" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="form-field-1"> Estado <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.DropDownListFor(m => m.Endereco.Estado, MKF.Web.Infra.Funcoes.Ufs(Model.Endereco.Estado), "Selecione", new { @class = "col-xs-12 col-sm-12" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="header blue lighter smaller">
                        <i class="ace-icon fa fa-list-alt smaller-90"></i>
                        Contatos
                    </h3>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="form-field-1"> Telefone principal <span class="text-danger"> * </span></label>
                            @Html.HiddenFor(m => m.Contatos[0].Tipo)
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Contatos[0].Dado, new { @class = "col-xs-12 col-sm-12 fone", @placeholder = "Telefone principal" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="form-field-1"> Telefone secundário <span class="text-danger"> * </span></label>
                            @Html.HiddenFor(m => m.Contatos[1].Tipo)
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Contatos[1].Dado, new { @class = "col-xs-12 col-sm-12 fone", @placeholder = "Telefone secundário" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="form-field-1"> E-mail <span class="text-danger"> * </span></label>
                            @Html.HiddenFor(m => m.Contatos[2].Tipo)
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Contatos[2].Dado, new { @class = "col-xs-12 col-sm-12", @placeholder = "E-mail" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="header blue lighter smaller">
                        <i class="ace-icon fa fa-list-alt smaller-90"></i>
                        Responsável principal
                    </h3>
                    <div class="row">
                        <div class="col-md-9">
                            <label for="form-field-1"> Nome <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Responsavel.Nome, new { @class = "col-xs-12 col-sm-12", @placeholder = "Nome" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="form-field-1"> CPF <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Responsavel.Cpf, new { @class = "col-xs-12 col-sm-12", @placeholder = "CPF" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                    <div class="row">
                        <div class="col-md-9">
                            <label for="form-field-1"> E-mail <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Responsavel.Email, new { @class = "col-xs-12 col-sm-12", @placeholder = "E-mail" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="form-field-1"> Celular <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Responsavel.Celular, new { @class = "col-xs-12 col-sm-12 fone", @placeholder = "Celular" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <label for="form-field-1"> Outros (Informar Nome e Telefone) <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextAreaFor(m => m.Observacao, new { @class = "col-xs-12 col-sm-12", @placeholder = "Outros sócios", rows = 4 })
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="header blue lighter smaller">
                        <i class="ace-icon fa fa-list-alt smaller-90"></i>
                        Dados complementar
                    </h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="imgEmpresa">
                                <form enctype="multipart/form-data">
                                    <div class="upload-btn-wrapper">
                                        <button class="btn btn-info">Imagens</button>
                                        <br />
                                        <input type="file" name="myfile" id="files" accept="image/jpeg, image/png" />
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <label for="form-field-1"> Resumo <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextAreaFor(m => m.Resumo, new { @class = "col-xs-12 col-sm-12", @placeholder = "Resumo", rows = 4 })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="@Url.Action("Index", "Lojista")" class="btn btn-info" data-original-title="Novo">
                                <i class="ace-icon fa fa-reply bigger-110"></i> Voltar
                            </a>

                            <button type="button" class="btn btn-success" id="btnSalvar">
                                <i class="ace-icon fa fa-check"></i> Salvar
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var urlIndex = '@Url.Action("Index", "Lojista")';
    var urlCreate = '@Url.Action("Create", "Lojista")';
    jQuery(function ($) {
        if (window.File && window.FileList && window.FileReader) {
            $("#files").on("change", function (e) {

                var files = e.target.files,
                  filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {

                        var file = e.target;
                        $("<div class=\"col-md-6 center bordered\" style=\"border:4px solid\"><span class=\"pip\">" +
                          "<img height=\"30%\" width=\"30%\" class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                          "<br /><input type=\"button\" value=\"Remover\" class=\"btn btn-danger remove\">" +
                          "</span></div>").insertAfter("#files");

                        $(".remove").click(function () {
                            $(this).closest("div").remove();
                        });
                    });
                    fileReader.readAsDataURL(f);
                }
            });
        }
        else {
            alert("Your browser doesn't support to File API")
        }
    });

</script>

<script src="~/Contents/assets/pages/Mensagem.js"></script>
<script src="~/Contents/assets/pages/Lojista/AdmLojista.js"></script>
<script src="~/Contents/assets/pages/Comum.js"></script>