﻿@model List<MKF.Web.Models.Comum.EmpresaModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";

    @*<link href="~/Content/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />*@
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Administrativo</a>
        </li>
        <li class="active">Usuário</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Consultar Empresa
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Lojista", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tipo </label>

                    <div class="col-sm-6">
                        @Html.DropDownList("Tipo", MKF.Web.Infra.Funcoes.TipoEmpresaList(string.Empty), "Selecione", new { @class = "col-xs-12 col-sm-12" })
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-info">
                            <i class="ace-icon fa fa-search"></i>Buscar
                        </button>

                        <a href="@Url.Action("Create", "Lojista")" class="btn btn-info" data-original-title="Novo">
                            <i class="ace-icon fa fa-check bigger-110"></i> Novo
                        </a>
                    </div>
                </div>

                if (Model != null)
                {
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> CNPJ  </th>
                                <th> Nome Fantasia </th>
                                <th> Razão Social </th>
                                <th> Tipo </th>
                                <th> Status </th>
                                <th> Ações </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @MKF.Web.Infra.Util.FormatarCPFCNPJ(item.CNPJ, "CNPJ")
                                    </td>
                                    <td> @item.NomeFantasia </td>
                                    <td> @item.RazaoSocial </td>
                                    <td>
                                        @if (item.Tipo.Equals("G"))
                                        {
                                            <span> Grife </span>
                                        }
                                        else if (item.Tipo.Equals("L"))
                                        {
                                            <span> Lojista </span>
                                        }
                                        else if (item.Tipo.Equals("P"))
                                        {
                                            <span> Parceiro </span>
                                        }
                                        else if (item.Tipo.Equals("T"))
                                        {
                                            <span> Patrocinador </span>
                                        }
                                    </td>
                                    <td>
                                        <span class="label label-sm label-success"> Ativo </span>
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <a href="@Url.Action("Edit", "Lojista", new { @id = item.Id, @url = Url.Action("Create", "Lojista") })" class="blue editar" data-original-title="Editar">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                            <a href="#" id="@item.Id" data-url="@Url.Action("Delete", "Lojista")" data-control="Lojista" class="red excluir" data-original-title="Excluir">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>
<script src="~/Contents/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/Contents/components/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Contents/components/_mod/datatables/jquery.dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {

        $("#CNPJ").mask('99.999.999/9999-99');


        $('#dynamic-table').dataTable({
            destroy: true,
            searching: false,
            ordering: false,
            "bJQueryUI": true,
            "oLanguage": {
                "sProcessing": "Processando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Não foram encontrados resultados",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "sInfoFiltered": "",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Seguinte",
                    "sLast": "Último"
                }
            }
        });
    });
</script>
<script src="~/Contents/assets/js/DeleteItem.js"></script>