﻿@model List<MKF.Web.Models.Comum.ContatoModels>
@{
    var posicao = 0;
}
<div id="dadosContatoJurado">
    @foreach (var item in Model)
    {
        posicao++;
        <div id="id_@posicao">
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Tipo)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => item.Tipo, MKF.Web.Infra.Funcoes.ContatoList(item.Tipo), "Selecione", new { @class = "form-control select", @data_id = "id_" + posicao })
                    @Html.ValidationMessageFor(m => item.Tipo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(m => item.Dado)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => item.Dado, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => item.Dado, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.Count() > 1)
            {
                <div class="form-group">
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-6">
                                <input type="button" id="btnRemover" value="Remover" class="btn red btnRemover" data-id="@posicao">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

