﻿@model MKF.Web.Models.JuradoModels
<div id="dadosJurado">
    @Html.HiddenFor(m => m.Pessoa.Tipo)
    @Html.HiddenFor(m => m.Pessoa.Id)
    @Html.HiddenFor(m => m.Usuario.TipoAcesso)
    @Html.HiddenFor(m => m.Usuario.Senha)
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Pessoa.Nome)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Pessoa.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Pessoa.Nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Pessoa.Cpf)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Pessoa.Cpf, new { @class = "form-control cpf" })
            @Html.ValidationMessageFor(m => m.Pessoa.Cpf, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Usuario.User)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Usuario.User, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Usuario.User, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Usuario.Password)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.Usuario.Password, new { @class = "form-control", @type = "password" })
            @Html.ValidationMessageFor(m => m.Usuario.Password, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        $(".cpf").inputmask("999.999.999-99", {
            autoUnmask: true
        });
    });
</script>