﻿@model List<MKF.Web.Models.Comum.EnderecoModels>
@{
    int posicao = 0;
}
<div id="dadosEndereco">
    @foreach (var item in Model)
    {
        posicao++;
        <div class="item_@posicao">
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Cep)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Cep, new { @class = "form-control cep", @data_id = "item_" + posicao })
                    @Html.ValidationMessageFor(i => item.Cep, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Logradouro)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Logradouro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => item.Logradouro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Numero)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Numero, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => item.Numero, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Complemento)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Complemento, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => item.Complemento, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Bairro)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Bairro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => item.Bairro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Cidade)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Cidade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => item.Cidade, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Estado)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Estado, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => item.Estado, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.Count() > 1)
            {
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <input id="btnRemoverEndereco" type="button" value="Remover" class="btn btn-danger btn-remove" data-id="@posicao">
                        </div>
                    </div>
                </div>
            }
            <hr />
        </div>
    }
</div>