﻿@model List<MKF.Web.Models.Comum.ResponsavelViewModels>
@{
    int posicao = 0;
}
<div id="dadosResponsavel">
    @foreach (var item in Model)
    {
        posicao++;
        <div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Nome)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => item.Nome, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => item.Cpf)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => item.Cpf, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => item.Cpf, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.Count() > 1)
            {
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <input id="btnRemoverResponsavel" type="button" value="Remover" class="btn btn-danger btn-remove-resp" data-id="@posicao">
                        </div>
                    </div>
                </div>
            }
            <hr />
        </div>
    }
</div>