﻿@model MKF.Web.Models.RegulamentoViewModels
@{
    <link href="~/Content/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
}
<div id="dadosRegulamento">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Url)
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Tipo)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.Tipo, MKF.Web.Infra.Funcoes.TiposRegulamentosList(), "Selecione", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Tipo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Nome)<span class="required"> * </span>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Dados)<span class="required"> * </span>
        </div>
        <div class="col-md-9">
            @Html.TextAreaFor(m => m.Dados, new { @class = "form-control", @name = "summernote" })
            @Html.ValidationMessageFor(m => m.Dados, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(m => m.Status)<span class="required"> * </span>
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.Status, MKF.Web.Infra.Funcoes.StatusList(), "Selecione", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<script src="~/Content/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
<script src="~/Content/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
<script src="~/Content/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
<script src="~/Content/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
<script src="~/Content/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
<script src="~/Content/pages/scripts/components-editors.min.js" type="text/javascript"></script>