﻿@model MKF.Web.Models.InscricaoViewModel
@{
    ViewBag.Title = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>MFK - Inscrições</title>
    <link href="http://www.minasfashionkids.com/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="http://www.minasfashionkids.com/favicon.png" rel="icon" type="image/x-icon">
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/assets/components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/assets/components/select2/dist/css/select2.css" />
    <link rel="stylesheet" href="~/Content/assets/components/_mod/jquery-ui.custom/jquery-ui.custom.css" />
    <link rel="stylesheet" href="~/Content/assets/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="~/Content/assets/css/ace-skins.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ace-rtl.css" />
    <script src="~/Content/assets/js/ace-extra.js"></script>
    <script src="~/Content/assets/components/jquery/dist/jquery.js"></script>

    @*<script type="text/javascript"
                src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js">
        </script>*@

    <script type="text/javascript"
            src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js">
    </script>

    <style type="text/css">
        #loading {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,0.8);
            z-index: 1000;
        }

        #loadingcontent {
            display: table;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        #loadingspinner {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            text-align: center;
            font-size: larger;
            padding-top: 80px;
        }

        .titulo_menu {
            font-family: 'Helvetica Neue,Helvetica,Arial,sans-serif';
            padding-left: 15px;
            padding-top: 20px;
            font-size: 24px;
            color: #FFF;
            font-weight: bold;
        }

        .page-logo img {
            padding-top: 10px;
        }
    </style>

</head>

<body class="skin-3 no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand">
                    <img src="~/Content/assets/images/mfk_logo.png" alt="logo" class="logo-default" style="width: 40%; margin: 0px !important;">
                </a>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container ace-save-state" id="main-container">

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget-box">
                            <div class="widget-header widget-header-blue widget-header-flat">
                                <h4 class="widget-title lighter">Inscrição</h4>
                            </div>
                            @Html.Hidden("UrlImagem", Url.Action("SalvarImagemCrianca", "Inscricao"));
                            <div class="widget-body">
                                <div class="widget-main">
                                    <!-- #section:plugins/fuelux.wizard -->
                                    <div id="fuelux-wizard-container">
                                        <div>
                                            <!-- #section:plugins/fuelux.wizard.steps -->
                                            <ul class="steps">
                                                <li data-step="1" class="active">
                                                    <span class="step">1</span>
                                                    <span class="title">Regulamento</span>
                                                </li>

                                                <li data-step="2">
                                                    <span class="step">2</span>
                                                    <span class="title">Criança</span>
                                                </li>

                                                <li data-step="3">
                                                    <span class="step">3</span>
                                                    <span class="title">Responsáveis</span>
                                                </li>
                                                <li data-step="4">
                                                    <span class="step">4</span>
                                                    <span class="title">Manequim</span>
                                                </li>
                                                <li data-step="5">
                                                    <span class="step">5</span>
                                                    <span class="title">Autorização de Imagem</span>
                                                </li>
                                                <li data-step="6">
                                                    <span class="step">6</span>
                                                    <span class="title">Pagamento</span>
                                                </li>
                                                <li data-step="7">
                                                    <span class="step">7</span>
                                                    <span class="title">Confirmação</span>
                                                </li>
                                            </ul>

                                            <!-- /section:plugins/fuelux.wizard.steps -->
                                        </div>
                                        <hr />
                                        <!-- #section:plugins/fuelux.wizard.container -->
                                        <div class="step-content pos-rel">
                                            <div class="step-pane active" data-step="1">
                                                @Html.Partial("~/Views/Inscricao/Partial/_regulamento.cshtml", Model.Seletiva)
                                            </div>
                                            <div class="step-pane" data-step="2">
                                                @Html.Partial("~/Views/Inscricao/Partial/_dadosCrianca.cshtml", Model.Modelo)
                                            </div>
                                            <div class="step-pane" data-step="3">
                                                @Html.Partial("~/Views/Inscricao/Partial/_responsaveis.cshtml", Model.Modelo)
                                            </div>
                                            <div class="step-pane" data-step="4">
                                                @Html.Partial("~/Views/Inscricao/Partial/_manequim.cshtml", Model.Modelo)
                                            </div>
                                            <div class="step-pane" data-step="5">
                                                @Html.Partial("~/Views/Inscricao/Partial/_autorizacao.cshtml", Model.Modelo)
                                            </div>
                                            <div class="step-pane" data-step="6">
                                                @Html.Partial("~/Views/Inscricao/Partial/_pagamento.cshtml", Model.Pagamento)
                                            </div>
                                            <div class="step-pane" data-step="7">
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right">Pré inscrição</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(m => m.Modelo.Inscricao, new { @class = "col-xs-10 col-sm-6", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="well well-lg">
                                                            <h4 class="blue">Finalização</h4>
                                                            <p>Você receberá um e-mail assim que o pagamento for aprovado. Caso não receba o e-mail da confirmação do cadastro, entre em contato junto ao administrador do sistema.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="wizard-actions">
                                        <!-- #section:plugins/fuelux.wizard.buttons -->
                                        <button class="btn btn-prev">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            Voltar
                                        </button>

                                        <button class="btn btn-success btn-next" data-last="Fechar">
                                            Avançar
                                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                        </button>

                                        <!-- /section:plugins/fuelux.wizard.buttons -->
                                    </div>

                                    <!-- /section:plugins/fuelux.wizard -->
                                </div><!-- /.widget-main -->
                            </div><!-- /.widget-body -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>
        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">MFK</span>
                        Minas Fashion Kids &copy; 2018
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

    <div id="my-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="widget-box widget-color-red2">
                    <div class="widget-header widget-header-small">
                        <h5 class="widget-title smaller">Atenção: Para avançar no cadastro certifique dos erros abaixo!</h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="my-body">


                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                            <i class="ace-icon fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                <img src="~/Imagens/lg.rotating-balls-spinner.gif" />
            </p>
        </div>
    </div>

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Content/assets/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="~/Content/assets/components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Content/assets/components/fuelux/js/wizard.js"></script>
    <script src="~/Content/assets/components/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Content/assets/components/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/Content/assets/components/bootbox.js/bootbox.js"></script>

    <script src="~/Content/assets/components/select2/dist/js/select2.js"></script>

    <!-- ace scripts -->
    <script src="~/Content/assets/js/src/elements.scroller.js"></script>
    <script src="~/Content/assets/js/src/elements.colorpicker.js"></script>
    <script src="~/Content/assets/js/src/elements.fileinput.js"></script>
    <script src="~/Content/assets/js/src/elements.typeahead.js"></script>
    <script src="~/Content/assets/js/src/elements.wysiwyg.js"></script>
    <script src="~/Content/assets/js/src/elements.spinner.js"></script>
    <script src="~/Content/assets/js/src/elements.treeview.js"></script>
    <script src="~/Content/assets/js/src/elements.wizard.js?1"></script>
    <script src="~/Content/assets/js/src/elements.aside.js"></script>
    <script src="~/Content/assets/js/src/ace.js"></script>
    <script src="~/Content/assets/js/src/ace.basics.js"></script>
    <script src="~/Content/assets/js/src/ace.scrolltop.js"></script>
    <script src="~/Content/assets/js/src/ace.ajax-content.js"></script>
    <script src="~/Content/assets/js/src/ace.touch-drag.js"></script>
    <script src="~/Content/assets/js/src/ace.sidebar.js"></script>
    <script src="~/Content/assets/js/src/ace.sidebar-scroll-1.js"></script>
    <script src="~/Content/assets/js/src/ace.submenu-hover.js"></script>
    <script src="~/Content/assets/js/src/ace.widget-box.js"></script>
    <script src="~/Content/assets/js/src/ace.settings.js"></script>
    <script src="~/Content/assets/js/src/ace.settings-rtl.js"></script>
    <script src="~/Content/assets/js/src/ace.settings-skin.js"></script>
    <script src="~/Content/assets/js/src/ace.widget-on-reload.js"></script>
    <script src="~/Content/assets/js/src/ace.searchbox-autocomplete.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            $('.cpf').mask('999.999.999-99');

            $('.cep').mask('99999-999');

            $('[data-rel=tooltip]').tooltip();

            $('.select2').css('width', '200px').select2({ allowClear: true })
            .on('change', function () {
                $(this).closest('form').validate().element($(this));
            });


            var $validation = false;
            $('#fuelux-wizard-container')
            .ace_wizard({
                //step: 2 //optional argument. wizard will jump to step "2" at first
                //buttons: '.wizard-actions:eq(0)'
            })
            .on('actionclicked.fu.wizard', function (e, info) {
                if (info.step == 1 && $validation) {
                    if (!$('#validation-form').valid()) e.preventDefault();
                }
            })
            //.on('changed.fu.wizard', function() {
            //})
            .on('finished.fu.wizard', function (e) {
                bootbox.dialog({
                    message: "Thank you! Your information was successfully saved!",
                    buttons: {
                        "success": {
                            "label": "OK",
                            "className": "btn-sm btn-primary"
                        }
                    }
                });
            }).on('stepclick.fu.wizard', function (e) {
                //e.preventDefault();//this will prevent clicking and selecting steps
            });


            //jump to a step
            /**
            var wizard = $('#fuelux-wizard-container').data('fu.wizard')
            wizard.currentStep = 3;
            wizard.setState();
            */

            //determine selected step
            //wizard.selectedItem().step



            //hide or show the other form which requires validation
            //this is for demo only, you usullay want just one form in your application
            $('#skip-validation').removeAttr('checked').on('click', function () {
                $validation = this.checked;
                if (this.checked) {
                    $('#sample-form').hide();
                    $('#validation-form').removeClass('hide');
                }
                else {
                    $('#validation-form').addClass('hide');
                    $('#sample-form').show();
                }
            })



            //documentation : http://docs.jquery.com/Plugins/Validation/validate


            $.mask.definitions['~'] = '[+-]';
            $('#phone').mask('(999) 999-9999');

            jQuery.validator.addMethod("phone", function (value, element) {
                return this.optional(element) || /^\(\d{3}\) \d{3}\-\d{4}( x\d{1,6})?$/.test(value);
            }, "Enter a valid phone number.");

            $('#validation-form').validate({
                errorElement: 'div',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 5
                    },
                    password2: {
                        required: true,
                        minlength: 5,
                        equalTo: "#password"
                    },
                    name: {
                        required: true
                    },
                    phone: {
                        required: true,
                        phone: 'required'
                    },
                    url: {
                        required: true,
                        url: true
                    },
                    comment: {
                        required: true
                    },
                    state: {
                        required: true
                    },
                    platform: {
                        required: true
                    },
                    subscription: {
                        required: true
                    },
                    gender: {
                        required: true,
                    },
                    agree: {
                        required: true,
                    }
                },

                messages: {
                    email: {
                        required: "Please provide a valid email.",
                        email: "Please provide a valid email."
                    },
                    password: {
                        required: "Please specify a password.",
                        minlength: "Please specify a secure password."
                    },
                    state: "Please choose state",
                    subscription: "Please choose at least one option",
                    gender: "Please choose gender",
                    agree: "Please accept our policy"
                },


                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },

                success: function (e) {
                    $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                    $(e).remove();
                },

                errorPlacement: function (error, element) {
                    if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                        var controls = element.closest('div[class*="col-"]');
                        if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                        else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                    }
                    else if (element.is('.select2')) {
                        error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                    }
                    else if (element.is('.chosen-select')) {
                        error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                    }
                    else error.insertAfter(element.parent());
                },

                submitHandler: function (form) {
                },
                invalidHandler: function (form) {
                }
            });




            $('#modal-wizard-container').ace_wizard();
            $('#modal-wizard .wizard-actions .btn[data-dismiss=modal]').removeAttr('disabled');


            /**
            $('#date').datepicker({autoclose:true}).on('changeDate', function(ev) {
                $(this).closest('form').validate().element($(this));
            });

            $('#mychosen').chosen().on('change', function(ev) {
                $(this).closest('form').validate().element($(this));
            });
            */


            $(document).one('ajaxloadstart.page', function (e) {
                //in ajax mode, remove remaining elements before leaving page
                $('[class*=select2]').remove();
            });
        })
    </script>
    <link rel="stylesheet" href="~/Content/assets/css/ace.onpage-help.css" />
    <link rel="stylesheet" href="~/Content/assets/docs/assets/js/themes/sunburst.css" />

    <script type="text/javascript"> ace.vars['base'] = '~/Content/assets'; </script>
    <script src="~/Content/assets/js/src/elements.onpage-help.js"></script>
    <script src="~/Content/assets/js/src/ace.onpage-help.js"></script>
    <script src="~/Content/assets/docs/assets/js/rainbow.js"></script>
    <script src="~/Content/assets/docs/assets/js/language/generic.js"></script>
    <script src="~/Content/assets/docs/assets/js/language/html.js"></script>
    <script src="~/Content/assets/docs/assets/js/language/css.js"></script>
    <script src="~/Content/assets/docs/assets/js/language/javascript.js"></script>
</body>
</html>
