﻿@model List<MKF.Web.Models.SeletivaViewModels>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>MFK - Inscrições</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/assets/components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/assets/components/_mod/jquery-ui.custom/jquery-ui.custom.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="~/Content/assets/css/ace-skins.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ace-rtl.css" />
    <script src="~/Content/assets/js/ace-extra.js"></script>

</head>

<body class="skin-3 no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand">
                    <img src="~/Content/assets/images/mfk_logo.png" alt="logo" class="logo-default" style="width: 40%; margin: 0px !important;">
                </a>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container ace-save-state" id="main-container">

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="main-content-inner">
                <!-- #section:basics/content.breadcrumbs -->
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <span>Seletivas</span>
                        </li>
                    </ul>
                </div>

                <!-- /section:basics/content.breadcrumbs -->
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    if (item.DataFim.HasValue && item.DataFim.Value < DateTime.Now)
                                    {
                                        continue;
                                    }
                                    <div class="col-xs-6 col-sm-4 col-md-3">
                                        <div class="thumbnail search-thumbnail">
                                            @*<span class="search-promotion label label-success arrowed-in arrowed-in-right">Em andamento</span>*@
                                            <span class="search-promotion label label-info arrowed-in arrowed-in-right">Inscrições Encerradas</span>
                                            @if (string.IsNullOrEmpty(item.UrlImagem))
                                            {
                                                <img class="media-object" src="~/Content/assets/images/mfk_logo.png" style="width: 100%; background-color: black;" />
                                            }
                                            else
                                            {
                                                <img class="media-object" src="@item.UrlImagem" />
                                            }
                                            <div class="caption">
                                                @if (string.IsNullOrEmpty(item.Local.Complemento))
                                                {
                                                    <h6 class="green smaller">
                                                        <i class="fa fa-map-marker bigger-110"></i>
                                                        @string.Format("{0}, {1}, {2}, {3}, {4}", item.Local.Logradouro, item.Local.Numero, item.Local.Bairro, item.Local.Cidade, item.Local.Estado)
                                                    </h6>
                                                }
                                                else
                                                {
                                                    <h6 class="green smaller">
                                                        <i class="fa fa-map-marker bigger-110"></i>
                                                        @string.Format("{0}, {1}, {2}, {3}, {4}, {5}", item.Local.Logradouro, item.Local.Numero, item.Local.Complemento, item.Local.Bairro, item.Local.Cidade, item.Local.Estado)
                                                    </h6>
                                                }
                                                <h6 class="blue smaller">
                                                    <i class="fa fa-calendar-o bigger-110"></i>
                                                    @string.Format("{0:dddd, MMMM d, yyyy}", item.DataInicio.Value.ToString())
                                                </h6>
                                                <h6 class="blue smaller">
                                                    <i class="fa fa-calendar-o bigger-110"></i>
                                                    @string.Format("{0:dddd, MMMM d, yyyy}", item.DataFim.Value.ToString())
                                                </h6>
                                                <h4 class="blue smaller">
                                                    <span>Valor da inscrição: </span>
                                                    @item.Valor.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pt-br"))
                                                </h4>
                                                <div class="hr hr12 dotted"></div>
                                                <h4 class="search-title">
                                                    <a href="#" class="blue">@item.Nome</a>
                                                </h4>
                                                @if (item.DataFim.HasValue && item.DataFim.Value < DateTime.Now)
                                                {
                                                    <p><h4 class="red">Inscrições encerradas! Para mais informações ligue para (31) 3643-1312.</h4></p>
                                                }
                                                else
                                                {
                                                    <p>
                                                        @Html.ActionLink("Inscreva-se", "Create", "Inscricao", new { id = item.Id, url = Url.Action("Pagamento", "Inscricao") }, new { @class = "btn btn-info btn-block" })
                                                    </p>
                                                }
                                            </div>
                                        </div>

                                        <!-- /section:pages/search.thumb -->
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">MFK</span>
                        Minas Fashion Kids &copy; 2018
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->


    <script src="~/Content/assets/components/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Content/assets/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="~/Content/assets/components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Content/assets/components/_mod/jquery-ui.custom/jquery-ui.custom.js"></script>
    <script src="~/Content/assets/components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/Content/assets/components/_mod/easypiechart/jquery.easypiechart.js"></script>
    <script src="~/Content/assets/components/jquery.sparkline/index.js"></script>
    <script src="~/Content/assets/components/Flot/jquery.flot.js"></script>
    <script src="~/Content/assets/components/Flot/jquery.flot.pie.js"></script>
    <script src="~/Content/assets/components/Flot/jquery.flot.resize.js"></script>

    <!-- ace scripts -->
    <script src="~/Content/assets/js/src/elements.scroller.js"></script>
    <script src="~/Content/assets/js/src/elements.colorpicker.js"></script>
    <script src="~/Content/assets/js/src/elements.fileinput.js"></script>
    <script src="~/Content/assets/js/src/elements.typeahead.js"></script>
    <script src="~/Content/assets/js/src/elements.wysiwyg.js"></script>
    <script src="~/Content/assets/js/src/elements.spinner.js"></script>
    <script src="~/Content/assets/js/src/elements.treeview.js"></script>
    <script src="~/Content/assets/js/src/elements.wizard.js?1"></script>
    <script src="~/Content/assets/js/src/elements.aside.js"></script>
    <script src="~/Content/assets/js/src/ace.js"></script>
    <script src="~/Content/assets/js/src/ace.basics.js"></script>
    <script src="~/Content/assets/js/src/ace.scrolltop.js"></script>
    <script src="~/Content/assets/js/src/ace.ajax-content.js"></script>
    <script src="~/Content/assets/js/src/ace.touch-drag.js"></script>
    <script src="~/Content/assets/js/src/ace.sidebar.js"></script>
    <script src="~/Content/assets/js/src/ace.sidebar-scroll-1.js"></script>
    <script src="~/Content/assets/js/src/ace.submenu-hover.js"></script>
    <script src="~/Content/assets/js/src/ace.widget-box.js"></script>
    <script src="~/Content/assets/js/src/ace.settings.js"></script>
    <script src="~/Content/assets/js/src/ace.settings-rtl.js"></script>
    <script src="~/Content/assets/js/src/ace.settings-skin.js"></script>
    <script src="~/Content/assets/js/src/ace.widget-on-reload.js"></script>
    <script src="~/Content/assets/js/src/ace.searchbox-autocomplete.js"></script>
    <link rel="stylesheet" href="~/Content/assets/css/ace.onpage-help.css" />
    <link rel="stylesheet" href="~/Content/assets/docs/assets/js/themes/sunburst.css" />

    <script type="text/javascript"> ace.vars['base'] = '~/Content/assets'; </script>
    <script src="~/Content/assets/js/src/elements.onpage-help.js"></script>
    <script src="~/Content/assets/js/src/ace.onpage-help.js"></script>
    <script src="~/Content/assets/docs/assets/js/rainbow.js"></script>
    <script src="~/Content/assets/docs/assets/js/language/generic.js"></script>
    <script src="~/Content/assets/docs/assets/js/language/html.js"></script>
    <script src="~/Content/assets/docs/assets/js/language/css.js"></script>
    <script src="~/Content/assets/docs/assets/js/language/javascript.js"></script>
</body>
</html>
