﻿@model MKF.Web.Models.JuradoModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Administrativo</a>
        </li>
        <li class="active">Jurados</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Cadastrar Jurados
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12 col-md-12">
            @{using (Html.BeginForm("Create", "Jurados", FormMethod.Post, new { @class = "form-horizontal", @id = "basic_validate" }))
                {
                    @Html.HiddenFor(m => m.Usuario.Id)
                    @Html.HiddenFor(m => m.Usuario.IdPessoa)
                    @Html.HiddenFor(m => m.Usuario.Status)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Id)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Status)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Tipo)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Endereco.Id)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Endereco.IdPessoa)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Endereco.Tipo)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Contatos[0].Id)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Contatos[0].IdPessoa)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Contatos[1].Id)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Contatos[1].IdPessoa)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Contatos[2].Id)
                    @Html.HiddenFor(m => m.Usuario.DadosPessoais.Contatos[2].IdPessoa)
                    @Html.HiddenFor(m => m.Url)
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="form-field-1"> Nome <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.DadosPessoais.Nome, new { @class = "col-xs-12 col-sm-12", @placeholder = "Nome" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="form-field-1"> CPF <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.DadosPessoais.Cpf, new { @class = "col-xs-12 col-sm-12", @placeholder = "CPF" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="form-field-1"> Usuário <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.User, new { @class = "col-xs-12 col-sm-12", @placeholder = "Usuário" })
                                </div>
                            </div>
                        </div>
                        @if (!Model.Usuario.Id.HasValue)
                        {
                            <div class="col-md-2">
                                <label for="form-field-1"> Senha <span class="text-danger"> * </span></label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        @Html.TextBoxFor(m => m.Usuario.Password, new { @class = "col-xs-12 col-sm-12", @placeholder = "Senha", @type = "password" })
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(m => m.Usuario.Password)
                            <div class="col-md-2">
                                <label for="form-field-1"> Senha <span class="text-danger"> * </span></label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        @Html.TextBoxFor(m => m.Usuario.Senha, new { @class = "col-xs-12 col-sm-12", @placeholder = "Senha", @type = "password" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <h3 class="header blue lighter smaller">
                        <i class="ace-icon fa fa-list-alt smaller-90"></i>
                        Endereço
                    </h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="form-field-1"> Cep <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.DadosPessoais.Endereco.Cep, new { @class = "col-xs-12 col-sm-12 cep", @placeholder = "Cep" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Logradouro <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.DadosPessoais.Endereco.Logradouro, new { @class = "col-xs-12 col-sm-12", @placeholder = "Logradouro" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="form-field-1"> Número <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.DadosPessoais.Endereco.Numero, new { @class = "col-xs-12 col-sm-12", @placeholder = "Número" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Complemento <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.DadosPessoais.Endereco.Complemento, new { @class = "col-xs-12 col-sm-12", @placeholder = "Complemento" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="form-field-1"> Bairro <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.DadosPessoais.Endereco.Bairro, new { @class = "col-xs-12 col-sm-12", @placeholder = "Bairro" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Cidade <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.DadosPessoais.Endereco.Cidade, new { @class = "col-xs-12 col-sm-12", @placeholder = "Cidade" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="form-field-1"> Estado <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.DropDownListFor(m => m.Usuario.DadosPessoais.Endereco.Estado, MKF.Web.Infra.Funcoes.Ufs(Model.Usuario.DadosPessoais.Endereco.Estado), "Selecione", new { @class = "col-xs-12 col-sm-12" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="header blue lighter smaller">
                        <i class="ace-icon fa fa-list-alt smaller-90"></i>
                        Contatos
                    </h3>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="form-field-1"> Telefone <span class="text-danger"> * </span></label>
                            @Html.HiddenFor(m => m.Usuario.DadosPessoais.Contatos[0].Tipo)
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.DadosPessoais.Contatos[0].Dado, new { @class = "col-xs-12 col-sm-12 fone", @placeholder = "Telefone" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="form-field-1"> Celular <span class="text-danger"> * </span></label>
                            @Html.HiddenFor(m => m.Usuario.DadosPessoais.Contatos[1].Tipo)
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.DadosPessoais.Contatos[1].Dado, new { @class = "col-xs-12 col-sm-12 fone", @placeholder = "Celular" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="form-field-1"> E-mail <span class="text-danger"> * </span></label>
                            @Html.HiddenFor(m => m.Usuario.DadosPessoais.Contatos[2].Tipo)
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Usuario.DadosPessoais.Contatos[2].Dado, new { @class = "col-xs-12 col-sm-12", @placeholder = "E-mail" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="@Url.Action("Index", "Jurados")" class="btn btn-info" data-original-title="Novo">
                                <i class="ace-icon fa fa-reply bigger-110"></i> Voltar
                            </a>

                            <button type="button" class="btn btn-success" id="btnSalvar">
                                <i class="ace-icon fa fa-check"></i> Salvar
                            </button>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var urlIndex = '@Url.Action("Index", "Jurados")';
    var urlCreate = '@Url.Action("Create", "Jurados")';
</script>

<script src="~/Contents/assets/pages/Mensagem.js"></script>
<script src="~/Contents/assets/pages/Jurado/AdmJurado.js"></script>