﻿@model MKF.Web.Areas.Admin.Models.LoginViewModels

<div class="center">
    <h1>
        <img src="~/Contents/assets/images/MFK.png" />
    </h1>
</div>

<div class="space-6"></div>

<div class="position-relative">
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header blue lighter bigger">
                    <i class="ace-icon fa fa-coffee green"></i>
                    Informe os dados para acesso
                </h4>

                <div class="space-6"></div>
                @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "login-form", @id = "loginform", @style = "display:block" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Acesso.Status)

                    if (TempData["mensagemErro"] != null)
                    {
                        <div class="alert alert-danger display">
                            <button class="close" data-close="alert"></button>
                            <span>@TempData["mensagemErro"]</span>
                        </div>
                    }
                    <fieldset>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                @Html.TextBoxFor(m => m.Acesso.CodigoAcesso, new { placeholder = "Código de acesso", @class = "form-control", @autocomplete = "off" })
                                <i class="ace-icon fa fa-exclamation-circle"></i>
                            </span>
                            @Html.ValidationMessageFor(m => m.Acesso.CodigoAcesso, "", new { @class = "text-danger" })
                        </label>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                @Html.TextBoxFor(m => m.Acesso.User, new { placeholder = "Usuário", @class = "form-control", @autocomplete = "off" })
                                <i class="ace-icon fa fa-user"></i>
                            </span>
                            @Html.ValidationMessageFor(m => m.Acesso.User, "", new { @class = "text-danger" })
                        </label>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                @Html.TextBoxFor(m => m.Acesso.Password, new { placeholder = "Senha", @class = "form-control", @autocomplete = "off", @type = "password" })
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                            @Html.ValidationMessageFor(m => m.Acesso.Password, "", new { @class = "text-danger" })
                        </label>

                        <div class="space"></div>

                        <div class="clearfix">
                            <button type="submit" class="width-40 pull-right btn btn-sm btn-primary">Entrar</button>
                            <a href="#" data-target="#forgot-box" class="btnLogin width-40 pull-left btn btn-sm btn-danger">
                                Esqueci a Senha
                            </a>
                            @*<button type="button" class="toolbar width-40 pull-left btn btn-sm btn-danger" data-target="#forgot-box">Esqueci a Senha</button>*@
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>