﻿@model MKF.Web.Areas.Admin.Models.LoginViewModels
<div id="forgot-box" class="forgot-box widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header red lighter bigger">
                <i class="ace-icon fa fa-key"></i>
                Recuperação de acesso
            </h4>

            <div class="space-6"></div>
            <p>
                Informe seu e-mail cadastrado para recuperação
            </p>
            @using (Html.BeginForm("EsqueciSenha", "Login", FormMethod.Post, new { @class = "forget-form", @id = "recoverform" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(m => m.EsquecerSenha.Email, new { placeholder = "CPF", @class = "form-control placeholder-no-fix", @autocomplete = "off" })
                            <i class="ace-icon fa fa-envelope"></i>
                        </span>
                    </label>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(m => m.EsquecerSenha.Email, new { placeholder = "E-mail", @class = "form-control placeholder-no-fix", @autocomplete = "off" })
                            <i class="ace-icon fa fa-envelope"></i>
                        </span>
                    </label>

                    <div class="clearfix">
                        <a href="#" data-target="#login-box" class="btnLogin width-40 pull-left btn btn-sm btn-danger">
                            Voltar login
                        </a>
                        <button type="submit" class="width-40 pull-right btn btn-sm btn-info">
                            Enviar
                        </button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>