﻿@model MKF.Web.Models.PatrocinadorModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";

    <link href="~/Content/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Administrativo</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Patrocinador</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Cadastro</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light" id="form_wizard_1">
            <div class="portlet-body">
                @{using (Html.BeginForm("Create", "Patrocinador", FormMethod.Post, new { @class = "form-horizontal", @id = "basic_validate" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Empresa.Tipo)
                        @Html.Hidden("JsonForm", "")
                        <div class="form-wizard">
                            <div class="form-body">
                                <ul class="nav nav-pills nav-justified steps">
                                    <li class="active">
                                        <a href="#tab1" data-toggle="tab" class="step">
                                            <span class="number"> 1 </span>
                                            <span class="desc">
                                                <i class="fa fa-check"></i> Cadastral
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab2" data-toggle="tab" class="step">
                                            <span class="number"> 2 </span>
                                            <span class="desc">
                                                <i class="fa fa-check"></i> Endereço
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab3" data-toggle="tab" class="step">
                                            <span class="number"> 3 </span>
                                            <span class="desc">
                                                <i class="fa fa-check"></i> Responsáveis
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab4" data-toggle="tab" class="step">
                                            <span class="number"> 4 </span>
                                            <span class="desc">
                                                <i class="fa fa-check"></i> Imagens
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab5" data-toggle="tab" class="step">
                                            <span class="number"> 5 </span>
                                            <span class="desc">
                                                <i class="fa fa-check"></i> Confirmação
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <div id="bar" class="progress progress-striped" role="progressbar">
                                    <div class="progress-bar progress-bar-success"> </div>
                                </div>
                                <div class="tab-content">
                                    <div class="alert alert-danger display-none">
                                        <button class="close" data-dismiss="alert"></button> Atenção.
                                    </div>
                                    <div class="alert alert-success display-none">
                                        <button class="close" data-dismiss="alert"></button> Cadastro realizado com sucesso!
                                    </div>
                                    <div id="step1" class="tab-pane active">
                                        <h3 class="block">Informe os dados abaixo</h3>
                                        @Html.Partial("~/Areas/Administrador/Views/Patrocinador/Partial/_dadosLoja.cshtml", Model.Empresa)
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    @Html.ActionLink("Voltar", "Index", "Patrocinador", new { @class = "btn btn-outline green" })
                                                    <input id="btnContinueDados" value="Continue" class="btn btn-outline green">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step2" class="tab-pane">
                                        <h3 class="block">Informe os dados abaixo</h3>
                                        @Html.Partial("~/Areas/Administrador/Views/Patrocinador/Partial/_endereco.cshtml", Model.Enderecos)
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <input id="btnNovoEndereco" value="Novo" class="btn btn-success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <input id="btnVoltarEndereco" value="Voltar" class="btn btn-outline green">
                                                    <input id="btnContinueEndereco" value="Continue" class="btn btn-outline green">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step3" class="tab-pane">
                                        <h3 class="block">Informe os dados abaixo</h3>
                                        @Html.Partial("~/Areas/Administrador/Views/Patrocinador/Partial/_responsaveisLoja.cshtml", Model.Socios)
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <input id="btnNovoResponsavel" value="Novo" class="btn btn-success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <input id="btnVoltarResponsavel" value="Voltar" class="btn btn-outline green">
                                                    <input id="btnContinueResponsavel" value="Continue" class="btn btn-outline green">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step4" class="tab-pane">
                                        <h3 class="block">Informe os dados abaixo</h3>
                                        @Html.Partial("~/Areas/Administrador/Views/Patrocinador/Partial/_imagens.cshtml", Model.Imagens)
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <input id="btnNovaImagem" value="Nova" class="btn btn-success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <input id="btnVoltarImagem" value="Voltar" class="btn btn-outline green">
                                                    <input type="submit" id="btnFinalizarCadastro" value="Sim" class="btn btn-outline green">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane">
                                        <h3 class="block">Cadastro realizado com sucesso!</h3>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    @Html.ActionLink("Não", "Index", "Patrocinador", new { @class = "btn btn-outline green" })
                                                    <input type="submit" id="btnFinalizarCadastro" value="Sim" class="btn btn-outline green">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script src="~/Content/pages/scripts/Patrocinador/AdmPatrocinador.js" type="text/javascript"></script>