﻿@model List<MKF.Web.Models.Comum.EnderecoModels>
@{
    int posicao = 0;
}
<div id="dadosEndereco">
    @for (int n = 0; n < Model.Count; n++)
    {
        posicao++;
        <div class="item_@posicao">
            @Html.HiddenFor(i => Model[n].Id)
            @Html.HiddenFor(m => Model[n].Tipo)
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => Model[n].Cep)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => Model[n].Cep, new { @class = "form-control cep", @data_id = "item_" + posicao })
                    @Html.ValidationMessageFor(i => Model[n].Cep, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => Model[n].Logradouro)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => Model[n].Logradouro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => Model[n].Logradouro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => Model[n].Numero)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => Model[n].Numero, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => Model[n].Numero, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => Model[n].Complemento)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => Model[n].Complemento, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => Model[n].Bairro)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => Model[n].Bairro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => Model[n].Bairro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => Model[n].Cidade)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(i => Model[n].Cidade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => Model[n].Cidade, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.LabelFor(i => Model[n].Estado)<span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(i => Model[n].Estado, MKF.Web.Infra.Funcoes.Ufs(Model[n].Estado), "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => Model[n].Estado, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.Count() > 1)
            {
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <input id="btnRemoverEndereco" type="button" value="Remover" class="btn btn-danger btn-remove" data-id="@posicao">
                        </div>
                    </div>
                </div>
            }
            <hr />
        </div>
    }
</div>

<script type="text/javascript">
    jQuery(function ($) {
        $('.cep').inputmask('99999-999', {
            autoUnmask: true
        });
    });
</script>