﻿@model MKF.Web.Models.SeletivaViewModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
    <link href="~/Contents/assets/css/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Contents/components/bootstrap-duallistbox/dist/bootstrap-duallistbox.css" />
    <link rel="stylesheet" href="~/Contents/components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/Contents/components/select2/dist/css/select2.css" />
    <style>
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

            .upload-btn-wrapper input[type=file] {
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
    </style>
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Administrativo</a>
        </li>
        <li class="active">Evento</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Cadastrar Evento
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12 col-md-12">
            @{using (Html.BeginForm("Create", "Seletiva", FormMethod.Post, new { @class = "form-horizontal", @id = "basic_validate" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Url)
                    @Html.HiddenFor(m => m.IdEndereco)
                    @Html.HiddenFor(m => m.JuradosSelect)
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="form-field-1"> Evento <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.DropDownListFor(m => m.IdEvento, MKF.Web.Infra.Funcoes.EventosList(), "Selecione", new { @class = "col-xs-12 col-sm-12" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="form-field-1"> Nome <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "col-xs-12 col-sm-12", @placeholder = "Nome" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <label for="form-field-1"> Descrição <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextAreaFor(m => m.Descricao, new { @class = "col-xs-12 col-sm-12", @placeholder = "Descrição", rows = 4 })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="form-field-1"> Data início <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.DataInicio, new { @class = "col-xs-12 col-sm-12", @placeholder = "Data início" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="form-field-1"> Data fim <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.DataFim, new { @class = "col-xs-12 col-sm-12", @placeholder = "Data fim" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="form-field-1"> Valor <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Valor, new { @class = "col-xs-12 col-sm-12", @placeholder = "Valor" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="form-field-1"> Inscrição por intervalo <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.QtdInscricaoHorario, new { @class = "col-xs-12 col-sm-12", @placeholder = "Inscrição por intervalo" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="form-field-1"> Intervalo <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.IntervaloApresentacao, new { @class = "col-xs-12 col-sm-12", @placeholder = "Intervalo" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="form-field-1"> Regulamento</label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.DropDownListFor(m => m.IdRegulamento, MKF.Web.Infra.Funcoes.RegulamentosList(), "Selecione", new { @class = "col-xs-12 col-sm-12" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="header blue lighter smaller">
                        <i class="ace-icon fa fa-list-alt smaller-90"></i>
                        Endereço
                    </h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="form-field-1"> Cep <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Local.Cep, new { @class = "col-xs-12 col-sm-12 cep", @placeholder = "Cep" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Logradouro <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Local.Logradouro, new { @class = "col-xs-12 col-sm-12", @placeholder = "Logradouro" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="form-field-1"> Número <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Local.Numero, new { @class = "col-xs-12 col-sm-12", @placeholder = "Número" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Complemento </label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Local.Complemento, new { @class = "col-xs-12 col-sm-12", @placeholder = "Complemento" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="form-field-1"> Bairro <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Local.Bairro, new { @class = "col-xs-12 col-sm-12", @placeholder = "Bairro" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="form-field-1"> Cidade <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Local.Cidade, new { @class = "col-xs-12 col-sm-12", @placeholder = "Cidade" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="form-field-1"> Estado <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.DropDownListFor(m => m.Local.Estado, MKF.Web.Infra.Funcoes.Ufs(Model.Local.Estado), "Selecione", new { @class = "col-xs-12 col-sm-12" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="form-field-1"> Local referência <span class="text-danger"> * </span></label>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    @Html.TextBoxFor(m => m.Local.LocalSeletiva, new { @class = "col-xs-12 col-sm-12", @placeholder = "Bairro" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="header blue lighter smaller">
                        <i class="ace-icon fa fa-list-alt smaller-90"></i>
                        Jurados
                    </h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            @Html.DropDownList("duallistbox_demo1[]", MKF.Web.Infra.Funcoes.JuradosList(Model.Id), null, new { @class = "col-xs-12 col-sm-12", @multiple = "multiple", @size = "10", @id = "duallist" })
                        </div>
                    </div>
                    <h3 class="header blue lighter smaller">
                        <i class="ace-icon fa fa-list-alt smaller-90"></i>
                        Folder do evento
                    </h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="imgEmpresa">
                                <form enctype="multipart/form-data">
                                    <div class="upload-btn-wrapper">
                                        <button class="btn btn-info">Imagens</button>
                                        <br />
                                        <input type="file" name="myfile" id="files" accept="image/jpeg, image/png" />
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="space-12"></div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="@Url.Action("Index", "Seletiva")" class="btn btn-info" data-original-title="Novo">
                                    <i class="ace-icon fa fa-reply bigger-110"></i> Voltar
                                </a>

                                <button type="button" class="btn btn-success" id="btnSalvar">
                                    <i class="ace-icon fa fa-check"></i> Salvar
                                </button>
                            </div>
                        </div>

                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var jurados = [];
    var urlIndex = '@Url.Action("Index", "Evento")';
    var urlCreate = '@Url.Action("Create", "Evento")';
    jQuery(function ($) {
        var demo1 = $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox({ infoTextFiltered: '<span class="label label-purple label-lg">Filtered</span>' });
        var container1 = demo1.bootstrapDualListbox('getContainer');
        container1.find('.btn').addClass('btn-white btn-info btn-bold');

        if (window.File && window.FileList && window.FileReader) {
            $("#files").on("change", function (e) {

                var files = e.target.files,
                  filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {

                        var file = e.target;
                        $("<div class=\"col-md-6 center bordered\" style=\"border:4px solid\"><span class=\"pip\">" +
                          "<img height=\"30%\" width=\"30%\" class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                          "<br /><input type=\"button\" value=\"Remover\" class=\"btn btn-danger remove\">" +
                          "</span></div>").insertAfter("#files");

                        $(".remove").click(function () {
                            $(this).closest("div").remove();
                        });
                    });
                    fileReader.readAsDataURL(f);
                }
            });
        }
        else {
            alert("Your browser doesn't support to File API")
        }
    });

</script>
<script src="~/Contents/assets/js/src/jquery.datetimepicker.full.js"></script>
<script src="~/Contents/components/_mod/bootstrap-duallistbox/jquery.bootstrap-duallistbox.js"></script>
<script src="~/Contents/components/_mod/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="~/Contents/components/select2/dist/js/select2.js"></script>
<script src="~/Contents/assets/pages/Mensagem.js"></script>
<script src="~/Contents/assets/pages/Seletiva/AdmSeletiva.js"></script>
<script src="~/Contents/assets/pages/Comum.js"></script>