﻿@model List<MKF.Web.Models.SeletivaViewModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Seletiva</a>
        </li>
        <li class="active">Seletivas</li>
    </ul>
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-header">
        <h1>
            Consultar Seletiva
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Seletiva", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">

                        <a href="@Url.Action("Create", "Seletiva")" class="btn btn-info" data-original-title="Novo">
                            <i class="ace-icon fa fa-check bigger-110"></i> Novo
                        </a>
                    </div>
                </div>

                if (Model != null)
                {
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> Nome </th>
                                <th> Evento </th>
                                <th> Data Evento </th>
                                <th> Data Seletiva </th>
                                <th> Local  </th>
                                <th> Status  </th>
                                <th> Ações </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.Nome </td>
                                    <td> @item.DadosEvento.Nome </td>
                                    <td>
                                        @(!item.DadosEvento.DataInicio.HasValue ? string.Empty : item.DadosEvento.DataInicio.Value.ToString("dd/MM/yyyy HH:mm"))
                                    </td>
                                    <td>
                                        @(!item.DataFim.HasValue ? string.Empty : item.DataFim.Value.ToString("dd/MM/yyyy HH:mm"))
                                    </td>
                                    <td>
                                        @item.Local.LocalSeletiva
                                    </td>
                                    <td>
                                        @if (item.Status == 0)
                                        {
                                            <span class="label label-sm label-success"> Ativo </span>
                                        }
                                        else if (item.Status == 1)
                                        {
                                            <span class="label label-sm label-danger"> Inativo </span>
                                        }
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <a href="@Url.Action("Edit", "Seletiva", new { @id = item.Id, @url = Url.Action("Create", "Seletiva") })" class="blue tooltip-info editar" data-rel="tooltip" title="Editar">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>
                                            <a href="@Url.Action("Inscricao", "Seletiva", new {idSeletiva = item.Id })" id="@item.Id" class="blue tooltip-info" data-rel="tooltip" title="Inscrever Criança">
                                                <i class="ace-icon fa fa-user-plus bigger-130"></i>
                                            </a>
                                            <a href="@Url.Action("Seletiva", "Relatorio", new {idSeletiva = item.Id, nomeSeletiva = item.Nome })" id="@item.Id" class="blue tooltip-info" data-rel="tooltip" title="Inscritos na Seletiva">
                                                <i class="ace-icon fa fa-users bigger-130"></i>
                                            </a>
                                            <a href="@Url.Action("MapaSeletiva", "Relatorio", new {idSeletiva = item.Id, nomeSeletiva = item.Nome })" id="@item.Id" class="blue tooltip-info" data-rel="tooltip" title="Mapa da Seletiva">
                                                <i class="ace-icon fa fa-map-marker bigger-130"></i>
                                            </a>
                                            <a href="@Url.Action("EscolherAprovados", "Relatorio", new { idSeletiva = item.Id, nomeSeletiva = item.Nome })" id="@item.Id" class="blue tooltip-info" data-rel="tooltip" title="Aprovar Crianças">
                                                <i class="ace-icon fa fa-check bigger-130"></i>
                                            </a>
                                            <a href="#" id="@item.Id" data-url="@Url.Action("Delete", "Seletiva")" data-control="Seletiva" class="red tooltip-error excluir" data-rel="tooltip" title="Excluir">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>
<script src="~/Contents/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/Contents/components/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Contents/components/_mod/datatables/jquery.dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('[data-rel=tooltip]').tooltip();
        $('#dynamic-table').dataTable({
            destroy: true,
            searching: false,
            ordering: false,
            "bJQueryUI": true,
            "oLanguage": {
                "sProcessing": "Processando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Não foram encontrados resultados",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "sInfoFiltered": "",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Seguinte",
                    "sLast": "Último"
                }
            }
        });
    });
</script>
<script src="~/Contents/assets/js/DeleteItem.js"></script>