﻿@model MKF.Web.Models.InscricaoViewModel
@{
    ViewBag.Title = "Inscricao";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
    <script src="~/Content/assets/js/ace-extra.js"></script>
    <script src="~/Content/assets/components/jquery/dist/jquery.js"></script>
    <script src="~/Content/assets/components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript"
            src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js">
    </script>

    <style type="text/css">
        #loading {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,0.8);
            z-index: 1000;
        }

        #loadingcontent {
            display: table;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        #loadingspinner {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            text-align: center;
            font-size: larger;
            padding-top: 80px;
        }

        .titulo_menu {
            font-family: 'Helvetica Neue,Helvetica,Arial,sans-serif';
            padding-left: 15px;
            padding-top: 20px;
            font-size: 24px;
            color: #FFF;
            font-weight: bold;
        }

        .page-logo img {
            padding-top: 10px;
        }
    </style>
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="widget-title lighter">Inscrição</h4>
                </div>
                @Html.Hidden("UrlImagem", Url.Action("SalvarImagemCrianca", "Seletiva"))
                @Html.Hidden("UrlPagamento", Url.Action("Pagamento", "Seletiva"))
                <div class="widget-body">
                    <div class="widget-main">
                        <!-- #section:plugins/fuelux.wizard -->
                        <div id="fuelux-wizard-container">
                            <div>
                                <!-- #section:plugins/fuelux.wizard.steps -->
                                <ul class="steps">
                                    <li data-step="1" class="active">
                                        <span class="step">1</span>
                                        <span class="title">Regulamento</span>
                                    </li>

                                    <li data-step="2">
                                        <span class="step">2</span>
                                        <span class="title">Criança</span>
                                    </li>

                                    <li data-step="3">
                                        <span class="step">3</span>
                                        <span class="title">Responsáveis</span>
                                    </li>
                                    <li data-step="4">
                                        <span class="step">4</span>
                                        <span class="title">Manequim</span>
                                    </li>
                                    <li data-step="5">
                                        <span class="step">5</span>
                                        <span class="title">Autorização de Imagem</span>
                                    </li>
                                    <li data-step="6">
                                        <span class="step">6</span>
                                        <span class="title">Pagamento</span>
                                    </li>
                                    <li data-step="7">
                                        <span class="step">7</span>
                                        <span class="title">Confirmação</span>
                                    </li>
                                </ul>

                                <!-- /section:plugins/fuelux.wizard.steps -->
                            </div>
                            <hr />
                            <!-- #section:plugins/fuelux.wizard.container -->
                            <div class="step-content pos-rel">
                                <div class="step-pane regulamento active" data-step="1">
                                    @Html.Partial("~/Areas/Administrador/Views/Seletiva/Partial/_regulamento.cshtml", Model.Seletiva)
                                </div>
                                <div class="step-pane dadoscrianca" data-step="2">
                                    <span>dadoscrianca</span>
                                    @Html.Partial("~/Areas/Administrador/Views/Seletiva/Partial/_dadosCrianca.cshtml", Model.Modelo)
                                </div>
                                <div class="step-pane responsaveis" data-step="3">
                                    <span>responsaveis</span>
                                    @Html.Partial("~/Areas/Administrador/Views/Seletiva/Partial/_responsaveis.cshtml", Model.Modelo)
                                </div>
                                <div class="step-pane manequim" data-step="4">
                                    <span>manequim</span>
                                    @Html.Partial("~/Areas/Administrador/Views/Seletiva/Partial/_manequim.cshtml", Model.Modelo)
                                </div>
                                <div class="step-pane autorizacao" data-step="5">
                                    <span>autorizacao</span>
                                    @Html.Partial("~/Areas/Administrador/Views/Seletiva/Partial/_autorizacao.cshtml", Model.Modelo)
                                </div>
                                <div class="step-pane pagamento" data-step="6">
                                    <span>pagamento</span>
                                    @Html.Partial("~/Areas/Administrador/Views/Seletiva/Partial/_pagamento.cshtml", Model.Pagamento)
                                </div>
                                <div class="step-pane finalizar" data-step="7">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Pré inscrição</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Modelo.Inscricao, new { @class = "col-xs-10 col-sm-6", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="well well-lg">
                                                <h4 class="blue">Finalização</h4>
                                                <p>Você receberá um e-mail assim que o pagamento for aprovado. Caso não receba o e-mail da confirmação do cadastro, entre em contato junto ao administrador do sistema.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="wizard-actions">
                            <!-- #section:plugins/fuelux.wizard.buttons -->
                            <button class="btn btn-voltar hide">
                                <i class="ace-icon fa fa-arrow-left"></i>
                                Voltar
                            </button>

                            <button class="btn btn-success btn-avancar" data-last="Fechar">
                                Avançar
                                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                            </button>
                            <!-- /section:plugins/fuelux.wizard.buttons -->
                        </div>

                        <!-- /section:plugins/fuelux.wizard -->
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
<div id="my-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="widget-box widget-color-red2">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title smaller">Atenção: Para avançar no cadastro certifique dos erros abaixo!</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="my-body">


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Close
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            <img src="~/Imagens/lg.rotating-balls-spinner.gif" />
        </p>
    </div>
</div>
<script src="~/Contents/assets/pages/Seletiva/AdmInscricao.js"></script>
<script>
    $(document).ready(function () {
        $('.cpf').mask('999.999.999-99');
        $('.cep').mask('99999-999');
        $('[data-rel=tooltip]').tooltip();
        $(".btn-avancar").click(function (e) {
            e.preventDefault();
            $("#loading").show();
            var step = 0;
            $(".pos-rel").find('.active').each(function (item) {
                step = $(this).data("step");
                if (step == "1") {
                    if (ValidarAceiteRegulamento()) {
                        $('[data-step="2"]').addClass('active');
                        $(".regulamento").removeClass('active')
                        $('.dadoscrianca').addClass('active');
                        $('.btn-voltar').removeClass('hide');
                    }
                }
                else if (step == "2") {
                    if (ValidarDadosCrianca()) {
                        $('[data-step="3"]').addClass('active');
                        $(".dadoscrianca").removeClass('active')
                        $('.responsaveis').addClass('active');
                    }
                }
                else if (step == "3") {
                    if (ValidarResponsaveis()) {
                        $('[data-step="4"]').addClass('active');
                        $(".responsaveis").removeClass('active')
                        $('.manequim').addClass('active');
                    }
                }
                else if (step == "4") {
                    if (ValidarManequim()) {
                        $('[data-step="5"]').addClass('active');
                        $(".manequim").removeClass('active')
                        $('.autorizacao').addClass('active');
                    }
                }
                else if (step == "5") {
                    if (ValidarAceiteAutImagem()) {
                        $('[data-step="6"]').addClass('active');
                        $(".autorizacao").removeClass('active')
                        $('.pagamento').addClass('active');
                    }
                }
                else if (step == "6") {
                    if (ValidarPagamento()) {
                        $('[data-step="7"]').addClass('active');
                        $(".pagamento").removeClass('active')
                        $('.finalizar').addClass('active');
                        $('.btn-avancar').addClass('hide');
                    }
                }
            });
            $("#loading").hide();
        });

        $(".btn-voltar").click(function (e) {
            e.preventDefault();
            $("#loading").show();
            var step = 0;
            $(".pos-rel").find('.active').each(function (item) {
                step = $(this).data("step");
                if (step == "2") {
                    $('[data-step="2"]').removeClass('active');
                    $(".dadoscrianca").removeClass('active')
                    $('.regulamento').addClass('active');
                    $('.btn-voltar').addClass('hide');
                }
                else if (step == "3") {
                    $('[data-step="3"]').removeClass('active');
                    $(".responsaveis").removeClass('active')
                    $('.dadoscrianca').addClass('active');
                }
                else if (step == "4") {
                    $('[data-step="4"]').removeClass('active');
                    $(".manequim").removeClass('active')
                    $('.responsaveis').addClass('active');
                }
                else if (step == "5") {
                    $('[data-step="5"]').removeClass('active');
                    $(".autorizacao").removeClass('active')
                    $('.manequim').addClass('active');
                }
                else if (step == "6") {
                    $('[data-step="6"]').removeClass('active');
                    $(".pagamento").removeClass('active')
                    $('.autorizacao').addClass('active');
                }
                else if (step == "7") {
                    $('[data-step="7"]').removeClass('active');
                    $(".finalizar").removeClass('active')
                    $('.pagamento').addClass('active');
                    $('.btn-avancar').removeClass('hide');
                }
            });

            $("#loading").hide();
        });
    });
</script>